---
regenerate: true
layout: none
---

/*
 * Copyright 2020 seL4 Project a Series of LF Projects, LLC.
 * SPDX-License-Identifier: GPL-2.0-only
 */

@import "tailwindcss";
@import "../../_includes/theme.css";

@plugin "@tailwindcss/typography";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@custom-variant light (@media(prefers-color-scheme: light));

@utility text-dark {
  @apply text-darkcol dark:text-darkcol_inv;
}

@utility text-light {
  @apply text-lightcol dark:text-lightcol_inv;
}

@utility inline-icon {
  @apply h-[1rem] w-[1rem] mb-[0.15rem] inline-flex text-current;
}

@utility text-sm-base {
  @apply text-sm sm:text-base;
}

@utility p-white {
  @apply p-10 bg-white;
}

@utility on-dark-btn-colors {
  @apply text-gray-900 bg-slate-400 hover:bg-slate-500;
}

@utility outline-btn-nodark-classes {
  @apply rounded-md px-3 py-2 bg-white text-gray-900 hover:bg-gray-50 text-xs md:text-sm font-semibold shadow-xs ring-1 ring-inset ring-gray-300 h-8 md:h-9;
}

@utility theprose-nodark {
  @apply prose lg:prose-lg max-w-(--breakpoint-md);
}

@utility theprose {
  @apply prose lg:prose-lg max-w-(--breakpoint-md) dark:prose-invert;
}

@utility speakers_grid {
  @apply my-8 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-16 gap-y-6 justify-center align-middle;
}

@utility speaker {
  @apply grid grid-cols-1 grid-rows-[250px_2rem_3rem];

  & a {
    @apply no-underline! hover:underline!;
  }
}

@utility speaker_pic {
  @apply flex flex-col align-middle justify-center mb-8;

  & img {
    @apply rounded-lg shadow-lg;
  }
}

@utility people_grid {
  @apply my-8 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-x-8 gap-y-6 w-full justify-center align-middle;
}

@utility person {
  @apply rounded-2xl p-4 text-center text-sm
            grid grid-cols-1 grid-rows-[120px_4em_4em] justify-center align-middle;
  @apply hover:bg-gray-100 dark:hover:bg-gray-800;
}

@utility person_no_link {
  @apply rounded-2xl p-4 text-center text-sm
            grid grid-cols-1 grid-rows-[120px_4em_4em] justify-center align-middle;
}

@utility person_pic {
  & img {
    @apply rounded-md shadow-md mx-auto my-auto;
  }
}

@utility card-grid-3 {
  @apply grid grid-cols-2 sm:grid-cols-3 gap-10 pb-12 sm:pb-20;
}

@utility card-grid-4 {
  @apply grid grid-cols-2 grid-rows-2 md:grid-cols-4 md:grid-rows-1 gap-10 pb-12 md:pb-20;
}

@utility dropbtn {
  @apply flex items-center gap-x-1 text-sm font-semibold leading-6 text-dark;
}

@utility drop-icon {
  @apply h-5 w-5 flex-none text-gray-400;
}

@utility button {
  @apply rounded-md bg-accentdark px-3.5 py-2.5 text-sm font-semibold text-white shadow-md hover:bg-accent;
}

@utility button-outline {
  @apply outline-btn-nodark-classes dark:ring-0 dark:font-normal dark:on-dark-btn-colors;
}

@utility button-outline-nodark {
  @apply outline-btn-nodark-classes;
}

@utility button-on-dark {
  @apply rounded-md px-3 py-2 h-8 md:h-9 text-center text-xs md:text-sm font-semibold on-dark-btn-colors;
}

@utility arrow-link {
  @apply text-sm font-semibold text-f_green-600;
}

.arrow-link::after {
  content: ' →';
}

@utility a-underline {
  @apply [&_a]:underline;
}

@utility menu-item-group {
  @apply relative flex gap-x-6 rounded-lg p-4 hover:bg-gray-50;
}

@utility menu-icon-div {
  @apply mt-1 flex h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white;
}

@utility menu-icon {
  @apply h-6 w-6 text-lightcol group-hover:text-accentdark;
}

@utility menu-one-col {
  @apply absolute -left-8 top-full z-10 mt-4 w-screen max-w-md overflow-hidden rounded-3xl bg-white text-sm leading-6 shadow-lg ring-1 ring-gray-900/5 opacity-0;
}

@utility dropbtn-mobile {
  @apply flex w-full items-center justify-between rounded-lg py-2 pl-3 pr-3.5 text-base font-semibold leading-7 text-darkcol hover:bg-gray-50;
}

@utility mobile-menu {
  @apply mt-2 space-y-2;
}

@utility section-borders {
  @apply px-6 lg:px-8 pt-6 sm:pt-8 pb-12 sm:pb-20;
}

@utility section-max-w {
  @apply mx-auto max-w-3xl;
}

@utility h2-size {
  @apply font-bold tracking-tight text-dark text-2xl sm:text-4xl;
}

@utility h3-size {
  @apply font-semibold tracking-tight text-dark text-xl sm:text-2xl;
}

@utility monospace {
  @apply font-mono;
}

@layer base {
  html {
    font-family: "Roboto", system-ui, sans-serif;
  }
}

/* has enough specificity for styles like "prose": */
a.button,
a.button-outline,
a.button-outline-nodark,
a.button-on-dark,
a.arrow-link,
/* for more specificity, to override the ".card-layout p a" rules: */
.card-layout a.button,
.card-layout a.button-outline,
.card-layout a.button-outline-nodark,
.card-layout a.button-on-dark,
.card-layout a.arrow-link {
  @apply no-underline;
}

.card-layout p a,
.card-layout li a {
  @apply underline;
}

.dropmenu {
  display: none;
  opacity: 0;
}

.on {
  display: block;
  opacity: 1;
  translate: 0 -3px;
}

.mobile-on {
  display: block;
}

#toc {
  @apply pb-24;
}

.toc-h2 {
  @apply font-semibold mb-4 text-dark overflow-hidden text-ellipsis;
}

.toc-h3 {
  @apply ml-6 font-normal mt-2 text-sm text-light overflow-hidden text-ellipsis;
}

.data-table {
  @apply text-xs sm:text-sm;
}

table.data-table {
  @apply border-collapse max-w-4xl mx-auto break-words text-dark;
}

.data-table th {
  @apply text-left px-3 py-2 border-t-2 border-b-2 border-darkcol dark:border-darkcol_inv;
}

.data-table td, td.data-table-right {
  @apply px-3 py-1.5;
}

td.data-table-right {
  @apply text-right;
}

td.data-table-right, td.data-mean, td.data-stddev {
  @apply break-normal whitespace-nowrap;
}

td.data-mean {
  @apply px-3 py-1.5 text-right;
}

td.data-stddev {
  @apply pl-1 pr-2 py-1.5;
}
