<!--<title>Summit abstract</title>-->
<!--
    Copyright 2024, seL4 summit authors (see abstracts)
    SPDX-License-Identifier: CC-BY-SA-4.0
-->
<h4 class="summit-abstract-title">
    Transitioning from CAmkES VMM to MicroKit VMM
</h4>
<p class="summit-abstract-type">
    Talk
</p>
<p class="summit-abstract-author">
    Presented by <mark>TBD</mark>, <span class="summit-abstract-affiliation">DornerWorks</span>
</p>
<p>
    <mark>Content TBC by author</mark><br>
    This talk presents an experience report on migrating seL4-based systems from the CAmkES VMM to the Microkit VMM. Microkit is a simple framework and SDK created to enable more efficient designs and lower the barrier to entry to seL4. The presentation will compare and contrast MicroKit with CAmkES and include a short porting overview for virtual machine development. In addition, it will examine how MicroKit can make learning and developing seL4-based systems easier and breakdown roadblocks encountered by new users. We will present our gap analysis between the two VMMs and the work that we have done to lower that gap. Then we will highlight what gaps still need to be addressed so users can start developing real-world products.
</p>
