<p><p>
    In this talk we will present Proofcraft's roadmap for producing a verified static multikernel configuration of seL4, allowing the use of multiple CPU cores with one kernel per core. In this roadmap, we are planning to increase formal assurance incrementally, providing a tractable path to multicore verification
with early usable results for the seL4 community.
</p>
<p><p>
    Formally proving correctness on a multicore platform requires the ability to model fully concurrent execution, and then prove that any interactions either do not occur or are safe. This requires a new formal model of execution, supporting concurrency reasoning.
</p>
<p><p>
    We will report on our progress in building such a framework, with the aim to maximise the reuse of existing proofs. We will also present how starting with a static multikernel design is the fastest path to providing the community with an seL4 kernel that allows utilisation of multiple processor cores, opening the path to building multicore seL4-based systems that come with a formal proof of correctness.
</p>
