<!--<title>Summit abstract</title>-->
<!--
    Copyright 2024, seL4 summit authors (see abstracts)
    SPDX-License-Identifier: CC-BY-SA-4.0
-->
<h4 class="summit-abstract-title">
    Securing ROS Systems with seL4
</h4>
<p class="summit-abstract-type">
    Talk
</p>
<p class="summit-abstract-author">
    Presented by <mark>TBD</mark>, <span class="summit-abstract-affiliation"></span>
</p>
<p>
    <mark>Content TBC by author</mark><br>
    Robotic applications are already transforming the way we live, but in the rush to deploy these systems security is often left by the wayside. Without any security, a compromised robot could surreptitiously spy on an end user or subtly/overtly cause harm to the environment in which it operates. While securing such systems with seL4 seems like an obvious solution, the lack of support for common software APIs and middleware presents a significant hurdle. Once this is overcome wider adoption of seL4 and more resilient robotic systems would be enabled. This presentation will show how the cyber-retrofit approach is being used to enable secure autonomous operation of an x86 based ground vehicle, how this approach is being extended to enable native seL4 ROS applications, and the barriers to further system hardening.
</p>
