---
# Copyright 2023 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Call for Presentations
title: Call for Presentations
pre: "The seL4 Summit 2023"
pre_link: "./"
layout: card
redirect_from: /Foundation/Summit/2023/cfp.html
---
{% include cfp-heading.html
  about = 'The seL4 Summit gathers the seL4 community to learn, share and connect. The program committee solicits talks on a wide range of seL4-related <a href="#topics">topics</a>.'
%}

<!-- Important dates section -->
{% include summit-important-dates.html
  abstracts_date = "24 April 2023"
  decisions_date = "9 June 2023"
  summit_date = "19 - 21 September 2023"
%}
{% include section-end-without-up-arrow.html %}



<!-- Overview section -->
{% include section-start.html
  id = "overview"
  heading = "Overview"
  intro = '
      <div class="theprose dark:text-light">
      <p>
        The <a href="./">seL4 Summit</a> aims at gathering the seL4 community to
        <strong>learn</strong>, <strong>share</strong>, and <strong>connect</strong>:
      </p>
      <ul>
        <li>
          <strong>learn</strong> about the seL4 technology, its latest progress, use,
          successes, challenges, plans;
        </li>
        <li>
          <strong>share</strong> exciting seL4 development, research, experience,
          applications in the real world;
        </li>
        <li>
          <strong>connect</strong> with other seL4 developers, users, providers,
          supporters, potential partners, and enthusiasts.
        </li>
      </ul>
      <p>
        The seL4 Summit covers the complete seL4 ecosystem, consisting of the verified
        microkernel, as well as all seL4-related technology, tools, infrastructure,
        products, projects, and people.
      </p>
      <p>
        The seL4 Summit 2023 will be in Minneapolis, USA.
      </p>
    </div>'
%}
{% include section-end.html %}



<!-- Topics section -->
{% include section-start.html
  id = "topics"
  heading = "Topics"
  intro = '
    <div class="theprose dark:text-light">
    <p>
      The <a href="./#pc">Program Committee</a> solicits proposals on any seL4-related topic, in particular in the areas of:
    </p>
    <ul>
      <li>
      seL4 on-going and planned R&D, mature or early stage
        <ul>
        <li>
        seL4 research efforts
        </li>
        <li>
        seL4 development efforts
        </li>
        <li>
        work-in-progress seL4 development
        </li>
        <li>
        student work on seL4
        </li>
        <li>
        new/missing/next-gen kernel mechanisms
        </li>
        <li>
        seL4-related roadmaps: what you plan to work on and when
        </li>
        <li>
        seL4 grand challenges
        </li>
        <li>
        OS frameworks and services
        </li>
        <li>
        seL4 userland with programming language support beyond C
        </li>
        <li>
        High performance systems based on seL4: pushing the boundaries
        </li>
        </ul>
      </li>
      <li>
      seL4 experience reports
        <ul>
        <li>
        experience with deploying seL4 in the field, in commercial/deployed products
        </li>
        <li>
        experience with teaching seL4
        </li>
        <li>
        experience with seL4 in certification schemes and application of industry standards
        </li>
        <li>
        experience with “building a business case for using a verified kernel”
        </li>
        <li>
        experience with porting software from other OSes
        </li>
        </ul>
      </li>
      <li>
      seL4 and hardware
        <ul>
        <li>
        ports to new hardware platforms or architectures
        </li>
        <li>
        multicore systems
        </li>
        <li>
        virtualisation
        </li>
        <li>
        new/proposed hardware features or architectures, which could also enable or broaden the scope of formal reasoning (e.g. about time protection)
        </li>
        <li>
        seL4 in embedded processors on FPGAs, and impact of assured separation
        </li>
        <li>
        IOMMU solutions for various hardware architectures and impact for seL4
        </li>
        </ul>
      </li>
      <li>
      seL4 and assurance
        <ul>
        <li>
        application-level verification leveraging seL4 proofs
        </li>
        <li>
        correctness, spatial separation, temporal separation, and real-time proofs
        </li>
        <li>
        formalised interface between or composition of kernel-level proofs and user-level proofs
        </li>
        <li>
        verification engineering at scale, scaling verification productivity
        </li>
        <li>
        security/safety impact/assurance/certification for an seL4-based system
        </li>
        </ul>
      </li>
      </ul>
    </div>'
%}
{% include section-end.html %}


<!-- Submission section -->
{% include section-start.html
  id = "submissions"
  heading = "Submissions"
  intro = '
    <p>
      If you would like to propose a talk, please upload an abstract of
      <strong>one page or less</strong> for your proposed talk <strong>by 24
      April 2023</strong> on the <strong><a href="submit.html">submission
      portal</a></strong>. Abstracts should indicate why the talk fits the scope
      of the seL4 Summit. Notifications of accepted presentations will be made
      by 2 June 2023.
    </p>
    <p>
      If you&apos;d love to hear about some specific work from other people in
      the community, we encourage you to reach out to them to incite them to
      submit a proposal. :-) Alternatively, let us know at <a
      title="summit@sel4.systems"
      href="mailto:summit@sel4.systems">summit@sel4.systems</a>.
    </p>'
%}
{% include section-end.html %}



<!-- Contact section -->
{% include section-start.html
  id = "contact"
  heading = "Contact"
  intro = '
  <p>
    If you have questions, please do not hesitate to contact the seL4 Foundation summit team at <a
      title="summit@sel4.systems" href="mailto:summit@sel4.systems">summit@sel4.systems</a>.
  </p>'
%}
{% include section-end.html %}
