---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Colour palette
layout: card
background: false
---

<p>logogreen = f_green-400</p>
{% include palette.html col="f_green" %}
{% include palette.html col="f_yellow" %}
{% include palette.html col="f_red" %}
{% include palette.html col="f_blue" %}
{% include palette.html col="f_neutral" %}
{% include palette.html col="slate" %}
{% include palette.html col="gray" %}

<div class="mt-2 mb-6 mx-auto">
  <div>darkblue (background)</div>
  <div class="flex flex-none">
    <div class="bg-darkblue p-5 m-3 text-sm"></div>
  </div>
</div>

<h2 class="mt-12">Text colors</h2>

<p class="m-2 p-4 text-darkcol">darkcol. Proident sint amet sint cupidatat
  aliqua sit. Elit qui pariatur fugiat ex anim excepteur mollit laborum do esse.
  Lorem excepteur dolor elit nisi tempor exercitation enim dolore in quis. Aliqua
  ut et qui culpa et fugiat. Exercitation est Lorem cupidatat occaecat consectetur
  id aliqua tempor cillum proident.
</p>
<p class="m-2 p-4 text-lightcol">lightcol. Proident sint amet sint cupidatat
  aliqua sit. Elit qui pariatur fugiat ex anim excepteur mollit laborum do esse.
  Lorem excepteur dolor elit nisi tempor exercitation enim dolore in quis. Aliqua
  ut et qui culpa et fugiat. Exercitation est Lorem cupidatat occaecat consectetur
  id aliqua tempor cillum proident.</p>
<p class="m-2 p-4 text-accent">accent. Proident sint amet sint cupidatat aliqua
  sit. Elit qui pariatur fugiat ex anim excepteur mollit laborum do esse. Lorem
  excepteur dolor elit nisi tempor exercitation enim dolore in quis. Aliqua ut et
  qui culpa et fugiat. Exercitation est Lorem cupidatat occaecat consectetur id
  aliqua tempor cillum proident.</p>
<p class="m-2 p-4 text-accentdark">accentdark. Proident sint amet sint cupidatat
  aliqua sit. Elit qui pariatur fugiat ex anim excepteur mollit laborum do esse.
  Lorem excepteur dolor elit nisi tempor exercitation enim dolore in quis. Aliqua
  ut et qui culpa et fugiat. Exercitation est Lorem cupidatat occaecat consectetur
  id aliqua tempor cillum proident.</p>

<div class="bg-darkblue">
  <p class="m-2 p-4 text-darkcol_inv">darkcol_inv. Proident sint amet
    sint cupidatat aliqua sit. Elit qui pariatur fugiat ex anim excepteur mollit
    laborum do esse. Lorem excepteur dolor elit nisi tempor exercitation enim dolore
    in quis. Aliqua ut et qui culpa et fugiat. Exercitation est Lorem cupidatat
    occaecat consectetur id aliqua tempor cillum proident.</p>
  <p class="m-2 p-4 text-lightcol_inv">lightcol_inv. Proident sint
    amet sint cupidatat aliqua sit. Elit qui pariatur fugiat ex anim excepteur
    mollit laborum do esse. Lorem excepteur dolor elit nisi tempor exercitation enim
    dolore in quis. Aliqua ut et qui culpa et fugiat. Exercitation est Lorem
    cupidatat occaecat consectetur id aliqua tempor cillum proident.</p>
  <p class="m-2 p-4 text-accentlight">accentlight. Proident sint amet
    sint cupidatat aliqua sit. Elit qui pariatur fugiat ex anim excepteur mollit
    laborum do esse. Lorem excepteur dolor elit nisi tempor exercitation enim dolore
    in quis. Aliqua ut et qui culpa et fugiat. Exercitation est Lorem cupidatat
    occaecat consectetur id aliqua tempor cillum proident.</p>
</div>

