---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Contact
layout: card
redirect_from:
- /contact/home.pml
- /contact/index.html
- /Foundation/Contact/index.html
---

<div class="mx-auto max-w-7xl -mt-12 pb-16 lg:pb-20">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-8 xl:gap-x-14 gap-y-18">
    <div class="max-w-xl mx-auto">
      {% include contact-item.html
      icon="chat-bubble-left-right"
      text='If you need help and open source support using or developing on seL4, visit the
      <a href="support.html">
        Help &amp; Open Source Support page</a>.'
      %}

      {% include contact-item.html
      icon="rocket-launch"
      text='If you are after professional commercial support, see the list of
      <a href="Foundation/Services/index.html">
        Endorsed Service Providers</a>.'
      %}

      {% include contact-item.html
      icon="bug-ant"
      text='To report or discuss a potential security vulnerability, follow the
      <a href="https://github.com/seL4/seL4/blob/master/SECURITY.md">
        Vulnerability disclosure policy</a>.'
      %}
    </div>
    <div class="max-w-xl mx-auto">
      {% include contact-item.html
      icon="envelope"
      text='For requests or queries about community moderation based on the
      <a href="https://docs.sel4.systems/processes/conduct.html">seL4 Code
        of Conduct</a>, email'
      email="moderation@sel4.systems"
      %}

      {% include contact-item.html
      icon="envelope"
      text='For information about the seL4 Foundation, or anything that can&apos;t be
      discussed in public, or anything else not covered above, email'
      email="foundation@sel4.systems"
      %}
    </div>
  </div>
</div>
