---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: seL4 Research
layout: card
---

<div class="px-6 pt-6 sm:pt-8 pb-12 sm:pb-20 lg:px-8 section-borders">
  <div class="section-max-w text-center">
    <p class="pre-heading">seL4 research</p>
    <h1>Award-winning technology backed by ground-breaking research</h1>
    <div class="mt-6 sub-heading">
      <p>seL4 is unique because of its comprehensive formal verification.</p>
      <p>seL4 is <a href="#">open source</a>, available on <a
          href="https://github.com/seL4/">GitHub</a>, and supported by the <a href="../Foundation/">seL4 Foundation</a>.
      </p>
  </div>
  </div>
</div>

<!--FIXME: try to have cards with pictures for nicer look-->

<div class="card-grid-4">
  {% include card.html
     icon="light-bulb"
     title="Awards"
     body="seL4 has received a number of awards"
     link="res_awards.html"
  %}

  {% include card.html
     icon="document"
     title="Key Publications"
     body="Key papers and articles about the seL4 technology, its design
     principles, its applications, etc."
     link="res_pubs.html"
  %}

  {% include card.html
     icon="building-library"
     title="Ongoing Research"
     body="Find out the research ongoing on seL4 and associated technolgies in the ecosystem."
     link="res_ongoing.html"
  %}

  {% include card.html
     icon="question-mark-circle"
     title="Courses"
     body="Courses about seL4-revelant topics: operating systems, microkernels, formal methods, software verification."
     link="res_courses.html"
  %}
</div>
