---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Implications of seL4 Proofs for Certification
pre: 'seL4 Verification'
pre_link: "./"
sub: '
  <p>
    Some explanations. 
  </p>
'
layout: card
---

{% include feature.html
  right=true
  up=true
  h2="seL4 and Common Criteria EAL 7"
  text='
  <p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
  </p>
  <p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
  </p>
  '
  img="../images/tries-shutterstock/certif-security.jpg"
  alt="Security Certification"
%}

<div class="mx-auto max-w-4xl text-lg text-light">

  <p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
  </p>
  <p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
  </p>
</div>



{% include feature.html
  right=true
  up=true
  h2="seL4 and ISO26262 ASIL-D"
  text='
  <p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
  </p>
  <p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
  </p>
  '
  img="../images/tries-shutterstock/certif-car.jpg"
  alt="Futuristic Car"
%}

<div class="mx-auto max-w-4xl text-lg text-light">

  <p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
  </p>
  <p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
  </p>
</div>



{% include feature.html
  right=true
  up=true
  h2="seL4 and DO-178B/DO-178B "
  text='
  <p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
  </p>
  <p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
  </p>
  '
  img="../images/tries-shutterstock/certif-plane.jpg"
  alt="Airplane visualisation"
%}

<div class="mx-auto max-w-4xl text-lg text-light">

  <p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
  </p>
  <p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
  </p>
</div>
