---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: seL4 Proofs &amp Certification
pre: 'seL4 Verification'
pre_link: "./"
sub: '
  <p>
    seL4 formal proofs provide extremely strong evidence that it functions
    correctly and enforces critical security properties. Such evidence are
    commonly required by certification authorities to approve the use of
    computer systems in critical sectors, such as <a href="#CC">Common
    Criteria</a> for security products, with <a href="#ISO26262">ISO 26262</a>
    in the automotive sector, with <a href="#DO178">DO-178B/DO-178C</a> in the
    avionic sector.
  </p>
'
layout: card
---

  <!-- FIXME: why there's a space after the lik to used?-->
  <!-- TODO: contact members to know who would provide certif services and add it to the services list-->


  <div class="mt-12 mb-18 mx-auto section-max-w text-base sm:text-lg text-light
	      text-justify a-underline">

    seL4 is being <a href="../About/use.html">used</a> in critical, highly
    regulated sectors such as automotive, aeropsace, critical infrastructure,
    defense and more.  Certifying a given seL4-based product in one of these
    sectors requires addressing all aspects of the relevant certification
    process. The kernel's open-source, formal proofs address the requirement of
    correctness and security at the the highest possible assurance level. The
    seL4 Foundation's <a href="todo">endorsed service providers</a> can provide
    commercial support for certification processes.
  </div>


  {% include section-certif-start.html
  id="CC"
  heading="seL4 and Common Criteria EAL 7"
  img="../images/certif-security.jpg"
  img-alt="Security Certification"
  %}
    <p>
      The international standard known as Common Criteria focuses on computer
      security certification. Its highest Evaluation Assurance Level, EAL 7,
      mandates a certain degree of formal modelling and verification. The formal
      specifications and proofs provided by seL4 go beyond what is required at
      this highest level.
    </p>
    <p>
      Namely, Common Criteria&apos;s EAL 7 requires a formal model of the security
      policy, functional specification and design specification, with formal
      correspondance between each. From the design specification, it only
      requires an informal mapping to the implementation. In contrast, seL4
      provides a formal proof all the way down to the implementation, and even
      further to the binary.
      <div class="w-4/5 md:w-3/4 lg:w-2/3 my-6 mx-auto aspect-3/2">
	{% svg /images/tries-shutterstock/certif-cc-comparison.drawio.svg width="100%" %}
      </div>
    </p>
    <p>
      More precisely, formal methods are required in Common Criteria&apos;s assurance
      class for product <em>development</em> (the standard contains 5 other
      assurance classes, such as tests, life-cycle support, or vulnerability
      assessment). As shown in the figure below, summarising the requirements
      for the developement class per EAL, the use of formal modelling and
      verification is only required from EAL 6, and only down to the design
      specification level.
      <div class="w-full md:w-9/10 lg:w-5/6 my-6 mx-auto aspect-5/2">
	{% svg /images/tries-shutterstock/certif-cc-adv.drawio.svg width="100%" %}
      </div>
    </p>
    {% include section-end.html %}

<!-- FIXME: some sort of conclusion for the CC part?-->


    {% include section-certif-start.html
    id="ISO26262"
    heading="seL4 and ISO26262 ASIL-D"
    img="../images/certif-car.jpg"
    img-alt="Futuristic Car"
    %}
    <p>
      In the Automotive sector, while not mandatory, the ISO26262 standard for
      functional safety of road vehicles is highly used. To achieve the highest
      safety integrity levels, ISO26262 recommends the use of formal methods
      throughout the development lifecycle. The strength of seL4 formal proofs
      is much higher than what is required by ASIL-D, ISO26262's highest level.
    </p>
    <p>
      Namely, ISO26262 defines an automotive-specific risk-based approach that
      determines risk classes as four Automotive Safety Integrity Levels
      (ASILs), depending on the risk severity, likely exposure and
      controllability. The highest level, ASIL-D, corresponds to events having
      reasonable possibility of causing a life-threatening or fatal injury, with
      the injury being physically possible in most operating conditions, and
      with little chance the driver can do something to prevent the injury.
      <div class="w-full md:w-9/10 lg:w-5/6 my-6 mx-auto aspect-2/1">
	{% svg /images/tries-shutterstock/certif-iso-asil.drawio.svg width="100%" %}
      </div>
    </p>
    <p>
      In ISO26262, formal verification is recommended (not <em>highly</em>) for
      ASIL-C and ASIL-D risk classes. Note that in this standard, <em>formal
      verification</em> is defined as a method used to prove the correctness of
      a system against the specification in formal notation of its required
      behaviour. In other words, only the specification is mandated to be
      formal, and any analysis (including testing) with respect to such a formal
      specification is fulfilling the ISO26262 recommendation for formal
      verification. With its mathematical, machine-checked proofs of correctness
      and security, seL4's assurance level is much stronger than ISO26262
      highest risk recommendations.
      <div class="w-4/5 md:w-3/4 lg:w-2/3 my-6 mx-auto aspect-3/2">
	{% svg /images/tries-shutterstock/certif-iso-fm.drawio.svg width="100%" %}
      </div>
    </p>
    {% include section-end.html %}

    {% include section-certif-start.html
    id="ISO26262"
    heading="seL4 and DO-178C"
    img="../images/tries-shutterstock/certif-plane.jpg"
    img-alt="Airplane visualisation"
    %}
    <p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor
    </p>
    {% include section-end.html %}


