---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Verification
layout: card
no_title_heading: true
---

{% capture sub %}
<p>
   seL4 is the most highly-assured operating system kernel. Its uniqueness
   lies in the formal mathematical proof that it behaves precisely as
   specified and enforces strong security boundaries for applications. This
   makes seL4 the trustworthy foundation of choice for safely running critical
   applications alongside untrusted workloads.
 </p>
<div class="mt-3 w-full sm:w-4/5 md:w-2/3 lg:w-[60%] mx-auto aspect-2/1 px-10 rounded-xl shadow-lg">
   {% svg /images/tries-shutterstock/sel4-trusted-untrusted.drawio.svg width="100%" height="100%" %}
</div>
{% endcapture %}

{% include heading.html
   h1="Verification"
   sub=sub
%}

<!-- FIXME: add text for card on implication for system once page exists -->

<div class="card-grid-3">
  {% include card.html
     icon="check"
     title="The seL4 proofs"
     body="seL4 has machine-checked mathematical proofs from
     high-level specifications to binary code. They establish a number of strong
     properties ranging from functional correctness to absence of information
     leakage, and cover a variety of hardware architectures and platforms."
     link="proofs.html"
  %}

  {% include card.html
     icon="rocket-launch"
     title="Implications for your System"
     body="TODO"
     link="../todo.html"
  %}

  {% include card.html
     center=true
     icon="check-badge"
     title="Implications for Certification"
     body="<p>seL4's formal proofs provide a very high level of assurance,
     commonly required only for the highest levels of certification in critical
     sectors, such as Common Criteria, ISO-26262 and DO-178C. Read more on how
     the proofs affect these certification schemes.</p>"
     link="certification.html"
  %}
</div>

