---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: seL4 Proofs
pre: 'seL4 Verification'
pre_link: ./
sub: '
  <p> seL4 is the world&apos;s mostly assured OS kernel thanks to its extensive
  formal verification. It has machine-checked mathematical proofs of a number of
  properties for various hardware architectures: Arm, RISC-V, and Intel. This
  page describes the high-level statement, the properties being verified, and a
  brief summary of the assumptions and implications. Much more details can be
  found in the FAQ&apos;s verification section.
  </p>
'
---



  {% include section-start.html
  heading='High-level statement'
  id='statement'
  body-max-w='max-w-6xl'
  %}
<p>
  The seL4 proof statement in high-level natural language is the following:
</p>

<p>
  <strong> The binary code (of some configurations) of the seL4 microkernel
    correctly implement the behaviour described in its abstract specification
    and nothing more. Furthermore, the specification and the seL4 binary satisfy
    the classic security properties called integrity and
    confidentiality. </strong>
</p>
<p>
  This implies in particular that <strong>seL4 is free from whole classes of
  common programming errors such as buffer overflows, null pointer dereferences,
  memory leaks, arithmetic exceptions or undefined behaviour</strong>.
</p>
<p>
  seL4 proofs say much more than the absence of these common programming
  errors. They are the strongest evidence that the code is behaving as expecting
  and enforces key security properties that every OS should provide, that very
  few manage to provide, and that no OS has better evidence for than seL4.
</p>

  {% include section-end-without-up-arrow.html %}



  {% include section-start.html
  heading='Properties'
  id='properties'
  body-max-w='max-w-6xl'
  %}

<p>
  The properties proved about seL4 include (not all architectures have all
  properties):
</p>


<div class="mx-auto w-4/5 pl-2 mt-4 aspect-3/2">
{% svg images/tries-shutterstock/proof-stack.drawio.svg width="100%" %}
</div>

<ul class="mt-10 space-y-8 text-light">
  {% include green-tick-li.html
      text="
      <strong>Functional correctness</strong>: the C code behaves exactly as its
      specification says. This is the strongest assurance that the code will not
      have any undesired behaviour."
  %}
  {% include green-tick-li.html
      text="
      <strong>Binary correctness:</strong> the machine code running on the
      processor behaves exactly as the C code, and by extension, as the
      specification."
  %}
  {% include green-tick-li.html
      text="
      <strong>Security:</strong> the specification, and by extension the kernel
      binary, prevents an application running on top from modifying data without
      authorisation (integrity), interfering with another's resource access
      (availability) and learning information without authorisation
      (confidentiality). Together these security properties enforce the
      <strong>isolation</strong> of components running on top of the kernel,
      allowing critical components to securely run alongside untrusted
      software. Integrity and availability are proved in the <tt>Access
      Control</tt> proof. Confidentiality is proved in the <tt>Information Flow</tt>
      (Infoflow) proof."
  %}
  {% include green-tick-li.html
      text="
      <strong>System initialisation:</strong> the proofs above show that seL4
      provides strong security -- when used correctly. To achieve secure
      systems, the components of the system that are supposed to be isolated
      from each other need to be set up with the correct access rights, and that
      setup must satisfy the preconditions of the security theorems.  The seL4
      proof stack has three parts that support this task: the
      <tt>capDL</tt> specification language that lets developers describe access
      control configurations statically, the <tt>system initialiser</tt> that
      takes those descriptions, and automatically configures a system to conform
      to them at boot time, and the
      <tt>CAmkES proofs</tt> that show that the CAmkES component framework
      produces access control configurations that lead to the desired security
      properties."
  %}
</ul>



{% include section-end.html %}


  {% include section-start.html
  heading='Assumptions and implications'
  id='statement'
  body-max-w='max-w-6xl'
  %}


The strength of formal verification strength can be measured across two
dimensions: the strenth of the properties that are verified (from shallow like
absence of certain errors to deep like complete correctness) and distance to
reality..

From security properties down to C code, we use the proof assistant Isabelle/HOL.

From C code to binary code, we employ a set of automated widely-used
verification tools. These are: SONOLAR, Z3, Isabelle/HOL, and HOL4.

  {% include section-end.html %}
