---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: "seL4, an award-winning technology"
layout: card
pre: "seL4 research"
pre_link: "./"
sub: '
	<p>
		The formal verification of seL4 was a breakthrough in both the Systems and
		the Formal Methods research disciplines. Applying the rigour of a
		mathematical computer-checked proof to a high-performance, deployable system was
		a world first. It has since been followed by increasingly stronger
		assurance, as well as demonstrations of prevention of cyber-attacks on
		systems in operation. The international awards for seL4 on this page show
		the influence this work continues to have.
	</p>
	<img src="../images/tries-shutterstock/award.jpeg"
				alt="ACM SIGOPS award" class="mt-8 rounded-lg">'
---

<!-- FIXME: on smaller screens, there is no indication that there is further content after the awards image -->

{% include timeline-start.html %}

      {% include timeline-item.html
      year="2023"
      title="DARPA Game Changer Award for HACMS"
      description="
	  Each year, DARPA, the US Defense Advanced Research Projects Agency,
	  selects the Game Changer program that was the most impactful in the
	  preceding 10 years. In 2023, DARPA's Game Changer award recognised the
	  High-Assurance Cyber Military Systems program (HACMS), which has been
	  instrumental in demonstrating how seL4 can be integrated into
	  real-world products, such as unmanned air and ground vehicles, to
	  provide unprecedented protection against cyber attacks."
      %}

      {% include timeline-item.html
      year="2022"
      title="ACM Software System Award"
      description='
	  The ACM Software System Award, presented annually by the Association for
	  Computing Machinery (ACM) since 1983, honors individuals or
	  organisations "for developing a software system that has had a lasting
	  influence, reflected in contributions to concepts, in commercial
	  acceptance, or both". In
	  2022, <a href="https://awards.acm.org/software-system">seL4 received
	  the ACM Software System Award</a>, recognised as a technology that has
	  "fundamentally changed the research community&apos;s perception of what
	  formal methods can accomplish", also for giving "rise to a new
          discipline of proof engineering".'
      %}

      {% include timeline-item.html
      year="2019"
      title="ACM SIGOPS Hall of Fame Award"
      description='
	   The ACM SIGOPS Hall of Fame Award recognises the most influential
	   Operating Systems papers that were published at least ten years in
	   the past. In
	   2019, <a href="https://www.sigops.org/2019/hof-award-2019/">this
	   prestigious honor went to the seL4 project</a>, acknowledging that
	   the work "has become the basis for a large amount of subsequent work
	   in provably correct systems".'
      %}

      {% include timeline-item.html
      year="2011"
      title="MIT Technology Review's TR10 Award"
      description='
	  MIT Technology Review, founded in 1899 by the Massachusetts Institute
	  of Technology, is a renowned independent media company that each year
	  selects 10 transformative technologies expected to have the biggest
	  impact on the world in the years to come. In 2011, MIT Technology
	  Review <a href="https://www.technologyreview.com/technology/crash-proof-code/">honored
	  seL4 with its prestigious TR10 award,</a> recognizing it as a
	  "computing and mathematical tour de force" that will have "a major
	  impact on the reliability of the entire system", by "making critical
	  software safer".'
      %}

      {% include timeline-item.html
      year="2009"
      title="SOSP Best Paper Award"
      description='
	  The Symposium on Operating Systems Principles (SOSP), organized by the
	  Association for Computing Machinery (ACM), is one of the most
	  prestigious academic conferences on operating systems. In 2009, seL4&apos;s
	  cornerstone paper on the first formal proof of functional correctness
	  of a high-performance microkernel received
	  the <a href="https://www.sigops.org/s/conferences/sosp/2009/program.html">best
	    paper award</a>.'
      %}

{% include timeline-end.html %}
