---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: seL4 Research
pre: "seL4 research"
h1: "Award-winning technology backed by ground-breaking research"
sub: '
  <p>
   seL4 is grounded in research breakthroughs recognised by internationally
   acclaimed awards and high-caliber publications. Research organisations in the
   seL4 ecosystem continue to push the boundaries of what seL4 can achieve. Some
   also provide advanced lectures on Operating Systems and Formal Software
   Verification.
   </p>'
layout: card
---

<div class="card-grid-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-4 mb-8 pb-8">
  {% include card.html
     icon="trophy"
     title="Awards"
     body="seL4 has received a number of awards recognising its global influence and impact."
     link="awards.html"
  %}

  {% include card.html
     icon="document"
     title="Key Publications"
     body="Key papers and articles about seL4, its design principles, and its applications."
     link="publications.html"
  %}

  {% include card.html
     icon="beaker"
     title="Ongoing Research"
     body="Find out the research ongoing on seL4 and associated technologies in the ecosystem."
     link="ongoing.html"
  %}

  {% include card.html
     icon="academic-cap"
     title="Courses"
     body="Courses about seL4-relevant topics: operating systems, microkernels, formal methods, software verification."
     link="courses.html"
  %}
</div>
