---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: seL4 Research
pre: "seL4 research"
h1: "Award-winning technology backed by ground-breaking research"
sub: '
  <p>
    seL4 is grounded in research breakthroughs recognised by international
    acclaimed awards and high-caliber publications. Research organizations keep
    pushing the boundaries of what seL4 can achieve, while providing advanced
    lectures on Operating Systems and Formal Software Verification.
   </p>'
layout: card
---

<div class="card-grid-4">
  {% include card.html
     icon="light-bulb"
     title="Awards"
     body="seL4 has received a number of awards recognising its global influence and impact."
     link="awards.html"
  %}

  {% include card.html
     icon="document"
     title="Key Publications"
     body="Key papers and articles about the seL4 technology, its design
     principles, its applications, etc."
     link="publications.html"
  %}

  {% include card.html
     icon="building-library"
     title="Ongoing Research"
     body="Find out the research ongoing on seL4 and associated technolgies in the ecosystem."
     link="ongoing.html"
  %}

  {% include card.html
     icon="question-mark-circle"
     title="Courses"
     body="Courses about seL4-revelant topics: operating systems, microkernels, formal methods, software verification."
     link="courses.html"
  %}
</div>
