---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Ongoing seL4 Research
pre: "seL4 research"
pre_link: "./"
sub: '
  <p>
    The seL4 ecosystem includes research organizations that are pushing the
    boundaries of what seL4 can achieve and provide. The following is a list
    of research groups working on seL4-related projects. If you would like
    to be added to this list, please contact us at
    <a title="foundation@sel4.systems" href="mailto:foundation@sel4.systems">foundation@sel4.systems</a>.
  </p>
  <img src="../images/tries-shutterstock/research.jpg" alt="Research" class="rounded-lg mt-8">
'
layout: card
---

<!--FIXME: decide on an order-->



{% include feature.html
  right=true
  up=true
  h2="Trustworthy Systems<br> UNSW Sydney, Australia"
  text='
  <p class="font-semibold pb-6 relative">
    Key
    people: <a href="https://trustworthy.systems/people/?cn=Gernot+Heiser">Gernot
      Heiser</a>
  </p>
  <p>
    Trustworthy Systems (TS) is a research group in the School of Computer
    Science and Engineering (CSE) at UNSW Sydney. TS works on building highly
    secure operating systems for the real world. Their approach is based on
    highly principled designs that support the use of rigorous formal methods to
    ensure security and reliability without compromising performance.
  </p>
  <p>
    Currently, TS&apos;s main activities are: Time protection, a principled,
    fundamental approach for the systematic prevention of timing channels and
    its implementation and verification in seL4; LionsOS, an seL4-based, fast,
    secure and adaptable operating system for embedded and cyber-physical
    systems; Pancake, a new low-level programming language designed to enable
    the implementation and verification of low-level systems code, such as
    device drivers; the design of a provably-secure seL4-based general-purpose
    OS.
  </p>
  '
  link="https://trustworthy.systems"
  img="/Foundation/Membership/LOGOS/UNSW.svg"
  alt="UNSW Logo"
  img_class="p-white"
%}

{% include feature.html
  right=true
  up=true
  h2="SAnToS Laboratory<br> KSU, USA"
  text='
      <p class="font-semibold pb-6">
  Key people: <a href="http://people.cs.ksu.edu/~hatcliff">John
  Hatcliff</a>; <a href="https://people.cs.ksu.edu/~robby">Robby</a>
      </p>
      <p>
	SAnToS Lab conducts both theoretical and applied research on
	Specification, Analysis, and Transformation of Software.  Integration of
	practical and scalable formal methods and testing in user-friendly
	development tools is a special emphasis of the lab.  Current research
	projects related to seL4 include the HAMR framework (High-Assurance
	Model-based Rapid Engineering of Embedded Systems).  HAMR is an
	open-source code generation and system build framework for embedded
	systems whose architecture is specified using the SAE standard
	Architecture, Analysis, and Design Language (AADL) or OMG standard
	SysMLv2 modeling language.  HAMR includes multiple integrated formal
	methods and contract based reasoning in both models and code.  It can be
	used to create applications that run on top of seL4 (using seL4 microKit
	or CAmkES) and other platforms, where components within the application
	are optionally assured using contract-based verification or automated
	property-based testing.  HAMR was used on the DARPA CASE program by
	Collins Aerospace to build seL4/C-based applications for UAV mission
	computing.  Currently, HAMR is being enhanced on the Collins Aerospace
	DARPA PROVERS INSPECTA project to support Rust-based development of
	verified applications using seL4 microkit.
      </p>'
  link="https://santoslab.org"
  img="/Foundation/Membership/LOGOS/kansas-state.svg"
  alt="KSU Logo"
  img_class="p-white"
%}

{% include feature.html
  right=true
  up=true
  h2="Kansas University, USA"
  text='
      <p class="font-semibold pb-6 mr-7">
  Key people: <a href="https://perry.alexander.name/research.html">Perry
  Alexander</a>
      </p>
      <p>
  KU&apos;s seL4-related reseach include trustworthy layered attestation,
  enabling trust in a remote party while leveraging seL4 to provide a
  verified level of software-based process isolation. The team was part of
  the DARPA-funded CASE program, contributing StairCASE, an effort to
  develop semantics and tools for integrating remote attestation with
  static analysis and develop formally verified and synthesized remote
  attestation infrastructure. The team is now part of the currently
  running DARPA PROVERS program where they will also be contributing
  AI-enhanced proof repair technology.
      </p>'
  link="https://perry.alexander.name/research.html"
  img="/Foundation/Membership/LOGOS/ku-institute.svg"
  alt="KSU Logo"
  img_class="p-white"
%}

{% include feature.html
  right=true
  up=true
  h2="Systems Group<br> ETH Zurich, Switzerland"
  text='
      <p class="font-semibold pb-6">
        Key
        people: <a href="https://people.inf.ethz.ch/troscoe/">Timothy Roscoe
        (Mothy)</a>; <a href="https://systems.ethz.ch/people/profile.MjUxNjkz.TGlzdC8zODg4LDEyOTU2NDI2OTI=.html">Roman
        Meier</a>; <a href="https://systems.ethz.ch/people/profile.Mjk2NjU0.TGlzdC8zODg4LDEyOTU2NDI2OTI=.html">Zikai
        Liu</a>; <a href="https://danielschwyn.ch">Daniel
        Schwyn</a>; <a href="https://people.inf.ethz.ch/dcock/">David Cock</a>
      </p>
      <p>
  Groups at ETH Zurich conducting seL4-related research include the Systems
        Group. This group, focused on Operating Systems Design and
        Implementation, contributes <a href="
        https://enzian.systems/projects/trustworthy-bmc/">seL4-based trustworthy
        BMCs</a> (board management controllers) using cyber retrofit for server
        board controllers. It also works on the co-generation of drivers and
        hardware for seL4, as part of
        the <a href="https://sockeye.ethz.ch/">Sockeye project</a>.
      </p>'
  link="https://systems.ethz.ch/the-systems-group.html"
  img="/Foundation/Membership/LOGOS/ETH-Zurich.svg"
  alt="KSU Logo"
  img_class="p-white"
%}

{% include feature.html
  right=true
  up=true
  h2="Digital Circuits and Systems Group<br> ETH Zurich, Switzerland"
  text='
      <p class="font-semibold pb-6">
        Key
        people: <a href="https://ee.ethz.ch/the-department/people-a-z/person-detail.MjYyMjAy.TGlzdC8zMjc5LC0xNjUwNTg5ODIw.html">Nils
        Wistoff</a>
      </p>
      <p>
  The Digital Circuits and Systems Group is another ETH research group
        conducting seL4-related research.  As part of its
        <a href="https://pulp-platform.org/">PULP</a> (Parallel Ultra Low Power)
	flagship project, it contributes its hardware experience in timing
	channels discovery and mitigation to the seL4 time protection project, in
	collaboration with TS at UNSW.
      </p>'
  link="https://iis.ee.ethz.ch/research/research-groups/Digital%20Circuits%20and%20Systems.html"
  img="/Foundation/Membership/LOGOS/ETH-Zurich.svg"
  alt="KSU Logo"
  img_class="p-white"
%}

{% include feature.html
  right=true
  up=true
  h2="Lewis &amp; Clark College"
  text='
      <p class="font-semibold pb-6">
  Key
  people: <a href="https://college.lclark.edu/live/profiles/13328-alain-kagi">Alain
  K&#228;gi</a>
      </p>
      <p>
  Alain Kagi and his group at Lewis &amp; Clark College are working on a
  verifiable minimal networking stack for seL4, leveraging the seL4 Microkit
  and the seL4 Device Driver Framework.
      </p>'
  link="https://college.lclark.edu/live/profiles/13328-alain-kagi"
  img="/Foundation/Membership/LOGOS/lewis-clark.svg"
  alt="KSU Logo"
  img_class="p-white"
%}
