---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Seminal seL4 Publications
pre: "seL4 research"
pre_link: "./"
sub: '
<p>A selection of key research articles about the seL4 technology,
	 its design principles, verification, and applications.</p>
<img src="../images/res_paper.svg" alt="papers" class="rounded-lg w-full pt-6">'
layout: card
---
<!-- FIXME: add license file for screenshot-->
<!-- FIXME: add page missing numbers for more recent papers -->

{% include timeline-start.html %}

{% include timebib-item.html
	date="2019-03-01"
	explanation="Time-protection principles for seL4"
	title="Time protection: The missing OS abstraction"
	authors="Qian Ge, Yuval Yarom, Tom Chothia and Gernot Heiser"
	details="EuroSys Conference, Dresden, Germany"
	award="Best Paper Award"
	pdf="time-protection-missing-os-abstraction.pdf"
%}

{% include timebib-item.html
	date="2018-10-01"
	explanation="Security by architecture and cyber retrofit with seL4"
	title="Formally verified software in the real world"
	authors="Gerwin Klein, June Andronick, Ihor Kuz, Toby Murray, Gernot Heiser
	         and Matthew Fernandez"
	details="Communications of the ACM (CACM), Volume 61, Issue 10, pp. 68-77"
	pdf="formally-verified-software-real-world.pdf"
%}

{% include timebib-item.html
	date="2018-04-01"
	explanation="The principles of Mixed-Criticality support (MCS) for seL4 systems"
	title="Scheduling-context capabilities: A principled, light-weight OS mechanism
	       for managing time"
	authors="Anna Lyons, Kent Mcleod, Hesham Almatary and Gernot Heiser"
	details="EuroSys Conference, Porto, Portugal"
	pdf="scheduling-context-capabilities.pdf"
%}

{% include timebib-item.html
	date="2016-04-01"
	explanation="Worst-Case Execution Time (WCET) analysis for seL4"
	title="Complete, high-assurance determination of loop bounds and infeasible
	       paths for WCET analysis"
	authors="Thomas Sewell, Chi Kam and Gernot Heiser"
	details="IEEE Real-Time and Embedded Technology and Applications Symposium
	         (RTAS), Vienna, Austria"
	award="Outstanding Paper Award"
	pdf="complete-high-assurance-determination.pdf"
%}

{% include timebib-item.html
	date="2014-02-01"
	explanation="Comprehensive overview of the complete proof stack for seL4"
	title="Comprehensive formal verification of an OS microkernel"
	authors="Gerwin Klein, June Andronick, Kevin Elphinstone, Toby Murray, Thomas
	         Sewell, Rafal Kolanski and Gernot Heiser"
	details="ACM Transactions on Computer Systems (TOCs), Volume 32, Number 1, pp. 2:1-2:70"
	pdf="comprehensive-formal-verification-os-microkernel.pdf"
%}

{% include timebib-item.html
	date="2013-06-01"
	explanation="Binary verification of seL4"
	title="Translation validation for a verified OS kernel"
	authors="Thomas Sewell, Magnus Myreen and Gerwin Klein"
	details="ACM SIGPLAN Conference on Programming Language Design and
	         Implementation (PLDI), pp. 471-481, Seattle, Washington, USA"
	pdf="translation-validation-verified-os-kernel.pdf"
%}

{% include timebib-item.html
	date="2013-05-01"
	explanation="Proof that seL4 enforces confidentiality"
	title="seL4: From general purpose to a proof of information flow enforcement"
	authors="Toby Murray, Daniel Matichuk, Matthew Brassil, Peter Gammie, Timothy
		       Bourke, Sean Seefried, Corey Lewis, Xin Gao and Gerwin Klein"
	details="IEEE Symposium on Security and Privacy (S &amp; P), pp. 415-429, San Francisco, CA, USA"
	pdf="sel4-from-general-purpose-to-proof-information-flow-enforcement.pdf"
%}

{% include timebib-item.html
	date="2011-08-01"
	explanation="Proof that seL4 enforces integrity"
	title="seL4 enforces integrity"
	authors="Thomas Sewell, Simon Winwood, Peter Gammie, Toby Murray,
	         June Andronick and Gerwin Klein"
	details="International Conference on Interactive Theorem Proving (ITP), pp. 325-340,
	         Nijmegen, The Netherlands"
	pdf="sel4-enforces-integrity.pdf"
%}

{% include timebib-item.html
	date="2010-06-01"
	explanation="Research Highlights paper on seL4's functional correctness proof"
	title="seL4: Formal verification of an operating-system kernel"
	authors="Gerwin Klein, June Andronick, Kevin Elphinstone, Gernot Heiser, David
	         Cock, Philip Derrin, Dhammika Elkaduwe, Kai Engelhardt, Rafal
	         Kolanski, Michael Norrish, Thomas Sewell, Harvey Tuch and Simon
	         Winwood"
	details="Communications of the ACM (CACM), Volume 53, Number 6, pp. 107-115"
	award="Research Highlights paper"
	pdf="seL4-formal-verification-operating-system-kernel.pdf"
%}

{% include timebib-item.html
	date="2009-10-01"
	explanation="The first full functional correctness proof of seL4"
	title="seL4: Formal verification of an OS kernel"
	authors="Gerwin Klein, Kevin Elphinstone, Gernot Heiser, June Andronick, David
	         Cock, Philip Derrin, Dhammika Elkaduwe, Kai Engelhardt, Rafal
	         Kolanski, Michael Norrish, Thomas Sewell, Harvey Tuch and Simon
	         Winwood"
	details="ACM Symposium on Operating Systems Principles (SOSP), pp. 207-220, Big Sky,
	         MT, USA"
	award="Best Paper Award, Hall of Fame Award"
	pdf="sel4-formal-verification-os-kernel.pdf"
%}

{% include timeline-end.html %}
