---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Seminal seL4 Publications
pre: "seL4 research"
pre_link: "./"
sub: '
<p>A selection of key research articles about the seL4 technology,
	 its design principles, verification, and applications.</p>
<img src="../images/res_paper.jpeg" alt="CACM paper" class="rounded-lg">'
layout: card
---
<!-- FIXME: make image background above transparent for dark mode -->
<!-- FIXME: add license file for screenshot-->

<!-- FIXME: remove (conference) from heading? -->
<!-- FIXME: reduce heading to just year and make current heading a description
	          underneath the paper? (to make the layout less busy, currently
						everything is trying to draw attention) -->
<!-- FIXME: paper title and authors currently not italic. Ok? -->
<!-- FIXME: add page missing numbers for more recent papers -->
<!-- FIXME: add links and/or PDF to papers -->

{% include timeline-start.html %}

{% include timebib-item.html
	date="2019-03-01"
	heading="Time-protection principles for seL4 (EuroSys)"
	title="Time protection: The missing OS abstraction"
	authors="Qian Ge, Yuval Yarom, Tom Chothia and Gernot Heiser"
	details="EuroSys Conference, Dresden, Germany"
	award="Best Paper Award"
%}

{% include up-button.html %}

{% include timebib-item.html
	date="2018-10-01"
	heading="Security by architecture and cyber retrofit with seL4 (CACM)"
	title="Formally verified software in the real world"
	authors="Gerwin Klein, June Andronick, Ihor Kuz, Toby Murray, Gernot Heiser
	         and Matthew Fernandez"
	details="Communications of the ACM, Volume 61, Issue 10, pp. 68-77"
%}


{% include up-button.html %}

{% include timebib-item.html
	date="2018-04-01"
	heading="The principles of Mixed-Criticality support (MCS) for seL4 Systems (EuroSys)"
	title="Scheduling-context capabilities: A principled, light-weight OS mechanism
	       for managing time"
	authors="Anna Lyons, Kent Mcleod, Hesham Almatary and Gernot Heiser"
	details="EuroSys Conference, Porto, Portugal"
%}

{% include up-button.html %}

{% include timebib-item.html
	date="2016-04-01"
	heading="Worst-Case Execution Time (WCET) analysis for seL4 (RTAS)"
	title="Complete, high-assurance determination of loop bounds and infeasible
	       paths for WCET analysis"
	authors="Thomas Sewell, Chi Kam and Gernot Heiser"
	details="IEEE Real-Time and Embedded Technology and Applications Symposium
	         (RTAS), Vienna, Austria"
	award="Outstanding Paper Award"
%}

{% include up-button.html %}

{% include timebib-item.html
	date="2014-02-01"
	heading="Comprehensive overview of the complete proof stack for seL4 (TOCs)"
	title="Comprehensive formal verification of an OS microkernel"
	authors="Gerwin Klein, June Andronick, Kevin Elphinstone, Toby Murray, Thomas
	         Sewell, Rafal Kolanski and Gernot Heiser"
	details="ACM Transactions on Computer Systems, Volume 32, Number 1, pp. 2:1-2:70"
%}

{% include up-button.html %}

{% include timebib-item.html
	date="2013-06-01"
	heading="Binary verification of seL4 (PLDI)"
	title="Translation validation for a verified OS kernel"
	authors="Thomas Sewell, Magnus Myreen and Gerwin Klein"
	details="ACM SIGPLAN Conference on Programming Language Design and
	         Implementation, pp. 471-481, Seattle, Washington, USA"
%}

{% include up-button.html %}

{% include timebib-item.html
	date="2013-05-01"
	heading="Proof that seL4 enforces confidentiality (S &amp; P)"
	title="seL4: From general purpose to a proof of information flow enforcement"
	authors="Toby Murray, Daniel Matichuk, Matthew Brassil, Peter Gammie, Timothy
		       Bourke, Sean Seefried, Corey Lewis, Xin Gao and Gerwin Klein"
	details="IEEE Symposium on Security and Privacy, pp. 415-429, San Francisco, CA, USA"
%}

{% include up-button.html %}

{% include timebib-item.html
	date="2011-08-01"
	heading="Proof that seL4 enforces integrity (ITP)"
	title="seL4 enforces integrity"
	authors="Thomas Sewell, Simon Winwood, Peter Gammie, Toby Murray,
	         June Andronick and Gerwin Klein"
	details="International Conference on Interactive Theorem Proving, pp. 325-340,
	         Nijmegen, The Netherlands"
%}

{% include up-button.html %}

{% include timebib-item.html
	date="2010-06-01"
	heading="Research Highlights paper on seL4's functional correctness proof (CACM)"
	title="seL4: Formal verification of an operating-system kernel"
	authors="Gerwin Klein, June Andronick, Kevin Elphinstone, Gernot Heiser, David
	         Cock, Philip Derrin, Dhammika Elkaduwe, Kai Engelhardt, Rafal
	         Kolanski, Michael Norrish, Thomas Sewell, Harvey Tuch and Simon
	         Winwood"
	details="Communications of the ACM, Volume 53, Number 6, pp. 107-115"
	award="Research Highlights paper"
%}

{% include up-button.html %}

{% include timebib-item.html
	date="2009-10-01"
	heading="The first full functional correctness proof of seL4 (SOSP)"
	title="seL4: Formal verification of an OS kernel"
	authors="Gerwin Klein, Kevin Elphinstone, Gernot Heiser, June Andronick, David
	         Cock, Philip Derrin, Dhammika Elkaduwe, Kai Engelhardt, Rafal
	         Kolanski, Michael Norrish, Thomas Sewell, Harvey Tuch and Simon
	         Winwood"
	details="ACM Symposium on Operating Systems Principles, pp. 207-220, Big Sky,
	         MT, USA"
	award="Best Paper Award, Hall of Fame Award"
%}

{% include up-button.html %}

{% include timeline-end.html %}
