---
# Copyright 2026 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: seL4 Summit 2026 Abstracts
pre: "seL4 Summit 2026 Program"
pre_link: "../2026/program.html"
sub: '
<p>
  The seL4 Summit 2026 features a combination of technical research and
  development, real-world seL4 deployment insights, in-depth interactive
  discussions, thought-provoking keynotes, panel discussions, as well as
  informal social activities.
</p>'
layout: card
---

{% include abstract-buttons.html
  keynotes = "keynotes"
  panel = "panel"
  voices = "voices"
  talks = "talks"
  posters = "posters"
%}

{% include abstract-heading.html
  id = "keynotes"
  heading = "Keynotes"
%}

{% include abstract-item.html
  id = "age-software"
  time = "9:10 - 10:00"
  type = "Keynote"
  title = "The Age of Software Understanding"
  presenter = "Anjana Rajan"
  affiliation = "Atalanta"
  text = "abstracts/2026/age-software-text-only.html"
%}

{% include abstract-item.html
  id = "proof-product"
  time = "9:00 - 9:50"
  type = "Keynote"
  title = "From Proof to Product: Why Formal Methods Is Finally Ready"
  presenter = "Martin Dehnel-Wild"
  affiliation = "Kry10"
  text = "abstracts/2026/proof-product-text-only.html"
%}

{% include abstract-heading.html
  id = "voices"
  heading = "Voices from Nearby"
%}

{% include abstract-item.html
  id = "staying-red"
  time = "13:30 - 14:00"
  type = "Voices from Nearby"
  title = '“Staying in the Red Queen&apos;s Race”: Organizing Small and Medium Sized FOSS Communities in a World of Regulations and AI'
  presenter = "Alistair Woodman"
  affiliation = "Erlang Ecosystem Foundation"
  text = "abstracts/2026/staying-red-text-only.html"
%}

{% include abstract-item.html
  id = "trends-formal"
  time = "14:00 - 14:30"
  type = "Voices from Nearby"
  title = "Trends in Formal Verification for Real-World Applications and Their Implications for the seL4 Ecosystem"
  presenter = "David Hardin"
  affiliation = "Collins Aerospace"
  text = "abstracts/2026/trends-formal-text-only.html"
%}

{% include abstract-heading.html
  id = "panel"
  heading = "Panel"
%}

{% include abstract-item.html
  id = "panel"
  time = "16:00 - 17:00"
  type = "Panel"
  title = "Certification, Compliance and Policies: enabler or barrier to innovation?"
  info = '
      <span class="text-dark text-sm sm:text-base">Darren Cofer</span>, <span class="text-light text-sm sm:text-base"> Collins Aerospace</span>
      <br><span class="text-dark text-sm sm:text-base">Peter Davies</span>, <span class="text-light text-sm sm:text-base"> Thales</span>
      <br><span class="text-dark text-sm sm:text-base">Jonathan Marshall</span>, <span class="text-light text-sm sm:text-base">SafeShark</span>
      <br><span class="text-dark text-sm sm:text-base">Anjana Rajan</span>, <span class="text-light text-sm sm:text-base">Atalanta</span>
      <br><span class="text-dark text-sm sm:text-base">James Sharp</span>, <span class="text-light text-sm sm:text-base">Defence Science and Technology Laboratory (Dstl)</span>
      <br><span class="text-dark text-sm sm:text-base">Martin Dehnel-Wild</span>, <span class="text-light text-sm sm:text-base">Kry10 (moderator)</span>
        '
  abstract = "abstracts2026.html#a-panel"
  text = "abstracts/2026/panel-text-only.html"
%}

{% include abstract-heading.html
  id = "talks"
  heading = "Talks"
%}

{% include abstract-item.html
  id = "sel4-what"
  time = "10:30 - 11:30"
  type = ""
  title = "seL4: What, Why, Who and Where?"
  presenter = "June Andronick"
  affiliation = "Proofcraft and seL4 Foundation"
  text = "abstracts/2026/sel4-what-text-only.html"
%}

{% include abstract-item.html
  id = "ncsc"
  time = "11:30 - 12:00"
  type = "Talk"
  title = "10 Years of seL4 at NCSC"
  presenter = "Adam W1"
  affiliation = "NCSC"
  text = "abstracts/2026/ncsc-text-only.html"
%}

{% include abstract-item.html
  id = "kry10-os"
  time = "14:30 - 15:00"
  type = "Talk"
  title = "Kry10 OS Software Safety Manual"
  presenter = "Ihor Kuz"
  affiliation = "Kry10"
  text = "abstracts/2026/kry10-os-text-only.html"
%}

{% include abstract-item.html
  id = "navigating-cyber"
  time = "15:30 - 15:45"
  type = ""
  title = "Navigating the Cyber Resilience Act: Real-World Lessons in Securing Connected Products"
  presenter = "Jonathan Marshall"
  affiliation = "SafeShark"
  text = "abstracts/2026/navigating-cyber-text-only.html"
%}

{% include abstract-item.html
  id = "formal-verification"
  time = "15:45 - 16:00"
  type = ""
  title = "Formal Verification now in European Cyber Resiliency standard for OS"
  presenter = "June Andronick"
  affiliation = "Proofcraft and seL4 Foundation"
  text = "abstracts/2026/formal-verification-text-only.html"
%}

{% include abstract-item.html
  id = "cyber-hardened"
  time = "10:30 - 11:00"
  type = "Talk"
  title = "Cyber-Hardened Satellite Software (CHSS) VMM"
  presenter = "Robbie VanVossen"
  affiliation = "Dornerworks"
  text = "abstracts/2026/cyber-hardened-text-only.html"
%}

{% include abstract-item.html
  id = "throwing-sel4"
  time = "11:00 - 11:15"
  type = "Talk"
  title = "Throwing seL4 on the Throwbot 3 Robot"
  presenter = "Nathan Studer"
  affiliation = "Dornerworks"
  text = "abstracts/2026/throwing-sel4-text-only.html"
%}

{% include abstract-item.html
  id = "assured-robotics"
  time = "11:15 - 11:30"
  type = "Talk"
  title = "Assured Robotics Embedded Systems and Applications in Ground Vehicles (ARSENAL)"
  presenter = "Dave Lide, Jason H. Li, KJ Kwak, Biruk Sintayehu"
  affiliation = "Trusted Science and Technology (Trusted ST)"
  info = "<br><span class='text-dark text-sm sm:text-base'>Paul Pazandak,</span><br><span class='text-light text-sm sm:text-base'>Real-Time Innovations (RTI)</span>"
  text = "abstracts/2026/assured-robotics-text-only.html"
%}

{% include abstract-item.html
  id = "evolving-legacy"
  time = "11:30 - 11:45"
  type = "Talk"
  title = "Evolving Legacy Systems Towards Strong Spatial and Temporal Isolation with seL4"
  presenter = "Philipp Scholl"
  affiliation = "ABB Corporate Research"
  text = "abstracts/2026/evolving-legacy-text-only.html"
%}

{% include abstract-item.html
  id = "tsdx"
  time = "11:45 - 12:00"
  type = "Talk"
  title = "tSDX - Reference Architecture for Software Defined X"
  presenter = "Nils Brand"
  affiliation = "Fraunhofer IESE"
  text = "abstracts/2026/tsdx-text-only.html"
%}

{% include abstract-item.html
  id = "sel4-security"
  time = "13:30 - 14:00"
  type = "Talk"
  title = "seL4's Security Proofs"
  presenter = "Ryan Barry"
  affiliation = "Proofcraft"
  text = "abstracts/2026/sel4-security-text-only.html"
%}

{% include abstract-item.html
  id = "trustworthy-systems"
  time = "14:00 - 14:30"
  type = "Talk"
  title = "Trustworthy Systems R&D Update"
  presenter = "Gernot Heiser"
  affiliation = "UNSW Sydney"
  text = "abstracts/2026/trustworthy-systems-text-only.html"
%}

{% include abstract-item.html
  id = "time-protection"
  time = "14:30 - 15:00"
  type = "Talk"
  title = "Where are we with Time Protection? Verification and cross-domain communication update"
  presenter = "Rob Sison"
  affiliation = "UNSW Sydney"
  text = "abstracts/2026/time-protection-text-only.html"
%}

{% include abstract-item.html
  id = "pancake"
  time = "15:30 - 16:00"
  type = "Talk"
  title = "Pancake Updates"
  presenter = "Miki Tanaka"
  affiliation = "UNSW Sydney"
  text = "abstracts/2026/pancake-text-only.html"
%}

{% include abstract-item.html
  id = "verifying-sel4"
  time = "16:00 - 16:15"
  type = "Talk"
  title = "Verifying seL4 device drivers with CN"
  presenter = "Michal Podhradsky"
  affiliation = "Galois"
  text = "abstracts/2026/verifying-sel4-text-only.html"
%}

{% include abstract-item.html
  id = "formalising-device"
  time = "16:15 - 16:45"
  type = "Talk"
  title = "Formalising device protocols for sDDF driver verification"
  presenter = "Liam Murphy"
  affiliation = "UNSW Sydney"
  text = "abstracts/2026/formalising-device-text-only.html"
%}

{% include abstract-item.html
  id = "verification-udp"
  time = "16:45 - 17:00"
  type = "Talk"
  title = "Verification of a UDP Implementation: Challenges and Solutions"
  presenter = "Alain Kägi"
  affiliation = "Lewis & Clark College"
  text = "abstracts/2026/verification-udp-text-only.html"
%}

{% include abstract-item.html
  id = "simplifying-microkit"
  time = "9:30 - 10:00"
  type = "Talk"
  title = "Simplifying Microkit System Composition with Acacia"
  presenter = "Lesley Rossouw"
  affiliation = "UNSW Sydney"
  text = "abstracts/2026/simplifying-microkit-text-only.html"
%}

{% include abstract-item.html
  id = "policy-free"
  time = "10:30 - 11:00"
  type = "Talk"
  title = "A policy-free boot process for seL4"
  presenter = "Daniel Schwyn"
  affiliation = "Neutrality"
  text = "abstracts/2026/policy-free-text-only.html"
%}

{% include abstract-item.html
  id = "carrels"
  time = "10:30 - 11:00"
  type = "Talk"
  title = "Carrels: Secure, high-performance microservice on seL4"
  presenter = "Guangtao Zhu"
  affiliation = "UNSW Sydney"
  text = "abstracts/2026/carrels-text-only.html"
%}

{% include abstract-item.html
  id = "single-kernel"
  time = "11:30 - 11:45"
  type = "Talk"
  title = "Single Kernel Multicore seL4"
  presenter = "Scott Brookes, Gordon Stewart, David Swasey"
  affiliation = "Riverside Research"
  text = "abstracts/2026/single-kernel-text-only.html"
%}

{% include abstract-item.html
  id = "booting-windows"
  time = "11:45 - 12:00"
  type = "Talk"
  title = "Booting Windows on an x86-64 seL4-based VMM"
  presenter = "Bill Nguyen"
  affiliation = "UNSW Sydney"
  text = "abstracts/2026/booting-windows-text-only.html"
%}

{% include abstract-item.html
  id = "rigorous-agentic"
  time = "13:30 - 14:00"
  type = "Talk"
  title = "Rigorous Agentic Systems Engineering for seL4 using HAMR"
  presenter = "John Hatcliff"
  affiliation = "Kansas State University"
  text = "abstracts/2026/rigorous-agentic-text-only.html"
%}

{% include abstract-item.html
  id = "efficient-user-level"
  time = "14:15 - 14:30"
  type = "Talk"
  title = "Efficient User-level Physical Memory Management on seL4"
  presenter = "Guangtao Zhu"
  affiliation = "UNSW Sydney"
  text = "abstracts/2026/efficient-user-level-text-only.html"
%}

{% include abstract-item.html
  id = "modelling-performance"
  time = "14:30 - 14:45"
    type = "Talk"
  title = "Modelling and performance analysis of Ethernet on LionsOS"
  presenter = "Lesley Rossouw"
  affiliation = "UNSW Sydney"
  text = "abstracts/2026/modelling-performance-text-only.html"
%}


{% include abstract-heading.html
  id = "posters"
  heading = "Posters"
  info = "Poster sessions will held during lunch on <a href='program.html#p-posters-day2'><span class='underline'>Day 2</span></a> and <a href='program.html#p-posters-day3'><span class='underline'>Day 3</span></a>"
%}

{% include abstract-item.html
  title = "Rethinking seL4 Multicore architecture: SMP vs. multikernel"
  presenter = "Guangtao Zhu"
  affiliation = "UNSW Sydney"
  text = "abstracts/2026/rethinking-sel4-text-only.html"
  posters = "See Posters in program -  <a href='program.html#p-posters-day2'><span class='underline'>Day 2</span></a>, <a href='program.html#p-posters-day3'><span class='underline'>Day 3</span></a>"
%}

{% include abstract-item.html
  title = "Binary Verification for seL4"
  presenter = "Nick Spinale"
  affiliation = "Colias Group"
  text = "abstracts/2026/binary-verification-text-only.html"
  posters = "See Posters in program -  <a href='program.html#p-posters-day2'><span class='underline'>Day 2</span></a>, <a href='program.html#p-posters-day3'><span class='underline'>Day 3</span></a>"
%}

{% include abstract-item.html
  title = "Updates on Confidential Computing with seL4"
  presenter = "Alexander Weidinger"
  affiliation = "Fraunhofer AISEC"
  text = "abstracts/2026/updates-confidential-text-only.html"
  posters = "See Posters in program -  <a href='program.html#p-posters-day2'><span class='underline'>Day 2</span></a>, <a href='program.html#p-posters-day3'><span class='underline'>Day 3</span></a>"
%}

{% include abstract-item.html
  title = "VM Composer Poster"
  presenter = "Robbie VanVossen"
  affiliation = "Dornerworks"
  text = "abstracts/2026/vm-composer-text-only.html"
  posters = "See Posters in program -  <a href='program.html#p-posters-day2'><span class='underline'>Day 2</span></a>, <a href='program.html#p-posters-day3'><span class='underline'>Day 3</span></a>"
%}

{% include abstract-item.html
  title = "TCCoE Overview & Update 2026"
  presenter = "Stuart Card"
  affiliation = "Critical Technologies Inc."
  text = "abstracts/2026/tccoe-text-only.html"
  posters = "See Posters in program -  <a href='program.html#p-posters-day2'><span class='underline'>Day 2</span></a>, <a href='program.html#p-posters-day3'><span class='underline'>Day 3</span></a>"
%}
