---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: seL4 Summit 2026 Program
pre: "The seL4 Summit 2026"
pre_link: "./"
sub: '
<p>
  The seL4 Summit 2026 will feature a combination of technical research and development, real-world seL4 deployment
  insights, in-depth interactive discussions, thought-provoking keynotes, panel discussions, as well as informal
  <a href="#social">social activities</a>. Videos will be made available on the <a
    href="https://www.youtube.com/@seL4">seL4 YouTube channel</a> after the event.
</p>'
layout: card
---

<div class="-mt-30">
{% include summit-new-format.html
%}
</div>

<!-- Program-at-a-glance section -->
{% include section-start.html
  id = "program-at-a-glance"
  heading = "Program-at-a-glance"
%}

<div class="w-full md:w-3/4 lg:w-3/4 mt-8 mx-auto aspect-5/2">
  {% svg /images/summit/program-at-a-glance-2026.drawio.svg width="100%" %}
</div>

{% include section-end.html %}

<!-- Main Program section -->
{% include section-start.html
  id = "program"
  heading = "Main Program"
  intro = '
    <p>
      Coming soon. Stay tuned!
    </p>'
%}

{% include section-end.html %}

<!-- Social Activities section -->
{% include section-start.html
  id = "social"
  heading = "Social Activities"
  intro = "A number of informal social activities are being organised for Monday
  Aug 31, prior to the summit. The idea is that at least one person (whose name
  is mentioned below) will do this activity at the set time. You're welcome to
  book yourself directly using the link provided, and do the activity at the
  same time. Please note that some activities are free, and others are available
  for purchase either online or onsite."
  %}

<div>
<ul role="list" class="space-y-12 divide-y divide-gray-200 dark:text-light xl:col-span-3">

  {% include summit-list-item.html
    img = "/images/summit/capilano-bridge.jpg"
    alt = "Capilano Suspension Bridge Park"
    heading = "Capilano Suspension Bridge Park"
    text = 'Join <a href="https://proofcraft.systems/#june">June
    Andronick</a> for a trip to the Capilano Suspension Bridge Park.<br><br>
    A free shuttle will leave from the front of the hotel. Details to be
    confirmed.
    <br><br>
    <strong>Date:</strong> Monday Aug 31, 2025<br>
    <strong>Time:</strong> 2pm<br>
    <strong>Cost:</strong> $75.00 CAD per person, senior/student/child discounts available<br>
    <strong>Details:</strong> <a
    href="https://www.capbridge.com/">
    Capilano Suspension Bridge Park</a><br>
    <strong>Location: </strong><a
    href="https://maps.app.goo.gl/gWqzAjvM5qTL4s2k8">Capilano Suspension Bridge Park</a>'
  %}

  {% include summit-list-item.html
    img = "/images/summit/stanley-park-seawall.jpg"
    alt = "Stanley Park Seawall"
    heading = "Stanley Park Seawall Walk"
    text = 'We&apos;re looking for a volunteer to be the
    point of contact for this activity. Please email <a
    href="mailto:summit@sel4.systems">summit@sel4.systems</a> if you&apos;re
    interested.<br><br>
    <strong>Date:</strong> Monday Aug 31, 2025<br>
    <strong>Time:</strong> 2pm<br>
    <strong>Cost:</strong> Free<br>
    <strong>Details:</strong> <a
    href="https://vancouver.ca/parks-recreation-culture/stanley-park-seawall.aspx">
    Seawall Walk/Run/Cycle</a><br>
    <strong>Location: </strong><a
    href="https://maps.app.goo.gl/Aj6S4Nj6dxwfegSU7">Vancouver Seawall</a>'
  %}

  {% include summit-list-item.html
    img = "/images/summit/vancouver-art-gallery.jpg"
    alt = "Vancouver Art Gallery"
    heading = "Vancouver Art Gallery"
    text = 'We&apos;re looking for a volunteer to be the
    point of contact for this activity. Please email <a
    href="mailto:summit@sel4.systems">summit@sel4.systems</a> if you&apos;re
    interested.<br><br>
    <strong>Date:</strong> Monday Aug 31, 2025<br>
    <strong>Time:</strong> 2pm<br>
    <strong>Cost:</strong> $35.00 CAD per person, free entrance for children<br>
    <strong>Details:</strong> <a
    href="https://www.vanartgallery.bc.ca/">
    Vancouver Art Gallery</a><br>
    <strong>Location: </strong><a
    href="https://maps.app.goo.gl/PZqyszjBtTKyT9T7A">Vancouver Art Gallery</a>'
  %}

</ul>

</div>
{% include section-end.html %}
