---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: seL4 Summit 2026 Program
pre: "The seL4 Summit 2026"
pre_link: "./"
sub: '
<p>
  The seL4 Summit 2026 will feature a combination of technical research and development, real-world seL4 deployment
  insights, in-depth interactive discussions, thought-provoking keynotes, panel discussions, as well as informal
  social activities. Videos will be made available on the <a
    href="https://www.youtube.com/@seL4">seL4 YouTube channel</a> after the event.
</p>'
layout: card
---

<div class="-mt-30">
{% include summit-new-format.html
%}
</div>

<!-- Program-at-a-glance section -->
{% include section-start.html
  id = "program-at-a-glance"
  heading = "Program-at-a-glance"
%}

<div class="w-full md:w-3/4 lg:w-3/4 mt-8 mx-auto aspect-5/2">
  {% svg /images/summit/program-at-a-glance-2026.drawio.svg width="100%" %}
</div>

{% include section-end.html %}

<!-- Main Program section -->
{% include section-start.html
  id = "program"
  heading = "Main Program"
  intro = '
    <p>
      Coming soon. Stay tuned!
    </p>'
%}

{% include section-end.html %}

<!-- Social Activities section -->
{% include section-start.html
  id = "social"
  heading = "Social Activities"
  intro = '
    <p>
      Coming soon. Stay tuned!
    </p>'
%}

{% include section-end.html %}
