---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Stay informed
layout: card
---

<!-- FIXME: decide on what redirections are best from current contact page -->



<div class="card-grid-3">
  {% include card.html
     icon="envelope"
     title="seL4 Announce Mailing List"
     link="https://lists.sel4.systems/postorius/lists/announce.sel4.systems/"
     link_text="Go"
     link_class="mx-auto"
  %}
  {% include card.html
     icon="other/linkedin"
     icon_colour="bg-gray-50 dark:bg-gray-200 text-[#0b66c2]"
     title="seL4 on LinkedIn"
     link="https://www.linkedin.com/company/sel4/"
     link_text="Go"
     link_class="mx-auto"
  %}
  {% include card.html
     center=true
     icon_colour="bg-gray-50 dark:bg-gray-200 text-[#ff0033]"
     icon="other/youtube"
     title="seL4 Youtube Channel"
     link="https://www.youtube.com/@seL4"
     link_text="Go"
     link_class="mx-auto"
  %}
</div>

{% assign cal="https://calendar.google.com/calendar/u/0?cid=NXNybzFhaGtodDNsb2NuaGRxMnFmbDhndGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" %}

<div class="relative mt-16 lg:mt-20">
  <a href="{{cal}}">
    <div class="absolute bg-logogreen -top-8 left-1/2 -ml-8 p-4 rounded-full shadow-md">
      {% svg "_icons/calendar-days.svg" class="h-8 w-8" %}
    </div>
  </a>
  <h3 id="calendar" class="pt-12 mx-4 text-center text-small sm:text-base font-semibold text-dark a-underline">
    <a href="{{cal}}">Google calendar feed</a> for seL4 Foundation events and dates
  </h3>
</div>

 <div id="calendar-container" class="flex mt-12 pb-16 lg:pb-24 justify-center w-full md:w-[70%] xl:w-[60%] mx-auto">
 </div>

<!-- use js to display calendar in client-local time zone -->
<script>
  const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone
  const html = `<iframe src="https://calendar.google.com/calendar/embed?wkst=1&showTitle=0&showCalendars=0&ctz=${timezone}&showPrint=0&showTz=1&bgcolor=%23ffffff&mode=AGENDA&src=NXNybzFhaGtodDNsb2NuaGRxMnFmbDhndGNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" style="height:40ex; width:100%; border:0;"></iframe>`
  document.getElementById('calendar-container').innerHTML = html;
</script>
