---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
redirect_from: /contact/home.pml
title: Help &amp; Open Source Support
redirect_from:
- /About/home.pml
- /About/seL4/index.html
layout: card
---


<div class="card-grid-3 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 mb-8 pb-8">
  {% include card.html
     icon="envelope"
     title="seL4 Developer Mailing list"
     link="https://lists.sel4.systems/postorius/lists/devel.sel4.systems/"
     link_text="Go"
  %}
  {% include card.html
     icon="chat-bubble-bottom-center-text"
     title="seL4 Discourse forums"
     link="https://sel4.discourse.group/"
     link_text="Go"
  %}
  {% include card.html
     icon="chat-bubble-left-right"
     title="seL4 Mattermost chat"
     link="https://mattermost.trustworthy.systems/sel4-external/"
     link_text="Go"
  %}
</div>



<div class="mt-12 mb-20">
  <img class="rounded-xl shadow-xl float-left m-8 lg:w-1/3 md:w-2/5 w-1/2"
       src="../images/tries-shutterstock/hangout.jpg">
  <h3 class="mb-2 text-xl lg:text-2xl font-bold tracking-tight text-dark">
    seL4 Hangout
  </h3>
  <p class="mb-4">
    We host an <a href="https://unsw.zoom.us/j/82640784431">open video chat
    hangout</a> every two weeks to bring seL4 developers together. Dates/times
    are shown in <a href="stay-informed.html#calendar">seL4 calendar entry</a>.
  </p>
  <p class="mb-4">
    There is no strict agenda, anybody can join for technical discussions about
    seL4, related repositories and projects, or general questions and answers.
  </p>
  <p>
    Members from the technical steering committee (TSC) will try to be there,
    but these are not TSC meetings where formal decisions are made.
  </p>
</div>

<!-- FIXME: decide whether we want RFC and github back here -->
