---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
redirect_from: /contact/home.pml
title: Help &amp; Open Source Support
redirect_from:
- /About/home.pml
- /About/seL4/index.html
layout: card
sub: '
<p>
  Discussions, questions, suggestions on using seL4: when
  <a href="https://docs.sel4.systems">docs</a>
  and <a href="../About/FAQ">FAQ</a> are not enough.
</p>
<p class="mt-2">
  If you are encountering a problem getting your project running, have a question on
  how things works, have an idea for improving something, or just want to share
  your work, you can reach out on any of the channels below.
</p>'
---

<div class="card-grid-3">
  {% include card.html
     icon="envelope"
     title="seL4 Developer Mailing List"
     link="https://lists.sel4.systems/postorius/lists/devel.sel4.systems/"
     link_text="Go"
     link_class="mx-auto"
  %}
  {% include card.html
     icon="chat-bubble-bottom-center-text"
     title="seL4 Discourse Forums"
     link="https://sel4.discourse.group/"
     link_text="Go"
     link_class="mx-auto"
  %}
  {% include card.html
     center=true
     icon="chat-bubble-left-right"
     title="seL4 Mattermost Chat"
     link="https://mattermost.trustworthy.systems/sel4-external/"
     link_text="Go"
     link_class="mx-auto"
  %}
</div>

<div class="mt-4 md:mt-8 pb-16 sm:pb-24 mx-8">
  <div class="grid grid-cols-1 sm:grid-cols-[35%_auto] lg:grid-cols-[30%_auto]
              xl:grid-cols-[25%_auto] gap-8 lg:gap-16">
    <img class="rounded-xl shadow-xl h-full w-full object-cover"
         alt="a laptop with a zoom call, with a cup next to it"
         src="../images/tries-shutterstock/hangout.jpg">
    <div class="text-light">
      <h3 class="mb-2 h3-size">
        seL4 Video Hangout
      </h3>
      <p class="mb-4">
        We host an <a href="https://unsw.zoom.us/j/82640784431">open video chat
          hangout</a> every two weeks to bring seL4 users and developers together.
        Dates and times are shown in the
        <a href="stay-informed.html#calendar">seL4 calendar</a>.
      </p>
      <p class="mb-4">
        There is no strict agenda, anybody can join for technical discussions about
        seL4, related repositories and projects, or general questions and answers.
      </p>
      <p>
        Members of the technical steering committee (TSC) will try to be there,
        but these are not TSC meetings where formal decisions are made.
      </p>
    </div>
  </div>
</div>

<!-- FIXME: decide whether we want RFC and github back here -->
