---
# Copyright 2025 Proofcraft Pty Ltd
# SPDX-License-Identifier: CC-BY-SA-4.0
layout: card
title: Coding Conventions
pre: Contribute
pre_link: ./
sub: '<p>Requirements for code contributions, git commits, and pull requests</p>'
---

<div class="card-grid-3">

{% include card.html
   icon="check"
   title="C Conding Conventions"
   body="C code style, language subset, and formatting requirements."
   link="style.html"
%}

{% include card.html
    icon="check"
    title="Git Commits"
    body="Requirements for git commits and history."
    link="git-conventions.html"
%}

{% include card.html
  icon="check"
  title="Pull Requests"
  body="Submission and Review guidelines for pull requests."
  link="pull-requests.html"
%}

</div>