---
# Copyright 2025 Proofcraft Pty Ltd
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Contribution overview
sub: '
  <p>
   Overview of guidelines and processes for contributing to the seL4 ecosystem.
   </p>'
layout: card
---

<div class="card-grid-3 lg:gap-y-20 xl:gap-x-18 xl:gap-y-24 mx-0 md:mx-6 lg:mx-10">
  {% include card.html
     icon="arrow-path"
     title="Contribution Guidelines"
     body="Guidelines on how to contribute to the seL4 ecosystem."
     link="guidelines.html"
  %}
  {% include card.html
     icon="shield-check"
     title="Code of Conduct"
     body="Rules for interaction."
     link="conduct.html"
  %}
  {% include card.html
     icon="command-line"
     title="Coding Conventions & Requirements"
     body="Requirements for C Code, Git Commits, Pull Requests."
     link="conventions.html"
  %}
  {% include card.html
     icon="chat-bubble-left-right"
     title="RFC Process"
     body="When and how to write an RFC."
     link="rfc-process.html"
  %}
  {% include card.html
     icon="wrench-screwdriver"
     title="Platform Contributions"
     body="Contributing and maintaining a platform port."
     link="platform-ports.html"
  %}
  {% include card.html
     icon="users"
     title="Development Roles"
     body="Contributors, Reviewers, Committers, TSC."
     link="roles.html"
  %}
</div>
