{%- comment %}
Copyright 2025 seL4 Project a Series of LF Projects, LLC
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}

{% include person-grid-start.html %}
  {% include person.html
    name = "June Andronick<br>(co-chair)"
    text = "Proofcraft"
    img = "/Foundation/Board/TS-June-square.jpg"
    link = "https://proofcraft.systems/#june"
  %}

  {% include person.html
    name = "Darren Cofer<br>(co-chair)"
    text = "Collins Aerospace"
    img = "/images/summit/darren-square.jpg"
    link = "http://loonwerks.com/people/darren-cofer.html"
  %}

  {% include person.html
    name = "Anna Lyons"
    img = "/images/tsc/anna.png"
    link = "https://www.linkedin.com/in/annamlyons/"
  %}

  {% include person.html
    name = "Axel Heider"
    text = "HENSOLDT Cyber"
    img = "/images/summit/axel-square.jpg"
    link = "https://www.linkedin.com/in/axelheider"
  %}

  {% include person.html
    name = "Gernot Heiser"
    text = "UNSW"
    img = "/Foundation/Board/TS-Gernot-square.jpg"
    link = "https://trustworthy.systems/people/?cn=Gernot+Heiser"
  %}

  {% include person.html
    name = "Ihor Kuz"
    text = "Kry10"
    img = "/images/tsc/ihor-square.jpg"
    link = "https://trustworthy.systems/people/?cn=Ihor+Kuz"
  %}

  {% include person.html
    name = "John Launchbury"
    text = "Galois"
    img = "/images/summit/john-l.jpg"
    link = "https://en.wikipedia.org/wiki/John_Launchbury"
  %}

  {% include person.html
    name = "Kent Mcleod"
    text = "Kry10"
    img = "/images/tsc/kent-square.jpg"
    link = "https://www.linkedin.com/in/kent-mcleod-1703a757"
  %}

  {% include person.html
    name = "Nick Spinale"
    text = "Colias Group"
    img = "/images/summit/nick.jpg"
    link = "https://nickspinale.com"
  %}

  {% include person.html
    name = "Perry Alexander"
    text = "The University of Kansas"
    img = "/images/summit/perry-square.jpg"
    link = "https://perry.alexander.name"
  %}

  {% include person.html
    name = "Robbie VanVossen"
    text = "DornerWorks"
    img = "/images/summit/robbie.png"
    link = "https://www.linkedin.com/in/robbie-vanvossen-gr/"
  %}

  {% include person.html
    name = "Todd Carpenter"
    text = "Galois"
    img = "/images/summit/todd.jpg"
    link = "https://galois.com/team/todd-carpenter/"
  %}

{% include person-grid-end.html %}
