{%- comment %}
Copyright 2025 seL4 Project a Series of LF Projects, LLC
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}

{% include person-grid-start.html %}
  {% include person.html
    name = "Ihor Kuz<br>(co-chair)"
    text = "Kry10"
    img = "/images/tsc/ihor-square.jpg"
    link = "https://www.ikuz.org"
  %}
  {% include person.html
    name = "Nick Spinale<br>(co-chair)"
    text = "Colias Group"
    img = "/images/summit/nick.jpg"
    link = "https://nickspinale.com"
  %}
  {% include person.html
    name = "Adam"
    text = "NCSC"
    img = "/images/summit/person-pc.svg"
    link = "https://www.ncsc.gov.uk/"
  %}
  {% include person.html
    name = "Alison Felizzi"
    text = "Kry10"
    img = "/images/summit/alison-square.jpg"
    link = "https://www.linkedin.com/in/alison-felizzi-991244189"
  %}
  {% include person.html
    name = "David Hardin"
    text = "Collins"
    img = "/images/summit/david-square.jpg"
    link = "https://loonwerks.com/people/david-hardin.html"
  %}
  {% include person.html
    name = "Everton de Matos"
    text = "TII"
    img = "/images/summit/everton-square.jpg"
    link = "https://evermatos.com/"
  %}
  {% include person.html
    name = "Gernot Heiser"
    text = "UNSW Sydney"
    img = "/images/summit/gernot.jpg"
    link = "https://trustworthy.systems/people/?cn=Gernot+Heiser"
  %}
  {% include person.html
    name = "Indan Zupancic"
    img = "/images/summit/indan-square.jpg"
  %}
  {% include person.html
    name = "John Hatcliff"
    text = "KSU"
    img = "/images/summit/john-h-square.jpg"
    link = "https://www.cs.ksu.edu/about/people/faculty/hatcliff/"
  %}
  {% include person.html
    name = "Lucy Parker"
    img = "/images/summit/lucy-square.jpg"
    link = "https://www.linkedin.com/in/lucy-fletcher-13a484253/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
  %}
  {% include person.html
    name = "Matthew Brecknell"
    text = "Kry10"
    img = "/images/tsc/matthew.jpg"
    link = "https://www.linkedin.com/in/mbrcknl/"
  %}
  {% include person.html
    name = "Michal Podhradsky"
    text = "Galois"
    img = "/images/summit/michal-square.jpg"
    link = "https://galois.com/team/michal-podhradsky/"
  %}
  {% include person.html
    name = "Robbie VanVossen"
    text = "DornerWorks"
    img = "/images/summit/robbie.png"
    link = "https://www.linkedin.com/in/robbie-vanvossen-gr/"
  %}
{% include person-grid-end.html %}