{%- comment %}
Copyright 2025 seL4 Project a Series of LF Projects, LLC
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}

{% include person-grid-start.html %}
{% include person.html
  name = "Nick Spinale<br>(co-chair)"
  text = "Colias Group"
  img = "/images/summit/nick.jpg"
  link = "https://nickspinale.com"
%}

{% include person.html
  name = "Robbie VanVossen<br>(co-chair)"
  text = "DornerWorks"
  img = "/images/summit/robbie.png"
  link = "https://www.linkedin.com/in/robbie-vanvossen-gr/"
%}

{% include person.html
    name = "Adam"
    text = "NCSC"
    img = "/images/summit/person-pc.svg"
    link = "https://www.ncsc.gov.uk/"
%}

{% include person.html
  name = "Corey Lewis"
  text = "Proofcraft"
  img = "/images/summit/corey-square.jpg"
  link = "https://trustworthy.systems/people/?cn=Corey+Lewis"
%}

{% include person.html
  name = "Courtney Darville"
  text = "UNSW Sydney"
  img = "/images/summit/courtney.jpg"
  link = "https://www.linkedin.com/in/courtneydarville3141/"
%}

{% include person.html
  name = "David Hardin"
  text = "Collins"
  img = "/images/summit/david-square.jpg"
  link = "https://loonwerks.com/people/david-hardin.html"
%}

{% include person.html
  name = "Everton de Matos"
  text = "TII"
  img = "/images/summit/everton-square.jpg"
  link = "https://evermatos.com/"
%}

{% include person.html
  name = "Gernot Heiser"
  text = "UNSW Sydney"
  img = "/images/summit/gernot.jpg"
  link = "https://trustworthy.systems/people/?cn=Gernot+Heiser"
%}

{% include person.html
  name = "Juliana Furgala"
  text = "MIT Lincoln Laboratory"
  img = "/images/summit/juliana-square.jpg"
  link = "https://www.ll.mit.edu/biographies/juliana-furgala"
%}

{% include person.html
  name = "Leigha VanderKlok"
  text = "DornerWorks"
  img = "/images/summit/leigha-square.jpg"
  link = "https://www.linkedin.com/in/leigha-vanderklok-b5038a166/"
%}

{% include person.html
  name = "Lucy Fletcher"
  img = "/images/summit/lucy-square.jpg"
  link = "https://www.linkedin.com/in/lucy-fletcher-13a484253/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
%}

{% include person.html
  name = "Matthew Brecknell"
  text = "Kry10"
  img = "/images/tsc/matthew.jpg"
  link = "https://www.linkedin.com/in/mbrcknl/"
%}

{% include person.html
  name = "Yanyan Shen"
  text = "NIO"
  img = "/images/summit/yanyan-square.jpg"
  link = "https://au.linkedin.com/in/yanyan-shen-1495547"
%}
{% include person-grid-end.html %}