{%- comment %}
Copyright 2025 seL4 Project a Series of LF Projects, LLC
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}

{% include person-grid-start.html %}

{% include person.html
  name = "Robbie VanVossen<br>(co-chair)"
  text = "DornerWorks"
  img = "/images/summit/robbie.png"
  link = "https://www.linkedin.com/in/robbie-vanvossen-gr/"
%}

{% include person.html
  name = "Lucy Fletcher<br>(co-chair)"
  text = "Apple"
  img = "/images/summit/lucy-square.jpg"
  link = "https://www.linkedin.com/in/lucy-fletcher-13a484253/?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
%}

{% include person.html
  name = "Adam"
  text = "NCSC"
  img = "/images/summit/person-pc.svg"
  link = "https://www.ncsc.gov.uk/"
%}

{% include person-grid-end.html %}