{%- comment %}
Copyright 2025 seL4 Project a Series of LF Projects, LLC
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}

<div id="a-{{ include.id }}" class="py-12 mb-5 section-max-w sm:py-16">
  <div class="mx-auto px-2 sm:px-6 lg:px-8">
    <div class="mx-auto lg:mx-0">
      <h2 class="text-xl font-bold tracking-tight text-dark mb-6 sm:text-4xl">{{include.title}}</h2>
      <p>
        <span class="text-gray-800 dark:text-gray-300">{{include.presenter}}</span>
        <br>
        <span class="text-light">{{include.affiliation}}</span>
      </p>
      <article class="theprose">
        <div class="pt-5">
          {% include {{ include.text }} %}
        </div>
      </article>
      <div class="flex flex-row gap-x-2 pt-2">
        {% if include.youtube %}
          <div class="p-2 pb-1">
            <a href="{{include.youtube}}" target="_blank"><img
      src="{{ '/images/icons/youtube_nobckgnd.svg' | relative_url }}" width="30" alt="YouTube icon"></a>
          </div>
        {% endif %}
        {% if include.slides %}
          <div class="p-1 mt-2">
            <a href="{{include.slides}}" class="text-sm text-light underline">Slides</a>
          </div>
        {% endif %}
        <div>
          <p class="p-1 mt-2">
          <a href="program.html#p-{{include.id}}" class="text-sm text-light underline">See this talk in the program</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% include centered-up-button.html margin="mb-0 sm:mb-6" %}
