<li class="flex flex-col gap-10 pb-10 sm:flex-row">
  <img class="ml-0 mr-auto w-52 sm:aspect-4/5 h-52 flex-none rounded-2xl object-cover" src="{{include.img}}" alt="{{include.name}}">
  <div class="max-w-xl flex-auto">
    <p class="text-lg font-semibold leading-8 tracking-tight text-dark">{{include.name}}</p>
    <p class="text-base leading-7 text-light">{{include.details}}</p>
    <div class="mt-6 text-base leading-7 text-light">
      {{include.bio}}
    </div>
    {% if include.mastodon or include.linkedin %}
    <ul class="mt-6 flex gap-x-6">
      {% if include.linkedin %}
      <li>
        <a href="{{include.linkedin}}" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">LinkedIn</span>
          {% svg _icons/other/linkedin.svg class="h5 w-5" %}
        </a>
      </li>
      {% endif %}
      {% if include.mastodon %}
      <li>
        <a href="{{include.mastodon}}" class="text-gray-400 hover:text-gray-500">
          <span class="sr-only">Mastodon</span>
          {% svg _icons/other/mastodon.svg class="h-5 w-5" %}
        </a>
      </li>
      {% endif %}
      </ul>
    {% endif %}
  </div>
</li>