  <article class="relative isolate flex flex-col gap-8 lg:flex-row">
    <div class="relative aspect-video sm:aspect-2/1 lg:aspect-square lg:w-64 lg:shrink-0">
      <img src="{{include.pic | relative_url}}" alt="" class="absolute inset-0 size-full rounded-2xl bg-gray-50 object-cover">
      <div class="absolute inset-0 rounded-2xl ring-1 ring-gray-900/10 ring-inset"></div>
    </div>
    <div>
      <div class="flex items-center gap-x-4 text-xs">
        {% if include.date %}<time datetime="{{ include.date }}" class="text-gray-500">{{ include.date }}</time>{% endif %}
        <div class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{{ include.tag }}</div>
      </div>
      <div class="group relative max-w-xl">
        <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
          <a href={{include.link}}>
            <span class="absolute inset-0"></span>
             {{include.title}}
          </a>
        </h3>
	{{include.description}}
      </div>
      {% if include.author-name %}
      <div class="mt-6 flex border-t border-gray-900/5 pt-6">
        <div class="relative flex items-center gap-x-4">
          <img src="{{include.author-pic | relative_url}}" alt="" class="size-10 rounded-full bg-gray-50">
          <div class="text-sm/6">
            <p class="font-semibold text-gray-900">
              <a href="{{include.author-link}}">
                <span class="absolute inset-0"></span>
                {{include.author-name}}
              </a>
            </p>
            <p class="text-gray-600"> {{include.author-affiliation}}</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </article>
