  <article class="relative isolate flex flex-col gap-8 lg:flex-row lg:py-2 md:py-10">
    <a href={{include.link}}>
      <div class="relative aspect-video sm:aspect-2/1 lg:aspect-square lg:w-64 lg:shrink-0">
	<img src="{{include.pic | relative_url}}" alt="" class="absolute inset-0 size-full rounded-2xl bg-gray-50 object-cover">
	<div class="absolute inset-0 rounded-2xl ring-1 ring-gray-900/10 ring-inset"></div>
      </div>
    </a>
    <div>
      <div class="flex items-center gap-x-4 text-xs">
        <div class="relative z-10 rounded-full bg-gray-50 dark:bg-gray-400 px-3 py-1.5 font-medium text-gray-600">
	  {{ include.tag }}
	</div>
      </div>
      <div class="group relative max-w-xl">
        <h3 class="mt-3 text-lg/6 font-semibold text-dark">
          <a href={{include.link}}>
             {{include.title}}
          </a>
        </h3>
	<p class="text-light">{{include.description}}</p>
      </div>
    </div>
  </article>
