{%-	assign found = false -%}
{%-	for n in site.data.menu -%}
{%-		assign url = n[0] -%}
{%-		assign name = n[1] -%}
{%-		assign submenu = n[2] -%}
{%-		unless name -%}
{%-			assign name = url | split: "/" | last -%}
{%-		endunless -%}
{%-		if curl == url -%}
{%-			assign cname = name -%}
{%-			assign found = true -%}
{%-			break -%}
{%-		endif -%}
{%-		for n in submenu -%}
{%-			assign url = n[0] -%}
{%-			assign name = n[1] -%}
{%-			assign submenu = n[2] -%}
{%-			unless name -%}
{%-				assign name = url | split: "/" | last -%}
{%-			endunless -%}
{%-			if curl == url -%}
{%-				assign cname = name -%}
{%-				assign found = true -%}
{%-				break -%}
{%-			endif -%}
{%-		endfor -%}
{%-		if found -%}
{%-			break -%}
{%-		endif -%}
{%-	endfor -%}
<li><a href="{{ curl | relative_url }}">{{ cname | split: "." | first }}</a></li>
