<!--
Copyright 2024 seL4 Project a Series of LF Projects, LLC.
SPDX-License-Identifier: CC-BY-SA-4.0
-->
{% if site.on_seL4 %}
<a href="/About/webserver.html">About this web server</a>
Served by <a href="https://micropython.org/">MicroPython</a>
on <a href="https://lionsos.org/"> LionsOS</a> on seL4.
<br/>
{% endif %}
Copyright &copy; 2025 seL4 Project a Series of LF Projects, LLC.<br/>
seL4 is a trademark of LF Projects, LLC.<br/>
For trademark usage guidelines, privacy and cookie policies,
and other applicable policies, as well as terms and conditions
governing this website, please see
<a href="http://www.lfprojects.org/">www.lfprojects.org</a>
and the <a href={{ "/Legal/trademark.html" | relative_url }}>trademark guidelines</a>.
