<div class="heading px-6 pt-6 sm:pt-8 pb-12 sm:pb-20 lg:px-8 section-borders">
  <div class="section-max-w text-center">
    {% if include.pre %}
    <div class="pre-heading">
      {% if include.pre_link %}<a href="{{ include.pre_link }}" class="hover:underline">{% endif %}
      {{ include.pre }}
      {% if include.pre_link %}
      {% unless include.noarrow %}{% include icons/arrow-uturn-left.svg class="inline-icon -mt-2" %}{% endunless %}
      </a>
      {% endif %}
    </div>
    {% endif %}
    <h1>{{ include.h1 }}</h1>
    <div class="mt-6 sub-heading">
      {{ include.sub }}
    </div>
    {% if include.h2 %}
    <h2 class="mt-16 text-3xl font-bold tracking-tight text-gray-900 md:text-4xl">{{ include.h2 }}</h2>
    {% endif %}
  </div>
</div>
