<header class="bg-white">
  <nav class="mx-auto flex 2xl:max-w-7xl items-center justify-between px-6 pt-6 pb-4 mb-2 lg:px-8
              shadow-md" aria-label="Global">
    <div class="flex lg:flex-none">
      <a href="https://sel4.systems" class="-m-1.5 p-1.5">
        <span class="sr-only">seL4</span>
        <img class="h-8 w-auto" src={{ "/images/seL4.svg" || relative_url }} alt="seL4 logo">
      </a>
    </div>
    <div class="flex flex-1"></div>

    <div class="hidden lg:flex lg:gap-x-6 xl:gap-x-12">
      {%- include menu.html -%}
    </div>
    <div class="hidden lg:flex lg:flex-1"></div>

    <div class="flex lg:flex-none justify-end">
      <!-- member button -->
      <a href={{ "/Foundation/Join/" | relative_url }} class="button-snd mr-6 md:mr-10">Become a Member</a>

      <!-- docsite button -->
      <a href="https://docs.sel4.systems" class="button-snd mr-2 md:mr-6">Docsite
        {% include icons/link.svg class="inline-icon" %}
      </a>

      <!-- github button -->
      <a href="https://github.com/seL4" class="mr-4 md:mr-0 px-3 pt-1 pb-2 block text-gray-400 hover:text-gray-500 dark:hover:text-gray-300">
        <span class="sr-only">seL4 on GitHub</span>
        {% include icons/github.svg class="w-5 h-5 md:w-6 md:h-6" %}
      </a>
    </div>

    <!-- mobile menu hamburger button -->
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700 mobile-drop">
        <span class="sr-only">Open main menu</span>
        {% include icons/bars-3.svg class="h-6 w-6" %}
      </button>
    </div>
  </nav>

  {%- include mobile-menu.html -%}
</header>