{%- comment %}
Copyright 2025 Proofcraft Pty Ltd
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}
{% assign max-width = include.width | default: "max-w-7xl" %}
{% assign title = include.title | default: "Meet our members &rarr;" %}
{% assign margins = include.margins | default: "py-20 sm:pt-24 sm:pb-32" %}
<div class="{{max-width}} bg-white {{margins}} dark:max-w-none mx-auto overflow-hidden
          light:sm:[mask-image:_linear-gradient(to_right,transparent_0,_black_200px,_black_calc(100%-200px),transparent_100%)]">
  <a href="{{ '/Foundation/Membership/' | relative_url }}" class="hover:underline">
    {% unless include.hide_title %}
    <h2 class="text-center text-3xl font-semibold leading-8 text-darkcol mb-10">{{ title }}</h2>
    {% endunless %}
    <div class="inline-flex flex-nowrap">
{%- assign logo-grid = "flex items-center justify-center md:justify-start
                        animate-infinite-scroll motion-reduce:animate-none" -%}
{%- assign members = site.data.members.premium |
                     concat: site.data.members.general |
                     concat: site.data.members.associate -%}
{%- assign members = members | sort: "name" -%}
      <ul class="{{logo-grid}}">
{%- for member in members %}
        <li class="mx-8">
            <img src="{{ '/Foundation/Membership/LOGOS/' | append: member.logo | relative_url }}"
                 alt="{{ member.name }}" class="w-[158px] h-[100px] object-contain max-w-none">
        </li>
{%- endfor -%}
      </ul>
      <!-- repeat for animation reset -->
      <ul class="{{logo-grid}}" aria-hidden="true">
{%- for member in members %}
        <li class="mx-8">
          <img src="{{ '/Foundation/Membership/LOGOS/' | append: member.logo | relative_url }}"
              alt="{{ member.name }}" class="w-[158px] h-[100px] object-contain max-w-none">
        </li>
{%- endfor -%}
      </ul>
    </div>
  </a>
</div>