{% assign max-width = include.width | default: "max-w-7xl" %}
<div class="{{max-width}} bg-white py-20 sm:pt-24 sm:pb-32 dark:max-w-none mx-auto overflow-hidden
          light:[mask-image:_linear-gradient(to_right,transparent_0,_black_200px,_black_calc(100%-200px),transparent_100%)]">
  <a href="{{ '/Foundation/Membership/' | relative_url }}">
    <h2 class="text-center text-3xl font-semibold leading-8 text-darkcol mb-10">Meet our members</h2>
    <div class="inline-flex flex-nowrap">
{%- assign logo-grid = "flex items-center justify-center md:justify-start
                        animate-infinite-scroll motion-reduce:animate-none" -%}
{%- assign members = site.data.members.premium |
                     concat: site.data.members.general |
                     concat: site.data.members.associate -%}
{%- assign members = members | sort: "name" -%}
      <ul class="{{logo-grid}}">
{%- for member in members %}
        <li class="mx-8">
          <img src="{{ '/Foundation/Membership/LOGOS/' | append: member.logo | relative_url }}" alt="{{ member.name }}" width="158px" class="max-w-none">
        </li>
{%- endfor -%}
      </ul>
      <!-- repeat for animation reset -->
      <ul class="{{logo-grid}}" aria-hidden="true">
{%- for member in members %}
        <li class="mx-8">
          <img src="{{ '/Foundation/Membership/LOGOS/' | append: member.logo | relative_url }}" alt="{{ member.name }}" width="158px" class="max-w-none">
        </li>
{%- endfor -%}
      </ul>
    </div>
  </a>
</div>
