{%- comment %}
Copyright 2026 seL4 Project a Series of LF Projects, LLC
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}
<div class="grid grid-cols-3 mt-10 text-sm">
  <div class="font-semibold ml-20">PO required:</div>
  <div class="mx-5">
    <input
      type="radio"
      name="po_selection" class="accent-green-700"
      value='1'
    />
    <span>Yes</span>
  </div>
  <div class="-ml-5">
    <input
      type="radio"
      name="po_selection" class="accent-green-700"
      value='2'
    />
    <span>No</span>
  </div>
</div>