{%- comment %}
Copyright 2026 seL4 Project a Series of LF Projects, LLC
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}
<div class="flex gap-4 mt-10 text-sm justify-center items-center">
  <div class="font-semibold">PO required:</div>
  <div>
    <input
      type="radio"
      name="po_selection" class="accent-green-700"
      value='1'
    />
    <span>Yes</span>
  </div>
  <div>
    <input
      type="radio"
      name="po_selection" class="accent-green-700"
      value='2'
    />
    <span>No</span>
  </div>
</div>