{%-	for n in menu -%}
{%-		assign name = n[0] -%}
{%-		assign submenu = n[1] -%}
{%-   assign extra = n[2] -%}
<div class="relative">
	<button type="button" class="dropbtn" aria-expanded="false">
		{{ name | escape }} {% include icons/chevron-down-mini.svg class="drop-icon" %}
	</button>

{%-   if submenu.size() > 6 -%}
	<div class="absolute -left-14 top-full z-10 mt-4 flex w-screen max-w-max px-4 transition ease-in-out duration-200 dropmenu">
		<div class="w-screen max-w-md flex-auto overflow-hidden rounded-3xl bg-white text-sm leading-6 shadow-lg ring-1 ring-gray-900/5 lg:max-w-3xl">
			<div class="grid grid-cols-1 gap-x-6 gap-y-1 p-4 lg:grid-cols-2">
{%    else %}
	<div class="menu-one-col dropmenu">
		<div class="p-4">
{%    endif %}
{%-	  for sub in submenu -%}
{%-		  assign icon = "icons/" | append: sub[0] | append: ".svg" -%}
{%-		  assign short = sub[1] | escape -%}
{%-		  assign long = sub[2] | escape -%}
{%-		  assign url = sub[3] -%}
				<div class="group menu-item-group">
					<div class="menu-icon-div">{%- include {{ icon }} class="menu-icon" -%}</div>
					<div>
						<a href="{{ url | relative_url }}" class="font-semibold text-gray-900">
							{{ short }}
							<span class="absolute inset-0"></span>
						</a>
						<p class="mt-1 text-gray-600">{{ long }}</p>
					</div>
				</div>
{%-	  endfor -%}
{%-   if name contains "News" -%}
		</div>
			<div class="bg-gray-50 p-8">
				<div class="flex justify-between">
					<h3 class="text-sm font-semibold leading-6 text-gray-500">Recent news</h3>
					<a href="{{ '/news/' | relative_url}}" class="text-sm font-semibold leading-6 text-indigo-600">See all <span aria-hidden="true">&rarr;</span></a>
				</div>
				<ul class="mt-6 space-y-6">
{%-		  assign news_items = site.news-items | reverse -%}
{%-	    for item in news_items limit: 3 -%}
{%-		    assign date = item.date | date: "%d %b %Y" -%}
{%-		    assign iso = item.date | date: "%Y-%e-%d" -%}
{%-		    assign year = item.date | date: "%Y" -%}
{%-		    assign mm_dd = item.date | date: "%e_%d" -%}
{%-		    assign anchor = item.anchor | default: mm_dd -%}
{%-		    assign url = "/news/" | append: year | append: "#" | append: anchor -%}
					<li class="relative">
						<time datetime="{{ iso }}" class="block text-xs leading-6 text-gray-600">{{ date }}</time>
						<a href="{{ url | relative_url }}" class="block truncate text-sm font-semibold leading-6 text-gray-900">
							{{ item.title }}
							<span class="absolute inset-0"></span>
						</a>
					</li>
{%-     endfor -%}
				</ul>
			</div>
			<div>
{%-   endif %}
			</div>
{%-   if extra -%}
			<div class="grid grid-cols-1 gap-x-6 gap-y-1 p-4 lg:grid-cols-2 bg-gray-50">
{%-	    for sub in extra -%}
{%-		    assign icon = "icons/" | append: sub[0] | append: ".svg" -%}
{%-		    assign short = sub[1] | escape -%}
{%-		    assign long = sub[2] | escape -%}
{%-		    assign url = sub[3] -%}
				<div class="group menu-item-group">
					<div class="menu-icon-div">{%- include {{ icon }} class="menu-icon" -%}</div>
					<div>
						<a href="{{ url | relative_url }}" class="font-semibold text-gray-900">
							{{ short }}
							<span class="absolute inset-0"></span>
						</a>
						<p class="mt-1 text-gray-600">{{ long }}</p>
					</div>
				</div>
{%-     endfor -%}
			</div>
{%-   endif %}
{%-   if submenu.size() > 6 -%}
		</div>
{%-   endif %}
	</div>
</div>
{%-	endfor -%}
