{%- comment %}
Copyright 2025 seL4 Project a Series of LF Projects, LLC
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}

{% include person-grid-start.html %}

{% include person.html
  name = "Darren Cofer"
  text = "<a href='https://www.collinsaerospace.com'>Collins Aerospace</a>"
  img = "/images/summit/dcofer-2022-2-small.jpg"
  link = "/Summit/2025/abstracts2025.html#a-panel-collins"
%}

{% include person.html
  name = "Robbie VanVossen"
  text = "<a href='https://www.dornerworks.com/'>DornerWorks</a>"
  img = "/images/summit/robbie.png"
  link = "/Summit/2025/abstracts2025.html#a-panel-dornerworks"
%}

{% include person.html
  name = "Boyd Multerer"
  text = "<a href='https://www.kry10.com/'>Kry10</a>"
  img = "/images/summit/boyd.jpg"
  link = "/Summit/2025/abstracts2025.html#a-panel-kry10"
%}

{% include person.html
  name = "Peter de Ridder"
  text = "<a href='https://www.mep-info.com/'>MEP</a>"
  img = "/images/summit/peter-square.jpg"
  link = "/Summit/2025/abstracts2025.html#a-panel-mep"
%}

{% include person.html
  name = "Yanyan Shen"
  text = "<a href='https://www.nio.com'>NIO</a>"
  img = "/images/summit/yanyan-square.jpg"
  link = "/Summit/2025/abstracts2025.html#a-panel-nio"
%}

{% include person.html
  name = "Juliana Furgala<br>(Moderator)"
  text = "<a href='https://www.ll.mit.edu/'>MIT Lincoln Laboratory</a>"
  img = "/images/summit/juliana-square.jpg"
  link = "/Summit/2025/abstracts2025.html#a-panel-mit"
%}
{% include person-grid-end.html %}
