{% include person-grid-start.html %}
{% include person.html
  name = "Sid Hussmann"
  text = "<a href='https://www.gapfruit.com/'>Gapfruit</a>"
  img = "/images/summit/sid.jpg"
  link = "/Foundation/Summit/2023/abstracts2023.html#a-panel-gapfruit"
%}

{% include person.html
  name = "Kent McLeod"
  text = "<a href='https://www.kry10.com/'>Kry10</a>"
  img = "/images/tsc/kent-square.jpg"
  link = "/Foundation/Summit/2023/abstracts2023.html#a-panel-kry10"
%}

{% include person.html
  name = "Juliana Furgala"
  text = "<a href='https://www.ll.mit.edu/r-d/cyber-security-and-information-sciences/secure-resilient-systems-and-technology'>MIT Lincoln Laboratory</a>"
  img = "/images/summit/juliana-square.jpg"
  link = "/Foundation/Summit/2023/abstracts2023.html#a-panel-mit"
%}

{% include person.html
  name = "Gernot Heiser"
  text = "<a href='https://trustworthy.systems/about/'>Trustworthy Systems UNSW</a>"
  img = "/Foundation/Board/TS-Gernot-square.jpg"
  link = "/Foundation/Summit/2023/abstracts2023.html#a-panel-unsw"
%}

{% include person.html
  name = "Todd Carpenter<br>(Moderator)"
  text = "<a href='https://galois.com/'>Galois</a>"
  img = "/images/summit/todd.jpg"
  link = "/Foundation/Summit/2023/abstracts2023.html#a-panel-galois"
%}
{% include person-grid-end.html %}