{%- comment %}
Copyright 2025 seL4 Project a Series of LF Projects, LLC
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}

{% include person-grid-start.html %}

{% include person.html
  name = "Anna Lyons <mark>TBC</mark>"
  text = "<a href='https://www.apple.com/'>Apple <mark>TBC</mark></a>"
  img = "/images/tsc/anna.png"
  link = "/Summit/2025/abstracts2025.html#a-panel-apple"
%}

{% include person.html
  name = "Robbie VanVossen <mark>TBC</mark>"
  text = "<a href='https://www.dornerworks.com/'>DornerWorks</a>"
  img = "/images/summit/robbie.png"
  link = "/Summit/2025/abstracts2025.html#a-panel-dornerWorks"
%}

{% include person.html
  name = "Boyd Multerer <mark>TBC</mark>"
  text = "<a href='https://www.kry10.com/'>Kry10</a>"
  img = "/images/summit/boyd.jpg"
  link = "/Summit/2025/abstracts2025.html#a-panel-kry10"
%}

{% include person.html
  name = "Yanyan Shen <mark>TBC</mark>"
  text = "<a href='https://www.nio.com'>NIO <mark>TBC</mark></a>"
  img = "/images/summit/yanyan-square.jpg"
  link = "/Summit/2025/abstracts2025.html#a-panel-nio"
%}

{% include person.html
  name = "Darren Cofer"
  text = "<a href='www.collinsaerospace.com'>Collins Aerospace</a>"
  img = "/images/summit/dcofer-2022-2-small.jpg"
  link = "/Summit/2025/abstracts2025.html#a-panel-collins"
%}

{% include person.html
  name = "Peter de Ridder <mark>TBC</mark>"
  text = "<a href='https://www.mep-info.com/'>MEP</a>"
  img = ""
  link = "/Summit/2025/abstracts2025.html#a-panel-mep"
%}

{% include person.html
  name = "<mark>TBC</mark><br>(Moderator)"
  text = "<a href=''><mark>TBC</mark></a>"
  img = ""
  link = "/Summit/2025/abstracts2025.html#a-panel-"
%}
{% include person-grid-end.html %}
