{%- comment %}
Copyright 2026 seL4 Project a Series of LF Projects, LLC
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}

{% include person-grid-start.html %}

{% include person.html
  name = "Darren Cofer"
  text = "<a href='https://www.collinsaerospace.com'>Collins Aerospace</a>"
  img = "/images/summit/dcofer-2022-2-small.jpg"
  link = "/Summit/2026/abstracts2026.html#a-panel-darren"
%}

{% include person.html
  name = "Peter Davies"
  text = "<a href='https://www.thalesgroup.com/en'>Thales</a>"
  img = "/images/summit/peter-davies-square.png"
  link = "/Summit/2026/abstracts2026.html#a-panel-peter"
%}

{% include person.html
  name = "Jonathan Marshall"
  text = "<a href='https://www.safeshark.co.uk/'>SafeShark</a>"
  img = "/images/summit/person-pc.svg"
  link = "/Summit/2026/abstracts2026.html#a-panel-jonathan"
%}

{% include person.html
  name = "Anjana Rajan"
  text = "<a href='https://www.atalanta.tech/'>Atalanta</a>"
  img = "/images/summit/anjana-square.jpg"
  link = "/Summit/2026/abstracts2026.html#a-panel-anjana"
%}

{% include person.html
  name = "James Sharp"
  text = "<a href='https://www.gov.uk/government/organisations/defence-science-and-technology-laboratory'>Defence Science and Technology Laboratory (Dstl)</a>"
  img = "/images/summit/james-square.png"
  link = "/Summit/2026/abstracts2026.html#a-panel-james"
%}

{% include person.html
  name = "Martin Dehnel-Wild, Kry10<br>(Moderator)"
  text = "<a href='https://www.kry10.com/'>Kry10</a>"
  img = "/images/summit/martin-square.jpg"
  link = "/Summit/2026/abstracts2026.html#a-panel-martin"
%}
{% include person-grid-end.html %}
