{%- comment %}
Copyright 2025 seL4 Project a Series of LF Projects, LLC
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}

{% include person-grid-start.html %}
  {% include person.html
    name = "William “Brad” Martin"
    text = "<a href='https://www.darpa.mil/'>DARPA</a>"
    img = "/images/summit/brad-square.jpg"
    link = "/Summit/2022/abstracts2022.html#a-Funding-agencies"
  %}

  {% include person.html
    name = "Paul Waller"
    text = "<a href='https://www.ncsc.gov.uk/'>NCSC</a>"
    img = "/images/summit/paul-square.jpg"
    link = "/Summit/2022/abstracts2022.html#a-Funding-agencies"
  %}

  {% include person.html
    name = "Sebastian Jester"
    text = "<a href='https://www.cyberagentur.de/'>Cyberagentur</a>"
    img = "/images/summit/cyberagentur-square.svg"
    link = "/Summit/2022/abstracts2022.html#a-Funding-agencies"
  %}

  {% include person.html
    name = "Dr. Shreekant (Ticky) Thakkar"
    text = "<a href='https://www.tii.ae/'>TII</a>"
    img = "/images/summit/ticky-square.jpg"
    link = "/Summit/2022/abstracts2022.html#a-Funding-agencies"
  %}
{% include person-grid-end.html %}
