{%- comment %}
Copyright 2025 Proofcraft Pty Ltd
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}
<li>
  {% if include.link %}
  <a href="{{include.link | relative_url}}" class="text-dark no-underline! hover:underline!">
  {% endif %}
    <img class="mx-auto h-24 w-24 rounded-full" src="{{include.img | relative_url}}" alt="Picture of {{include.name}}">
    <p class="mt-6 text-base font-semibold leading-7 tracking-tight text-dark">{{include.name}}</p>
  {% if include.link %}
  </a>
  {% endif %}
  <p class="text-sm leading-6 text-light">{{include.text}}</p>
</li>
