<div class="section-borders">
  <h2 class="h2-size text-center" id="{{include.id}}">{{include.heading}}</h2>

  {% if include.img %}
  <div class="mt-12 mx-auto section-max-w text-base sm:text-lg text-light
	      space-x-12 space-y-6 text-justify">
    <img class="rounded-xl shadow-xl float-left w-1/2"
         src="{{include.img}}"
	 alt="{{include.img-alt}}">
    {% else %}
    <div class="mt-12 mx-auto section-max-w text-base sm:text-lg text-light
		text-justify a-underline">
    {% endif %}

