{%- comment %}
Copyright 2025 Proofcraft Pty Ltd
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}

<div class="section-max-w mt-14 sm:mt-20 mb-7 sm:mb-10 text-center text-base text-f_green-600 sm:text-lg text-light leading-6 sm:leading-7 a-underline">
  <p class="-mt-5 mb-5 font-semibold text-2xl">
    New!
  </p>
  <p class="mb-5">
    The 2026 edition of the seL4 summit will feature a full first day
  dedicated to applications of seL4-based systems, high-level overviews of the
  technology, and perspectives on formally verified software in the real world.
  This will be followed by Days 2 and 3 focusing on more technical development,
  research, reports, and discussions.
  </p>
  <p class="mb-25">
    We are particularly keen to welcome people who are new to seL4 or still
    developing their familiarity with the technology. The event will offer an
    ideal opportunity to gain a high-level view of the landscape and ecosystem
    of seL4 and its associated tools, frameworks and languages, as well as
    formally verified software in general, and to take stock of the latest
    updates.
  </p>
</div>
