<!-- About the summit section -->
{% include section-start.html
heading='About'
id='about'
margins='pt-16 sm:pt-24'
body-max-w='max-w-6xl'
intro='
<p>
    The seL4 Summit aims to gather all the seL4 community to learn, share, and connect.
</p>
<ul role="list" class="mt-8 max-w-xl space-y-8 text-light">
    <li class="flex gap-x-3">
        <svg class="mt-1 h-5 w-5 flex-none text-f_green-600" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd" />
        </svg>
        <span>Learn about the seL4 technology, its latest progress, use, successes, challenges,
            plans.</span>
    </li>
    <li class="flex gap-x-3">
        <svg class="mt-1 h-5 w-5 flex-none text-f_green-600" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd" />
        </svg>
        <span>Share exciting seL4 development, research, experience, application in the real world.</span>
    </li>
    <li class="flex gap-x-3">
        <svg class="mt-1 h-5 w-5 flex-none text-f_green-600" viewBox="0 0 20 20" fill="currentColor"
            aria-hidden="true">
            <path fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                clip-rule="evenodd" />
        </svg>
        <span>Connect with other seL4 developers, users, providers, customers, supporters, potential
            partners and
            enthusiasts.</span>
    </li>
</ul>
<p>
    For any questions regarding the summit, please contact <a title="summit@sel4.systems"
        href="mailto:summit@sel4.systems">summit@sel4.systems</a>.
</p>'
%}

{% include section-end.html %}
