{%- comment %}
Copyright 2025 seL4 Project a Series of LF Projects, LLC
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}

<div class="-mt-14 sm:-mt-20 text-center text-base sm:text-lg text-light leading-6 sm:leading-7 a-underline">
  <p>
    {{include.about}}
  </p>
  <div class="mt-5 mb-5">
    <img class="w-52 mx-auto" src="../../images/sel4-summit-logo.svg" alt="seL4 Summit">
  </div>
  <p>
    {{include.city}}, {{include.date}}
  </p>
  {% if include.submit-link or include.reg-link %}
    <div class="flex justify-center items-center gap-x-5 mt-5 mb-20">
      {% if include.submit-link %}
        <a href="{{include.submit-link}}" class="button-outline px-10">Submit</a>
      {% else %}
        <a href="{{include.reg-link}}" class="button-outline px-10">Register</a>
      {% endif %}
      {% if include.sponsor-link %}
        <a href="{{include.sponsor-link}}" class="button-outline px-10">Sponsor</a>
      {% endif %}
    </div>

    {% else %}
    <div class="mb-20"></div>
    {% endif %}

</div>
