{%- comment %}
Copyright 2025 seL4 Project a Series of LF Projects, LLC
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}

<div class="-mt-14 sm:-mt-20 text-center text-base sm:text-lg text-light leading-6 sm:leading-7 a-underline mb-20">
  <p>
    The seL4 Summit is the annual international summit on the seL4 microkernel,
    the world&apos;s most highly assured OS kernel, as well as on all
    seL4-related technology, tools, infrastructure, products, projects, and
    people.
  </p>
  <div class="mt-10 mb-10">
    <img class="w-52 mx-auto" src="../images/sel4-summit-logo.svg" alt="seL4 Summit">
  </div>
</div>
