<p>
  In this 'Voices from Nearby' session, I will provide thoughts and insights into how the Erlang Ecosystem Foundation (EEF) has been self-organizing to survive and thrive for the foreseeable future.
</p>
<p>
  The EEF was founded in 2019 as a not-for-profit primarily focused on community marketing and outreach to the next generation of programmers to get involved with functional programming and the BEAM ecosystem. Elixir, Erlang and Gleam programmers all feel that they have 'reached the promise land' and express high degrees of satisfaction with the community and development environment.
</p>
<p>
  This 'bucolic idyll' was disrupted over the last couple of years by a couple of external forces: i) In late 2022, I first read an early draft of the EU's Cyber Resiliency Act (CRA); and ii) AI powered analysis of code went from annoying AI-slop in early 2025 to unearthing critical vulnerabilities in early 2026.
</p>
<p>
  Fortunately the EEF's board and community leaders recognized these disruptions early and we started to rally around the idea that the EEF needed to drastically expanding its scope and mission if our community was going to survive and remain relevant going forward. Failing to step up to the challenge could lead to an 'extiction event' for our languages and libraries as serious commercially-usable technology.
</p>
<p>
  I will walk you through the decisions and actions we took and are making in order to stay relevant. This talk will give you a sense and perspective of what FOSS communities will need to do just to stay in 'the Red Queen's race'.
</p>