<p>
  The Throwbot® 3 Robot  by ReconRobotics is a ruggedized, throwable micro-robot designed for rapid and covert reconnaissance in high-risk and dynamic environments.  It is used by law enforcement and military personnel for real-time intelligence gathering, situational awareness, and remote investigation under control of a remote operator.  Their light weight makes them ideal for many forward situations, but also vulnerable to being commandeered, carried off, and dissected.
</p>
<p>
  Building on past and current work this talk will explain how seL4 can be used to increase the security posture of the underlying platform, further harden the control path, and add additional protections against the exfiltration of sensitive data.  Following this overview, a demonstration of the modified system using seL4 will be given.
</p>