<p>
  This talk will give an overview of the (systems) research and development activities at UNSW Sydney’s Trustworthy Systems (TS) group. It will provide the context for the other TS talks that follow, and will provide details of the activities not covered by separate talks, including:
</p>
<ul>
  <li>
    Microkit, driver framework and LionsOS progress
  </li>
  <li>
    performance analysis of the seL4 SMP kernel vs the multikernel
  </li>
  <li>
    re-establishing seL4’s worst-case execution time (WCET) analysis for the 64-bit MCS kernel on RISC-V
    </li>
    <li>
      establishing sound instruction-latency bounds for WCET analysis
  </li>
  <li>
    work on a clean model for IOMMU support
  </li>
  <li>
    ... and whatever exciting things that happened in the meantime.
  </li>
</ul>
<p>
Updates on verification work will be provided by Miki Tanaka and Rob Sison in their talks.
</p>