<p>
  The demand for software-defined systems among businesses is growing rapidly. The software-defined paradigm has been known since the 1990s, originating in the telecommunications industry with software-defined radio. Since around 2021, innovation in the automotive industry has focused on implementing the software-defined vehicle paradigm. This led to the creation of COVESA, and in Europe, automakers and suppliers joined forces in the Eclipse Foundation for SDV. Other industries seeking to accelerate innovation in safety-critical systems—such as manufacturing, the defense industry, and aerospace—are now following this model.
</p>
<p>
  Microkernels are well-suited as a central building block for implementing the Software-Defined Paradigm, as demonstrated annually at the seL4 Summit and reflected in over 275 million cars equipped with BlackBerry QNX.
</p>
<p>
  To enable various industries to implement the Software-Defined Paradigm, Fraunhofer IESE is researching a reference architecture called: tSDX – trustworthy Software Defined X. The “tSDX” research project has been funded by the German Ministry of Research since May 2026 and initially aims to define an instantiable reference architecture with microkernels as its central building block. In a practical, application-oriented manner, requirements and architectural drivers from the defense industry, aviation, aerospace, and manufacturing are being gathered with the consortium. The reference architecture is intended to be vendor-neutral (microkernel-independent) and is currently still under development.
</p>
<p>
  This presentation aims to convey initial insights and interim results. Furthermore, the presentation seeks to bridge the gap to practical application and present the needs and pain points of industrial applications to the participating microkernel experts.
</p>