<p>
  VM Composer is a GUI tool that makes it incredibly simple to design and build complex virtualized architectures on top of the seL4 Microkernel. The tool acts like a diagramming tool, but allows for granular configuration of virtual machines, device servers, and virtual connections. The tool supports x86 and ARM platforms. It is split into a front-end GUI and a back-end CLI tool which performs code/config generation and image building. This allows the back-end to be used in CI/CD pipelines.
</p>
<p>
  The poster will introduce the tool to Summit attendees and will allow us to discuss use cases and our feature roadmap.
</p>