<!--<title>Summit abstract</title>-->
<!--
    Copyright 2023, seL4 Summit authors (see abstracts)
    SPDX-License-Identifier: CC-BY-SA-4.0
-->
<h4 class="summit-abstract-title">
    Building a Commercial Virtualized Mobile Device with seL4 – Part 2
</h4>
<p class="summit-abstract-type">
    Talk
</p>
<p class="summit-abstract-author">
    Presented by Jason Sebranek, <span class="summit-abstract-affiliation">Cog Systems</span>
</p>
<p>
Cog Systems, Inc. specializes in developing secure solutions leveraging virtualization on connected mobile devices. Cog Systems has developed a Virtualized Mobile Device (VMD) architecture and has placed the seL4 microkernel and Virtual Machine Manager (VMM) at its heart. Thus, the VMD is built on a Type-1 hypervisor which manages physical device hardware and acts as a very small Trusted Computing Base (TCB).
</p>
<p>
In 2017 Cog Systems developed a single domain virtualized device on an HTC One A9 smartphone, and successfully validated it against the National Information Assurance Partnership (NIAP) Protection Profile (PP) for Mobile Device Fundamentals (MDF) and Virtual Private Network (VPN). This allowed Cog Systems to register the device with the National Security Agency (NSA) as an Approved Component under its Commercial Solutions for Classified (CSfC) process. Cog Systems is currently leveraging our VMD to develop a next-gen commercial virtualized smartphone - again planned for NIAP evaluation, CSfC inclusion, and commercial availability to the US government.
</p>
<p>
At the 2020 seL4 Summit, Cog Systems presented this effort as a case study in applying seL4 to a product commercialization effort. Since then, the project has experienced multiple and varied challenges, and has not yet been completed. Cog Systems feels there is value in giving a follow-up presentation to discuss the progress, setbacks, and lessons learned in the past few years.
</p>