---
# Copyright 2025 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Meet the co-chairs of the seL4 Summit 2026
anchor: summit-co-chairs
img: /images/summit/sel4_summit_2026.svg
img_alt: seL4 Summit 2026
img_w: w-3/10
dark: true
---

<p>
  We are thrilled to announce our co-chairs, Robbie VanVossen and Lucy Fletcher,
  for the seL4 summit 2026, which will be held in Vancouver, late August - early
  September (dates TBC).
</p>

{% include bio-items-start.html %}
  {% include co-chair-item.html
    name = "Robbie VanVossen"
    role = "seL4 Technical Lead"
    img = "/images/summit/robbie.png"
    affiliation = "DornerWorks"
    affiliation_link = "https://www.dornerworks.com/"
    text = "Robbie VanVossen is an employee of DornerWorks, has 12 years of experience in
    embedded hypervisors, and 10 years of experience with the seL4 microkernel.
    His work and leadership led to the development of aarch64 virtualization
    support across the seL4 ecosystem, both in the microkernel and the user-space
    libraries. He has also developed multiple projects using the Rust language,
    including embedded implementations of device drivers and applications. He has
    strong interests in embedded security, virtualization, seL4, and Rust."
    %}

    {% include co-chair-item.html
      name = "Lucy Fletcher"
      role = "Software Engineer"
      img = "/images/summit/lucy-square.jpg"
      affiliation = "Apple"
      affiliation_link = "https://apple.com"
      text = "Lucy Fletcher is a software engineer at Apple based in Sydney, Australia,
      working on L4 microkernels and the surrounding ecosystems. Before joining
      Apple, she studied Computer Science at UNSW and worked with the Trustworthy
      Systems group, where she focused on the design and development of the seL4
      device driver framework. Lucy is passionate about giving back to the seL4
      community and supporting its continued growth."
      %}

{% include bio-items-end.html %}

<div>
<p>
  We look forward to welcoming the community at the seL summit 2026!
</p>
</div>