---
# Copyright 2026 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Next summit will be in Sydney! Meet its co-chairs
anchor: summit-co-chairs
img: /images/summit/sel4_summit_2027_location-graphics.svg
img_alt: seL4 Summit 2027
img_w: w-3/10
link: /Summit/2027/
dark: true
---

<p>
  We are thrilled to announce our co-chairs, Martin Dehnel-Wild and Lucy
  Fletcher, for the <a href="{{ '/Summit/2027' | relative_url }}">seL4 summit 2027</a>, which will be held in Sydney, late
  Spetember - early October (dates TBC).
</p>

{% include bio-items-start.html %}

  {% include co-chair-item.html
    name = "Martin Dehnel-Wild"
    role = "Chief Scientist"
    img = "/images/summit/martin-square.jpg"
    affiliation = "Kry10"
    affiliation_link = "https://www.kry10.com/"
    text = "Dr Martin Dehnel-Wild is Chief Scientist of Kry10, where he leads R&D and heads up Kry10’s UK & European office. He has a DPhil (PhD) in Computer Science from the University of Oxford, where he researched interactive and automated theorem proving for security protocols. Prior to Kry10 he set up and led the UK Government’s formal methods (“provable security”) team, bringing rigorous, automated assurance tooling and techniques to the UK’s most critical and highest security systems. Most of his work over the last 10+ years has focused on pulling formal-methods based tools for software, hardware, and cryptography through to use by regular developers, promoting uptake and use across industry, government, and academia."
    %}
  {% include co-chair-item.html
    name = "Lucy Fletcher"
    role = "Software Engineer"
    img = "/images/summit/lucy-square.jpg"
    affiliation = "Apple"
    affiliation_link = "https://apple.com"
    text = "Lucy Fletcher is a software engineer at Apple based in Sydney, Australia,
    working on L4 microkernels and the surrounding ecosystems. Before joining
    Apple, she studied Computer Science at UNSW and worked with the Trustworthy
    Systems group, where she focused on the design and development of the seL4
    device driver framework. Lucy is passionate about giving back to the seL4
    community and supporting its continued growth."
    %}

{% include bio-items-end.html %}

<div>
<p>
  We look forward to welcoming the community at the seL4 summit 2027!
</p>
<p>
  Stay tuned by following us on <a href="https://www.linkedin.com/company/sel4">LinkedIn</a> or subscribing to the <a type="application/atom+xml" href="{{ '/feed.xml' | relative_url }}">RSS</a> for our <a href="{{ '/news' | relative_url }}">News</a> page.
</p>
</div>