<!--<title>Summit abstracts</title>-->
<!--
    Copyright 2022, seL4 Summit authors (see abstracts)
    SPDX-License-Identifier: CC-BY-SA-4.0
-->
<h4 class="summit-abstract-title">
    CAmkES
</h4>
<p class="summit-abstract-type">
    Bootcamp
</p>
<p class="summit-abstract-author">
    Presented by Sebastian Eckl, <span class="summit-abstract-affiliation">HENSOLDT Cyber</span>
</p>
<p>
    CAmkES (Component Architecture for microkernel-based Embedded Systems) is a software development and runtime framework that shall ease systems development by providing an abstraction layer on top of the seL4 microkernel. As part of this workshop, participants shall therefore get to know the general CAmkES architecture as well as its basic building blocks. Finally, the execution of a corresponding CAmkES-based application on top of seL4 will be demonstrated.
</p>