<!--<title>Summit abstracts</title>-->
<!--
    Copyright 2022, seL4 Summit authors (see abstracts)
    SPDX-License-Identifier: CC-BY-SA-4.0
-->
<p class="summit-abstract-author">
    <strong>
    Dr. Sebastian Jester
    <br>
    Head of Secure Hardware and Supply Chains
    <br>
    </strong>
    <span class="summit-abstract-affiliation"><strong>Agentur für Innovation in der Cybersicherheit</strong></span>
</p>
<p>
    The <a href="https://www.cyberagentur.de/">Agentur für Innovation in der Cybersicherheit (Cyberagentur)</a> funds high-risk research and development projects with a high disruptive potential in the field of cybersecurity. The Cyberagentur’s goal is to advance internal and external security and technological sovereignty. It was created in 2020 by the German Federal Government and is funded by the Federal Ministry of Defence and the Federal Ministry of the Interior and Home Affairs.
</p>
<p>
    Sebastian Jester is Head of Secure Hardware and Supply Chains at the Agentur für Innovation in der Cybersicherheit, which he joined in June 2022. Previously, he was at Germany’s Federal Ministry of Education and Research, latterly responsible for microelectronics R&D policy at the national and EU level. He holds a doctorate in astronomy from the University of Heidelberg and a Master of Physics from the University of Oxford.
</p>
<p>
    <a href="slides/d2_12_funding_agencies_01_Sebastian_Jester.pdf"><br><img src="../../../images/icons/slides.svg" alt="slides icon"><br></a>
</p>
