<!--<title>Summit abstracts</title>-->
<!--
    Copyright 2022, seL4 Summit authors (see abstracts)
    SPDX-License-Identifier: CC-BY-SA-4.0
-->
<p class="summit-abstract-author">
    <strong>
    Paul Waller
    <br>
    </strong>
    <span class="summit-abstract-affiliation"><strong>UK National Cyber Security Centre (NCSC)</strong></span>
</p>
<p>
    <a href="https://www.ncsc.gov.uk/">NCSC</a> is the UK national technical authority for cyber security. Part of the UK government, we provide expert leadership and guidance to help make the UK the safest place to live and work online.
</p>
<p>
    Paul has worked in cryptography and hardware security since graduating with a degree in mathematics in 2001. He has represented the NCSC and its predecessor organisation in various standards bodies, including the Trusted Computing Group, Global Platform and FIDO. His current role allows him to spend time with academic and industry partners learning what the future holds for security technology, and also to help user communities take advantage of new features. Outside of work Paul likes to cycle up small hills in summer, and ski down bigger ones in winter.
</p>