<p><p>
    The <a href="https://www.darpa.mil/">Defense Advanced Research Projects Agency (DARPA)</a>, established in 1958, is an agency within the Department of Defense (DOD) responsible for catalyzing the development of technologies that maintain and advance the capabilities and technical superiority of the U.S. military.
</p>
<p><p>
    William Martin currently serves as a program manager in the Information Innovation Office at DARPA. He joined DARPA from the National Security Agency (NSA), where he served in a variety of roles, most recently as acting technical director and cybersecurity subject matter expert of the Laboratory for Advanced Cybersecurity Research. His research interests include formal methods, domain-specific languages, system analysis, and trustworthy artificial intelligence.
</p>
<p><p>
    <a href="slides/d2_12_funding_agencies_03_Brad_Martin.pdf"><br><img src="../../../images/icons/slides.svg" alt="slides icon"><br></a>
</p>
