<p>
    We are very fortunate to welcome four leaders at major funding agencies to participate in a session <strong>Funding agencies: priorities and vision</strong>. They will each give their views on the priorities and vision of their agency in terms of high-assurance systems.
</p>

<h3>
    DARPA
</h3>
<p>
    William “Brad” Martin
</p>
<p>
    The <a href="https://www.darpa.mil/">Defense Advanced Research Projects Agency (DARPA)</a>, established in 1958, is an agency within the Department of Defense (DOD) responsible for catalyzing the development of technologies that maintain and advance the capabilities and technical superiority of the U.S. military.
</p>
<p>
    William Martin currently serves as a program manager in the Information Innovation Office at DARPA. He joined DARPA from the National Security Agency (NSA), where he served in a variety of roles, most recently as acting technical director and cybersecurity subject matter expert of the Laboratory for Advanced Cybersecurity Research. His research interests include formal methods, domain-specific languages, system analysis, and trustworthy artificial intelligence.
</p>
<div>
    <a href="slides/d2_12_funding_agencies_03_Brad_Martin.pdf"><img src="../../../images/icons/slides.svg" width="25px"
      alt="slides icon"></a>
</div>

<h3>
    NCSC  
</h3>
<p>
    Paul Waller
</p>
<p>
    <a href="https://www.ncsc.gov.uk/">NCSC</a> is the UK national technical authority for cyber security. Part of the UK government, we provide expert leadership and guidance to help make the UK the safest place to live and work online.
</p>
<p>
    Paul has worked in cryptography and hardware security since graduating with a degree in mathematics in 2001. He has represented the NCSC and its predecessor organisation in various standards bodies, including the Trusted Computing Group, Global Platform and FIDO. His current role allows him to spend time with academic and industry partners learning what the future holds for security technology, and also to help user communities take advantage of new features. Outside of work Paul likes to cycle up small hills in summer, and ski down bigger ones in winter.
</p>

<h3>
    Cyberagentur
</h3> 
<p>
    Sebastian Jester
</p>
<p>
    The <a href="https://www.cyberagentur.de/">Agentur für Innovation in der Cybersicherheit (Cyberagentur)</a> funds high-risk research and development projects with a high disruptive potential in the field of cybersecurity. The Cyberagentur’s goal is to advance internal and external security and technological sovereignty. It was created in 2020 by the German Federal Government and is funded by the Federal Ministry of Defence and the Federal Ministry of the Interior and Home Affairs.
</p>
<p>
    Sebastian Jester is Head of Secure Hardware and Supply Chains at the Agentur für Innovation in der Cybersicherheit, which he joined in June 2022. Previously, he was at Germany’s Federal Ministry of Education and Research, latterly responsible for microelectronics R&D policy at the national and EU level. He holds a doctorate in astronomy from the University of Heidelberg and a Master of Physics from the University of Oxford.
</p>
<div>
    <a href="slides/d2_12_funding_agencies_01_Sebastian_Jester.pdf"><img src="../../../images/icons/slides.svg" width="25px"
        alt="slides icon"></a>    
</div>

<h3>
    TII
</h3>
<p>
    Dr. Shreekant (Ticky) Thakkar
</p>
<p>
    <a href="https://www.tii.ae/">Technology Innovation Institute (TII)</a> is pioneering global research institute that focuses on applied research and a new-age technology capabilities. The institute has seven initial dedicated research centers in Secure Systems, Quantum, Autonomous Robotics, Cryptography, Advanced Materials, Digital Security and Directed Energy.
</p>
<p>
    TII advances research rapidly through a defined research roadmap, approved research funding and state-of-the-art-facilities.  By working with an exceptional talent, universities, research institutions and industry partners from all over the world, the institute connects an intellectual community and contributes to building an R&D ecosystem in Abu Dhabi and the UAE. The institute pursues the development of breakthrough technologies that have practical use-cases and global impact. Technology Innovation Institute also reinforces Abu Dhabi and the UAE’s status as hub for innovation and contributes to the broader development of the knowledge-based economy.
</p>
<p>
    <a href="https://www.tii.ae/team/dr-shreekant-ticky-thakkar">Dr Shreekant (Ticky) Thakkar</a> is Chief Research Officer at the Secure Systems Research Centre at the Technology Innovation Institute (TII), a cutting-edge UAE-based scientific research Centre and Adjunct Research Professor at Khalifa University. In this role, he is
responsible for carrying out advanced research that is driving end-to-end security and resilience in cyber physical and autonomous systems of systems (swarm of drones). These includes secure technologies in silicon, edge and mobile and cloud platforms working with open-source ecosystems (Dronecode, RISC-V, Linux, Apache, ROS) and research institutions across USA, Europe, and UAE.
</p>
<div>
    <a href="slides/d2_12_funding_agencies_04_Shreekant_Thakkar.pdf"><img src="../../../images/icons/slides.svg" width="25px"alt="slides icon"></a>
</div>
