<!--<title>Summit abstracts</title>-->
<!--
    Copyright 2022, seL4 Summit authors (see abstracts)
    SPDX-License-Identifier: CC-BY-SA-4.0
-->
<h4 class="summit-abstract-title">
    Funding agencies: priorities and vision
</h4>
<p class="summit-abstract-type">
    Panel & discussion
</p>
<p>
    We are very fortunate to welcome four leaders at major funding agencies to participate in a session <strong>Funding agencies: priorities and vision</strong>. They will each give their views on the priorities and vision of their agency in terms of high-assurance systems.
</p>