<!--<title>Summit abstracts</title>-->
<!--
    Copyright 2022, seL4 Summit authors (see abstracts)
    SPDX-License-Identifier: CC-BY-SA-4.0
-->

<p class="summit-abstract-author">
    <strong>
    Dr. Shreekant (Ticky) Thakkar
    <br>
    </strong>
    <span class="summit-abstract-affiliation"><strong>TII</strong></span>
</p>
<p>
    <a href="https://www.tii.ae/">Technology Innovation Institute (TII)</a> is pioneering global research institute that focuses on applied research and a new-age technology capabilities. The institute has seven initial dedicated research centers in Secure Systems, Quantum, Autonomous Robotics, Cryptography, Advanced Materials, Digital Security and Directed Energy.
</p>
<p>
    TII advances research rapidly through a defined research roadmap, approved research funding and state-of-the-art-facilities.  By working with an exceptional talent, universities, research institutions and industry partners from all over the world, the institute connects an intellectual community and contributes to building an R&amp;D ecosystem in Abu Dhabi and the UAE. The institute pursues the development of breakthrough technologies that have practical use-cases and global impact. Technology Innovation Institute also reinforces Abu Dhabi and the UAE’s status as hub for innovation and contributes to the broader development of the knowledge-based economy.
</p>
<p>
    <a href="https://www.tii.ae/team/dr-shreekant-ticky-thakkar">Dr Shreekant (Ticky) Thakkar</a> is Chief Research Officer at the Secure Systems Research Centre at the Technology Innovation Institute (TII), a cutting-edge UAE-based scientific research Centre and Adjunct Research Professor at Khalifa University. In this role, he is
responsible for carrying out advanced research that is driving end-to-end security and resilience in cyber physical and autonomous systems of systems (swarm of drones). These includes secure technologies in silicon, edge and mobile and cloud platforms working with open-source ecosystems (Dronecode, RISC-V, Linux, Apache, ROS) and research institutions across USA, Europe, and UAE.
</p>
<p>
    <a href="slides/d2_12_funding_agencies_04_Shreekant_Thakkar.pdf"><br>
        <img src="{{ '/images/icons/slides.svg' | relative_url }}"
             alt="slides icon"></a>
</p>