<!--<title>Summit abstracts</title>-->
<!--
    Copyright 2022, seL4 Summit authors (see abstracts)
    SPDX-License-Identifier: CC-BY-SA-4.0
-->
<h4 class="summit-abstract-title">
    Early experiences proving the correctness of a network stack implementation
</h4>
<p class="summit-abstract-type">

</p>
<p class="summit-abstract-author">
    Presented by Alain Kägi, in collaboration with Aubrey Birdwell, Caitlyn Wilde, Jens Mache & Richard Weiss, <span class="summit-abstract-affiliation">Lewis & Clark College</span>
</p>
<p>
    We are investigating the question of whether the field of software verification has matured enough to allow a small group of researchers at two undergraduate institutions to prove correctness properties of network protocols implemented in operating system distributions, in general, and IoT devices, in particular. As a proof of concept, we are designing a networked temperature sensor, to monitor incubators, built on top of the seL4 microkernel and seL4® core platform. In this talk, we will share our early experience building and proving some properties about such a system. In particular, we will describe our efforts developing our own UDP networking stack, testing IPv6-based protocols, proving properties about reassembly of network fragments, and finding possible inconsistencies in specifications published by the Internet Engineering Task Force.
</p>