<!--<title>Summit abstracts</title>-->
<!--
    Copyright 2022, seL4 Summit authors (see abstracts)
    SPDX-License-Identifier: CC-BY-SA-4.0
-->
<h4 class="summit-abstract-title">
    seL4 mainlining: Experiences, challenges, and solutions
</h4>
<p class="summit-abstract-type">
    Talk & Discussion
</p>
<p class="summit-abstract-author">
    Presented by Robbie VanVossen & Chris Guikema, <span class="summit-abstract-affiliation">DornerWorks</span>
</p>
<p>
    The lifeblood of open-source projects are the contributors, developers, and maintainers that work to keep the projects up to date, add new features, and squash bugs. However, there can be quite a few roadblocks that prevent or slow down upstreaming of code. This will be an account of the seL4 mainlining experiences of DornerWorks. This talk will encompass our successes, difficulties, possible improvements, and some open questions. This will be a short talk with a lot of time for open discussion. The goal is to spark a conversation that will lead to even greater collaboration than is seen today.
</p>