<!--<title>Summit abstracts</title>-->
<!--
    Copyright 2022, seL4 Summit authors (see abstracts)
    SPDX-License-Identifier: CC-BY-SA-4.0
-->
<h4 class="summit-abstract-title">
    State of seL4-related research
</h4>
<p class="summit-abstract-type">
    Keynote
</p>
<p class="summit-abstract-author">
    Presented by Gernot Heiser, <span class="summit-abstract-affiliation">UNSW</span>
</p>
<p>
I will provide an overview of the seL4-related research activities of the Trustworthy Systems group at UNSW, and how they relate to each other and the overall seL4 vision. Some of these activities will be covered in more detail in the afternoon session (seL4 Core Platform and seL4 Device Driver Framework), so I will mostly provide context for them and focus on the activities that will not be discussed further. These include:
</p>
<ul>
    <li>update on verifying time protection (systematic prevention of microarchitectural timing channels)</li>
    <li>the Pancake language for verifying device drivers</li>
    <li>provably secure general-purpose OS</li>
    <li>improvements to the MCS kernel API</li>
</ul>
<p>
I will also attempt to provide some context for various pull requests against the kernel originating from TS.
</p>