<!--<title>Summit abstracts</title>-->
<!--
    Copyright 2022, seL4 Summit authors (see abstracts)
    SPDX-License-Identifier: CC-BY-SA-4.0
-->
<h4 class="summit-abstract-title">
    Overview: seL4 principles, abstractions and use
</h4>
<p class="summit-abstract-type">
    Plenary
</p>
<p class="summit-abstract-author">
    Presented by Gernot Heiser, <span class="summit-abstract-affiliation">seL4 Foundation</span>
</p>
<p>
    Gernot will start the day by providing background on seL4 and its philosophy. Specifically he will talk about the principles that drive seL4’s design and abstractions. Given the low-level nature of seL4’s abstractions and mechanisms, and the deliberate policy-freedom, it is not always clear what constitutes “proper use”. Gernot will highlight some of the do’s and don’ts that developers should keep in mind to produce good designs. He will link this back to earlier presentations on user-level frameworks and how they support proper use.
</p>