<p>
I will provide an overview of the seL4-related research activities of the Trustworthy Systems group at UNSW, and how they relate to each other and the overall seL4 vision. Some of these activities will be covered in more detail in the afternoon session (seL4 Core Platform and seL4 Device Driver Framework), so I will mostly provide context for them and focus on the activities that will not be discussed further. These include:
</p>
<p>
I will also attempt to provide some context for various pull requests against the kernel originating from TS.
</p>
