<p><p>
    seL4 is commonly referred to as "the most verified microkernel". While this statement is true, the notion of being “verified” requires careful handling to ensure appropriate expectations and valid claims. seL4’s verification is its key differentiator. Inappropriate claims will damage its reputation and could have serious consequences in real systems.
</p>
<p><p>
    Not all seL4 configurations and features are verified, and not all “verified” configurations are verified to the same degree. While we should celebrate and promote the high-assurance that seL4 and seL4-based systems provide, it is important to ensure understanding of what exactly is proved, as well as the conditions under which the proofs hold and what they imply in practice. Such precision is also important and necessary to allow a suitable comparison with other alternative solutions.
</p>
<p><p>
    In this talk we will give a brief overview of what seL4 verification claims can be made and what they mean, and which claims should not be made.
</p>
