<p><p>
    This session will help you setup a development environment for building and running seL4-based systems.
</p>
<p><p>
    Most tutorials and trainings begin with a step zero: "set up your development environment and all the prerequisites, then run 'hello world' to confirm that your setup works". It's expected that this step is trivial and "just works" and participants are expected to have already done this (at home) before showing up to the tutorial or training session.
</p>
<p><p>
    For many people this works.  But for some people it doesn't "just work".  Maybe they don't have time or resources to do the preparation, maybe despite their best efforts something doesn't work right, or maybe they want to set up their system a bit differently (e.g. a different OS) and the basic instructions are not enough.  If that's you, then this session is for you.
</p>
<p><p>
    In this session we'll walk through the development environment setup, and provide assistance to make sure you have a setup that works so that you can actively participate in any of the other tutorials and trainings sessions.
</p>
<p><p>
    If you already have a working development environment set up, then you can probably skip this session - unless you want to lend a hand helping others get set up, in which case, come on down.  We may even have cookies.
</p>
