---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Learn
redirect_from: /Learn/home.pml
h1: "Documentation"
sub: '
  <p>
    Explore the wide range of learning material for seL4, from
    hands-on tutorials and comprehensive documentation to research articles and
    university courses.
   </p>'
layout: card
---

<div class="card-grid-3 lg:gap-y-20 xl:gap-x-18 xl:gap-y-24 mx-0 md:mx-6 lg:mx-10">
  {% include card.html
    icon="document-text"
    title="White Paper"
    body="A brief high-level introduction to seL4."
    link="../About/whitepaper.html"
   %}

   {% include card.html
     icon="book-open"
     title="seL4 Manual"
     body="Reference manual for the seL4 API."
     link="https://sel4.systems/Info/Docs/seL4-manual-latest.pdf"
  %}

  {% include card.html
     icon="other/external"
     title="Docsite"
     body="Dedicated comprehensive seL4 docsite with API reference, tutorials,
           including docs for frameworks and libraries."
     link="https://docs.sel4.systems/"
  %}

  {% include card.html
     icon="puzzle-piece"
     title="Tutorials"
     body="Hands-on tutorials for the basics of
     seL4, core libraries, user-level frameworks, and
     virtualisation."
     link="https://docs.sel4.systems/Tutorials/"
  %}


  {% include card.html
    icon="document"
    title="Key Publications"
    body="Research articles about the seL4 technology, its design
    principles, verification, and applications."
    link="../Research/publications.html"
 %}

 {% include card.html
  icon="academic-cap"
  title="Courses"
  body="University courses about seL4-topics: operating systems, microkernels,
  formal methods, software verification."
  link="../Research/courses.html"
  %}

</div>

<div class="max-w-lg text-light mx-auto pb-18 lg:pb-24 text-center">
  <h2 class="h2-size mt-8 md:mt-12 mb-4">Still have Questions?</h2>
  <p class="text-base sm:text-lg">
    Check out the <a href="../About/FAQ.html">frequently asked questions</a> with their answers,
    or ask on one of the <a href="../support.html">seL4 community channels</a>.
  </p>
</div>

