---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Endorsement
pre: "Endorsed Service Providers"
pre_link: "./"
sub: '
  <p>
    A growing community of experts offer consulting and development services to
    support seL4 projects. The seL4 Foundation provides guidance by endorsing
    service providers for their seL4-related expertise, either in systems or in
    verification. If you are a member interested in being endorsed, email
    <a title="foundation@sel4.systems"
    href="mailto:foundation@sel4.systems">foundation@sel4.systems</a>.
  </p>'
layout: card
redirect_from: /Foundation/Services/endorsement.html
---


<!-- Endorsement section -->
{% include section-start.html
  id = "endorsement"
  heading = "Services and endorsements"
  intro = '
    <p>
      The type of services that the member has expertise on and is being
      endorsed for, are described in detail, and taken from a template list of
      services:
    </p>
    <div class="theprose">
      <ul>
        <li>systems: kernel</li>
        <li>systems: kernel platform ports</li>
        <li>systems: user-level OS</li>
        <li>systems: applications</li>
        <li>verification: kernel</li>
        <li>verification: user-level OS</li>
        <li>verification: applications</li>
      </ul>
    </div>
    <p>
      Endorsement in one of the categories above means that the member has one
      or multiple people in-house who have that expertise and have already
      contributed in this area. This is reviewed annually.
    </p>
    <p>
      Each category can have qualifiers/examples, which can be suggested by the
      member, eg "user-level OS (VM)” or “user-level OS (CAmkES).”
    </p>
    <p>
      The endorsement of services is limited to members and provided for free.
    </p>
  '
%}

{% include section-end.html %}
