---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Comparison
pre: "What is seL4?"
pre_link: "./"
sub: '
<p>
  Compared to other operating system solutions, seL4&apos;s uniqueness lies in
  its comprehensive <a href="../Verification/index.html">formal correctness and
  security proofs</a> while being the fastest operating system kernel available
  on <a href="../performance.html">IPC performance</a>. It is
  a <a href="how-to-use.html">general-purpose</a>
  and <a href="whitepaper.html">capability-based</a> kernel,
  supporting <a href="../platforms.html">hardware</a> with Memory Management
  Unit (MMU). It is available as <a href="https://github.com/seL4">open
  source</a> and is <a href="../use.html">deployed</a> in a wide range of
  sectors.  The table below provide a comparison with a subset of other
  operating systems: QNX, Greenhill&apos;s Integrity Kernel, CertiKOS, and
  FreeRTOS. Other systems like Ubuntu Core, SELinux, Wind River&apos;s VxWorks
  have large monolithic kernel and thus much larger attack surface.
</p>'
layout: card

products:

- name: QNX
  features:
    - "no"     #FC
    - "no"     #security proof
    - "no"     #fast ipc
    - "yes"    #deployed
    - "no"     #cap based
    - "yes"    #mmu support
    - "no"     #open source

- name: Integrity
  features:
    - "no"     #FC
    - "partial"#security-proof
    - "no"     #fast-ipc
    - "yes"    #deployed
    - "no"     #cap-based
    - "yes"    #mmu support
    - "no"     #open source

- name: CertiKOS
  features:
    - "yes"    #FC
    - "yes"    #security-proof
    - "no"     #fast-ipc
    - "no"     #deployed
    - "no"     #cap-based
    - "yes"    #mmu support
    - "no"     #open source (source available but not open source)

- name: FreeRTOS
  features:
    - "no"     #FC
    - "no"     #security-proof
    - "no"     #fast-ipc
    - "yes"    #deployed
    - "no"     #cap-based
    - "no"     #mmu support
    - "yes"    #open source

- name: seL4
  features:
    - "yes"    #FC
    - "yes"    #security-proof
    - "yes"    #fast-ipc
    - "yes"    #deployed
    - "yes"    #cap-based
    - "yes"    #mmu support
    - "yes"    #open source

---

{% capture icon-yes %}
{% svg _icons/check.svg class="mt-1 h-5 w-5 flex-none stroke-2 text-f_green-500" %}
{% endcapture %}

{% capture icon-no %}
{% svg _icons/minus.svg class="mt-1 h-5 w-5 flex-none text-gray-400" %}
{% endcapture %}

{% capture icon-partial %}
{% svg _icons/check.svg class="mt-1 h-5 w-5 flex-none text-f_yellow-300 dark:text-f_yellow-200" %}
{% endcapture %}

{% capture icon-unsure %}
?
{% endcapture %}

 <div class="mx-auto max-w-2xl px-6 pt-4 sm:pt-8 lg:max-w-7xl lg:px-8">
   <table class="w-full text-left">
     <colgroup>
       <col class="w-2/7">
       <col class="w-1/7">
       <col class="w-1/7">
       <col class="w-1/7">
       <col class="w-1/7">
       <col class="w-1/7">
     </colgroup>
     <thead>
       <tr>
         <td class="p-0 pb-10"></td>
	 {% for product in page.products -%}
         <th scope="col" class="p-0">
	   {% if product.name=="seL4" %}
           <div class="font-normal px-2 text-sm sm:text-base text-f_green-600">{{product.name}}</div>
	   {% else %}
           <div class="font-normal px-2 text-sm sm:text-base text-gray-600 dark:text-gray-400">
	     {{product.name}}
	   </div>
	   {% endif %}
         </th>
	 {%- endfor %}
       </tr>
     </thead>
     <tbody class="group">
       {% for i in (0..6) %}
       <tr class="border-b border-t border-gray-100 dark:border-gray-800 last:border-none">
         <th scope="row" class="px-0 py-4 text-sm font-normal text-gray-600 dark:text-gray-400">
	   {% if i==0 %} Correctness proof {% endif %}
	   {% if i==1 %} Security proof {% endif %}
	   {% if i==2 %} Fast IPC {% endif %}
	   {% if i==3 %} Deployed {% endif %}
	   {% if i==4 %} Capability-based {% endif %}
	   {% if i==5 %} MMU support {% endif %}
	   {% if i==6 %} Open source {% endif %}
	 </th>
	 {% for product in page.products -%}
         <td class="p-4 max-sm:text-center">
	   {% if product.features[i]=="yes"%}
           {{ icon-yes }}
	   {% endif %}
	   {% if product.features[i]=="no" %}
           {{ icon-no }}
	   {% endif %}
	   {% if product.features[i]=="partial" %}
           {{ icon-partial }}
	   {% endif %}
	   {% if product.features[i]=="unsure" %}
           {{ icon-unsure }}
	   {% endif %}
         </td>
	 {% endfor %}
       </tr>
       {% endfor %}
     </tbody>
   </table>

