---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: What is seL4?
redirect_from:
- /About/home.pml
- /About/seL4/index.html
layout: card
---

<div class="px-6 pt-6 sm:pt-8 pb-12 sm:pb-20 lg:px-8 section-borders">
  <div class="section-max-w text-center">
    <p class="pre-heading">What is seL4?</p>
    <h1>A high-assurance, high-performance operating system microkernel</h1>
    <div class="mt-6 sub-heading">
      <p>seL4 is unique because of its comprehensive formal verification.</p>
      <p>seL4 is <a href="#">open source</a>, available on <a
          href="https://github.com/seL4/">GitHub</a>, and supported by the <a href="../Foundation/">seL4 Foundation</a>.
      </p>
  </div>

    <h2 class="mt-16 text-3xl font-bold tracking-tight text-gray-900 md:text-4xl">The foundation for trustworthy systems.
    </h2>
  </div>
</div>

<div class="card-grid-4">
  {% include card.html
     icon="light-bulb"
     icon_colour="bg-yellow-500"
     title="Whitepaper"
     body="More in-depth information about seL4, what the formal
           verification means, and how to use seL4."
     link="whitepaper.html"
  %}

  {% include card.html
     icon="document"
     title="Fact Sheet"
     body="Quick high-level facts and comparison to other kernels."
     link="#"
  %}

  {% include card.html
     icon="building-library"
     icon_colour="bg-red-300"
     title="History"
     body="Where seL4 comes from."
     link="#"
  %}

  {% include card.html
     icon="question-mark-circle"
     icon_colour="bg-blue-600"
     title="FAQ"
     body="Frequently asked questions and their answers."
     link="#"
  %}
</div>