---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: What is seL4?
redirect_from:
- /About/home.pml
- /About/seL4/index.html
layout: card
no_title_heading: true
---

{% include heading.html
   pre='What is seL4?'
   h1="A high-assurance, high-performance operating system microkernel"
   sub='<p>seL4 is unique because of its comprehensive formal verification.</p>
        <p>seL4 is <a href="../Foundation/Trademark/license.html">open source</a>,
           available on <a
            href="https://github.com/seL4/">GitHub</a>, and supported by the
            <a href="../Foundation/">seL4 Foundation</a>.
        </p>'
    h2="The foundation for trustworthy systems."
%}

<div class="card-grid-3">
  {% include card.html
     icon="document-text"
     title="White Paper"
     body="More in-depth information about seL4, what the formal
           verification means, and how to use seL4."
     link="whitepaper.html"
  %}

  {% include card.html
     icon="clipboard-document-list"
     title="Fact Sheet"
     body="Quick high-level facts about seL4."
     link="fact-sheet.html"
  %}

  {% include card.html
     icon="arrows-right-left"
     title="Comparison"
     body="Comparison to other operating systems."
     link="comparison.html"
  %}

  {% include card.html
     icon="rectangle-group"
     title="How to use"
     body="What you can do with the seL4 kernel."
     link="how-to-use.html"
  %}

  {% include card.html
     icon="backward"
     title="History"
     body="Where seL4 comes from."
     link="history.html"
  %}

  {% include card.html
     icon="question-mark-circle"
     title="FAQ"
     body="Frequently asked questions and their answers."
     link="FAQ.html"
  %}
</div>
