---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Tools, Frameworks & Languages
sub: '
<p>
  Below is a list of available tools, frameworks, Software Development Kits
  (SDKs), and supported languages for seL4, either provided by the seL4
  Foundation or provided by the seL4 community. Some are open source
  (potentially still in development), while others are commercial.  If you would
  like an item to be added, please contact us at
  <a title="foundation@sel4.systems"
     href="mailto:foundation@sel4.systems">foundation@sel4.systems</a>.
</p>'
layout: card
---


<div class="section-borders -mt-12 pt-0">
  <h2 id="devkits" class="text-center mt-16 mb-6 text-3xl font-bold tracking-tight text-dark md:text-4xl">Development Kits &amp; Component Frameworks</h2>

  <div class="grid grid-cols-1 md:grid-cols-2  gap-12 px-10 pt-8 pb-12 sm:pb-20">

    {% include card_tool.html
    title="Microkit"
    type="Open Source"
    foundation=true
    link="https://docs.sel4.systems/projects/microkit"
    body='<p>
      Abstraction layer, SDK and tools that simplify development of statically
      architected seL4-based systems. Focus on high performance and simplicity.
    </p>
    <p class="mt-2">
      In active development. Ready for use, but not all features and
      configurations supported yet. For mixed-criticality scheduling (MCS)
      kernel configurations only.
    </p>
    <p class="mt-2">
      Use when feature set is sufficient, and kernel configuration and
      verification requirements are supported by Microkit for your use case.
    </p>
    '
    %}

    {% include card_tool.html
    title="CAmkES"
    type="Open Source"
    foundation=true
    link="https://docs.sel4.systems/projects/camkes/"
    body='<p>
      Development and runtime component framework for microkernel-based embedded
      static systems. Eventually to be replaced by Microkit, but still
      supported. Currently more mature, and feature rich.
    </p>
    <p class="mt-2">
      Use when features not yet supported by Microkit are needed for your
      project, or verification requirements are not met by the
      kernel configurations supported by Microkit.
    </p>'
    %}

    {% include card_tool.html
    title="sDDF"
    type="Open Source"
    foundation=false
    link="https://trustworthy.systems/projects/drivers"
    body='<p>
      A verifiable seL4 device driver framework providing a set of interfaces,
      designs and tools for developing high-performance, encapsulated device
      drivers for seL4, developed at
      UNSW. A <a href="https://sel4.atlassian.net/jira/software/c/projects/RFC/issues/RFC-12">Request
      for Comment</a>
      (<a href="https://docs.sel4.systems/processes/rfc-process.html">RFC</a>)
      is open for consideration by the seL4 Foundation.
    </p>'
    %}

    {% include card_tool.html
    title="seL4 Dev Kit"
    type="Open Source"
    foundation=false
    link="https://sel4devkit.github.io"
    body='<p>
      An seL4 development kit aimed at helping complete beginners get started
      and evaluate seL4 for their needs, developed by Capgemini Engineering and
      funded by the National Cyber Security Centre (NCSC).
    </p>'
    %}

    {% include card_tool.html
    title="BriefCase"
    type="Open Source"
    foundation=false
    link="https://github.com/loonwerks/BriefCASE-Tutorial"
    body='<p>
      A model-based systems engineering environment that can build systems
      targeting seL4, based on AADL and OSATE, from the DARPA CASE program.
    </p>'
    %}

  </div>
</div>

<div class="section-borders -mt-12 pt-0">
  <h2 class="text-center mt-16  mb-6 text-3xl font-bold tracking-tight text-dark md:text-4xl">Operating Systems</h2>

  <div class="grid grid-cols-1 md:grid-cols-2  gap-12 px-10 pt-8 pb-12 sm:pb-20">

    {% include card_tool.html
    title="Lions OS"
    type="Open Source"
    foundation=false
    link="https://trustworthy.systems/projects/LionsOS/"
    body='<p>
      Highly modular, adaptable, verifiable, high-performance OS for statically
      architected embedded/IoT/cyberphysical systems, developed at UNSW.
    </p>'
    %}

    {% include card_tool.html
    title="KOS"
    type="Commercial"
    foundation=false
    link="https://www.kry10.com/#platform"
    body='<p>
      Kry10 Operating System (KOS) and Platform, designed for mission critical
      connected devices and integrated with the Erlang BEAM application
      environment, developed by Kry10.
    </p>'
    %}

  </div>
</div>

<!-- FIXME: add CAmkES and Microkit VMMs -->
<div class="section-borders -mt-12 pt-0">
  <h2 id="virtualisation"
      class="text-center mt-16  mb-6 text-3xl font-bold tracking-tight text-dark md:text-4xl">Virtualisation</h2>

  <div class="grid grid-cols-1 md:grid-cols-1 gap-12 px-10 pt-8 pb-12 sm:pb-20">

    {% include card_tool.html
    title="VM Composer"
    type="Commercial"
    foundation=false
    link="https://www.dornerworks.com/vm-composer"
    body='<p>
      A Secure Microkernel Virtual Machine (VM) Composer, a modeling tool to
      develop and deploy virtualised high-assurance systems using a
      drag-and-drop interface, developed by DornerWorks.
    </p>'
    %}

  </div>
</div>


<div class="section-borders -mt-12 pt-0">
  <h2 id="languages"
      class="text-center mt-16  mb-6 text-3xl font-bold tracking-tight text-dark md:text-4xl">Language Support</h2>
  <p class="text-center mb-6">
    C and Rust are the default languages on top of seL4, but other languages
    are supported, in particular for application-level components.
    <!-- FIXME: keep the following? -->
    seL4 as such is language agnostic. The main effort in using a new
    programming language on top of seL4 usually lies in providing functionality for
    a runtime environment and standard library.
  </p>

  <div class="grid grid-cols-1 md:grid-cols-2  gap-12 px-10 pt-8 pb-12 sm:pb-20">

    {% include card_tool.html
      title="C/C++"
      type="Open Source"
      foundation=true
      link="https://docs.sel4.systems/Tutorials/"
      body='<p>
        Comprehensive support for C, including <code>musllibc</code> bindings.
        Limited support for C++ without standard library.
      </p>'
    %}

    {% include card_tool.html
    title="Rust"
    type="Open Source"
    foundation=true
    link="https://github.com/seL4/rust-sel4"
    body='<p>
      Comprehensive support, including <code>async</code>, for using the Rust
      programming language on top of seL4 directly or in Microkit.
      For <code>no_std</code> applications with and without <code>alloc</code>.
    </p>'
    %}

    {% include card_tool.html
    title="Pancake"
    type="Open Source"
    foundation=false
    link="https://trustworthy.systems/projects/pancake/"
    body='<p>
      Low-level, imperative language with a verified compiler, designed for
      implementing verifiable device drivers and other OS code.
    </p>'
    %}

    {% include card_tool.html
    title="Micropython"
    type="Open Source"
    foundation=false
    link="https://lionsos.org/docs/use/language_support/#micropython"
    body='<p>
      Support for <a href="https://micropython.org">Micropython</a>, a slimmed
      down version of Python, intended for embedded use cases. Needs
      higher-level OS services, which are currently supported on Lions OS only.
    </p>'
    %}

    {% include card_tool.html
    title="Erlang and Elixir"
    type="Commercial"
    foundation=false
    link="https://www.kry10.com/resources"
    body='<p>
      Commercial support by Kry10 for the
      <a href="https://www.erlang.org">Erlang</a> and
      <a href="https://elixir-lang.org">Elixir</a> langages on
      <a href="https://www.kry10.com/#platform">KOS</a> on top of seL4.
    </p>'
    %}

    </div>
</div>

