---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
layout: card
title: seL4 in use
no_title_heading: true
---


<div class="mx-auto max-w-5xl gap-x-14 lg:mx-0 lg:flex lg:max-w-full lg:items-center">
  <div class="relative w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
      seL4 is used across a wide range of sectors
    </h1>
    <p class="mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">
      seL4's formally verified isolation enforcement enables a unique solution
      for safely running critical applications alongside any uncritical
      workloads. This capability has a significant impact across critical
      sectors such as automotive, aerospace, infrastructure, defense, secure
      communications, and more. Here are some examples of where seL4 is being
      used. There are many more: seL4 is open source and many products or
      development are not or cannot be public. If you would like
      to be added to this list, please contact us at
      <a title="foundation@sel4.systems"
      href="mailto:foundation@sel4.systems">foundation@sel4.systems</a>. See
      also our list of <a href="../Research/ongoing.html">research
      organisations</a> conducting seL4-related research and our list
      of <a href="tools.html">frameworks and languages</a> built on or for seL4.
    </p>
  </div>

  <div class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0">
    <div class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80">
      <div class="relative">
        <img src="../images/tries-shutterstock/boeing-ulb-helicopter-h.png"
	     alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
      </div>
    </div>
    <div class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36">
      <div class="relative">
        <img src="../images/tries-shutterstock/nio-onvo-h.png"
	     alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
      </div>
      <div class="relative">
        <img src="../images/tries-shutterstock/windmill-unsplash.jpg"
	     alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
      </div>
    </div>
    <div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
      <div class="relative">
        <img src="../images/tries-shutterstock/spacex-VBNb52J8Trk-unsplash.jpg"
	     alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
      </div>
      <div class="relative">
        <img src="../images/tries-shutterstock/industrial-control-unsplash.jpg"
	     alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
      </div>
    </div>
  </div>
</div>


<div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">



  {% include card-use.html
  pic="/images/tries-shutterstock/nio-onvo-h.png"
  tag="Commercial product"
  title="seL4 in mass production in NIO's cars"
  description='
  NIO mass-produces the ONVO vehicle featuring their seL4-based SkyOS-M
  operating system. This was as announced by Ning Qu, NIO&apos;s VP of
  engineering and leader of the SkyOS team, at the seL4 summit 2024. NIO is a
  Premium Member of the seL4 Foundation, with NIO&apos;s OS architect Yanyan
  Shen being a member of the seL4 Foundation Technical Steering Committee and
  NIO&apos;s Global VP of Digital Systems, Qiyan Wang, sitting at the seL4
  Foundation board.
  '
  %}

  {% include card-use.html
  pic="/images/tries-shutterstock/use-vm-composer.png"
  tag="Commercial product"
  title="seL4 in Dornerworks' VM Composer"
  description='
  Built on seL4 to enable robust security, DornerWorks&apos; Secure Microkernel
  Virtual Machine (VM) Composer is a modeling tool and the "easy button" that
  helps organisations develop and deploy virtualized high-assurance systems
  using a drag-and-drop interface. DornerWorks, a founding member of the seL4
  Foundation and one of its endorsed service providers, has a dedicated team of
  seL4 experts who help organisations accelerate the integration of seL4 as the
  trusted software base for their products.
  '
  %}

  {% include card-use.html
  pic="/images/tries-shutterstock/mep-surevoice.jpg"
  tag="Commercial product"
  title="seL4 in MEP's SureVoice Solid switch"
  link="https://www.mep-info.com/products/surevoice-solid"
  description='
  SureVoice Solid is a Voice Control System (VCS) running at the heart of the
  traffic controllers produced by <a href="https://www.mep-info.com">MEP</a>.
  MEP is a company developing and supplying voice communication systems for
  critical applications in the Maritime and Aviation sectors worldwide. MEP has
  chosen to run SureVoice on seL4 to provide 24/7 availability.
  '
  %}

  {% include card-use.html
  pic="/images/tries-shutterstock/industrial-control-unsplash.jpg"
  tag="Commercial product"
  title="seL4 in KOS, Kry10's operating system for mission critical connected devices"
  description='
  KOS is an Operating System and platform designed from the ground up for
  mission critical connected devices. Developped by Kry10, KOS leverages the
  formal verification of seL4 to provide an operating system that is secure,
  self-healing, and dynamic with minimal downtime, even during upgrades. Kry10
  is an seL4 Foundation member, with strong seL4 expertise and contributing
  three members to the seL4 Techncial Steering Committee, Kent McLeod, Ihor Kuz
  and Matthew Brecknell.
  '
  %}

  <!-- FIXME: fix all links -->

  {% include card-use.html
  pic="/images/tries-shutterstock/use-neutrality.png"
  tag="Commercial research &amp development"
  title="seL4 in Neutrality's Atoll hypervisor"
  description='
  Swiss start-up Neutrality is developing the Atoll hypervisor &mdash; a
  high-assurance platform designed to protect systems that are likely targets of
  well-resourced attackers. Atoll will leverage the seL4 microkernel, configured
  as a multikernel, to provide verified isolation between virtualized workloads
  running on datacenter-class hardware with hundreds of CPU cores. This approach
  will deliver orders-of-magnitude increases in hardware performance while
  retaining the benefits of formal verification.
  '
  %}


  {% include card-use.html
  pic="/images/smaccmcopter-defcon.jpg"
  tag="Tech Demo"
  title="seL4 protects DARPA drone from DEFCON hackers"
  description='
  In 2021, <a href="https://www.darpa.mil">DARPA</a> brought
  the <em>SMACCMcopter</em>, a research vehicle protected by seL4 as part of
  the <a href="https://www.darpa.mil/research/programs/high-assurance-cyber-military-systems">HACMS</a>
  program, to the famous
  <a href="https://defcon.org/html/defcon-29/dc-29-index.html">DEF CON</a>
  hacker convention.  DARPA challenged the assembled hacker elite
  to <a href="http://loonwerks.com/publications/cofer2021defcon.html">"steal
  this Drone"</a>, confident in seL4&apos;s formally verified security
  enforcement. As expected, the hackers&apos; efforts to compromise the SMACCMcopter
  were comprehensively defeated.
  As <a href="https://twitter.com/DARPA/status/1424752441900339200">DARPA
    said</a>: "Formal methods FTW!"
  '
  %}


  {% include card-use.html
  pic="/images/tries-shutterstock/boeing-ulb-helicopter-h.png"
  tag="Tech Demo"
  title="seL4 protects unmanned helicopter against cyber attacks"
  description='

  In the DARPA-funded HACMS program, seL4 was embedded in a range of autonomous
  vehicles, ranging from trucks, a land robot, and a quadcopter to Boeing&apos;s
  Unmanned Little Bird helicopter. At the end-of-project demonstration, the
  HACMS Red Team — a professional team of hackers — was unsuccessful at
  compromising the security of the helicopter, in flight: they were given full
  access to the uncritical camera feed, and were even given the keys to crash
  its virtual machine, but seL4 prevented the cyber attack from compromising the
  flight mission.

  '
  %}






</div>


