---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
layout: card
---


<div class="mx-auto max-w-5xl gap-x-14 lg:mx-0 lg:flex lg:max-w-full lg:items-center">
  <div class="relative w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
      seL4 is used across a wide range of sectors
    </h1>
    <p class="mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">Cupidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco exercitation tempor. Sint aliqua anim nulla sunt mollit id pariatur in voluptate cillum.</p>
  </div>

  <div class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0">
    <div class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80">
      <div class="relative">
        <img src="../images/tries-shutterstock/boeing-ulb-helicopter-h.png"
	     alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
      </div>
    </div>
    <div class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36">
      <div class="relative">
        <img src="../images/tries-shutterstock/nio-onvo-h.png"
	     alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
      </div>
      <div class="relative">
        <img src="../images/tries-shutterstock/windmill-unsplash.jpg"
	     alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
      </div>
    </div>
    <div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
      <div class="relative">
        <img src="../images/tries-shutterstock/spacex-VBNb52J8Trk-unsplash.jpg"
	     alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
      </div>
      <div class="relative">
        <img src="../images/tries-shutterstock/industrial-control-unsplash.jpg"
	     alt="" class="aspect-2/3 w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
        <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
      </div>
    </div>
  </div>
</div>


<!--

<div class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8">
  {% include card-use.html
  pic="../images/tries-shutterstock/nio-onvo-h.png"
  date="2024-10-01"
  title="seL4 in NIO's cars"
  author-name="Name Surname"
  author-pic="../Foundation/Board/TS-June-square.jpg"
  %}
  {% include card-use.html
  pic="../images/tries-shutterstock/boeing-ulb-helicopter-h.png"
  date="2024-10-01"
  title="seL4 protects unmanned helicopter against cyber attacks"
  author-name="Name Surname"
  author-pic="../Foundation/Board/TS-June-square.jpg"
  %}
  {% include card-use.html
  pic="../images/tries-shutterstock/industrial-control-unsplash.jpg"
  date="2024-10-01"
  title="KOS: Kry10's seL4-based OS designed from the ground up for mission critical connected devices"
  author-name="Name Surname"
  author-pic="../Foundation/Board/TS-June-square.jpg"
  %}
  {% include card-use.html
  pic="../images/tries-shutterstock/cantripos-slide.jpg"
  date="2024-10-01"
  title="CantripOS: Google's seL4-based open-source low-power secure embedded platform for Ambient ML applications"
  author-name="Name Surname"
  author-pic="../Foundation/Board/TS-June-square.jpg"
  %}
</div>
-->

<div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
  {% include card-use2.html
  pic="../images/tries-shutterstock/nio-onvo-h.png"
  title="seL4 in NIO's cars"
  description="NIO announced seL4 will be in mass production in their cars from October 2024"
  author-name="Name Surname"
  author-affiliation="Role at Company X"
  author-pic="../Foundation/Board/TS-June-square.jpg"
  %}
  {% include card-use2.html
  pic="../images/tries-shutterstock/boeing-ulb-helicopter-h.png"
  date="2024-10-01"
  tag="Blah"
  title="seL4 protects unmanned helicopter against cyber attacks"
  description="upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
  mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
  exercitation tempor."
  author-name="Name Surname"
  author-affiliation="Role at Company X"
  author-pic="../Foundation/Board/TS-June-square.jpg"
  %}
  {% include card-use2.html
  pic="../images/tries-shutterstock/industrial-control-unsplash.jpg"
  date="2024-10-01"
  title="KOS: Kry10's seL4-based OS designed from the ground up for mission critical connected devices"
  description="upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
  mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
  exercitation tempor."
  author-name="Name Surname"
  author-affiliation="Role at Company X"
  author-pic="../Foundation/Board/TS-June-square.jpg"
  %}
  {% include card-use2.html
  pic="../images/tries-shutterstock/cantripos-slide.jpg"
  date="2024-10-01"
  title="CantripOS: Google's seL4-based open-source low-power secure embedded platform for Ambient ML applications"
  description="upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
  mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
  exercitation tempor."
  author-name="Name Surname"
  author-affiliation="Role at Company X"
  author-pic="../Foundation/Board/TS-June-square.jpg"
  %}
</div>



<!--
<div class="section-borders -mt-12 pt-0">
  <h2 class="text-center mt-16 text-3xl font-bold tracking-tight text-dark md:text-4xl">Deployments</h2>
  
  <div class="grid grid-cols-1 md:grid-cols-2  gap-12 px-10 pt-8 pb-12 sm:pb-20">
    {% include card.html
    title="NIO cars"
    body='<p>
      upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
      mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
      exercitation tempor.
    </p>'
    %}

  </div>
</div>

<div class="section-borders -mt-12 pt-0">
  <h2 class="text-center mt-16 text-3xl font-bold tracking-tight text-dark md:text-4xl">Commercial Developments, Past and Present</h2>
  
  <div class="grid grid-cols-1 md:grid-cols-2  gap-12 px-10 pt-8 pb-12 sm:pb-20">
    {% include card.html
    title="Kry10 OS"
    body='<p>
      upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
      mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
      exercitation tempor.
    </p>'
    %}
    {% include card.html
    title="Google CantripOS"
    body='<p>
      upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
      mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
      exercitation tempor.
    </p>'
    %}
  
  
  
  {% include card.html
  title="Neutrality Makatea"
  body='<p>
    upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
    mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
    exercitation tempor.
  </p>'
  %}
  
  </div>
</div>


<div class="section-borders -mt-12 pt-0">
  <h2 class="text-center mt-16 text-3xl font-bold tracking-tight text-dark md:text-4xl">Other projects, Past and Present</h2>

  <div class="grid grid-cols-1 md:grid-cols-2  gap-12 px-10 pt-8 pb-12 sm:pb-20">
    
    {% include card.html
    title="DARPA PROVERS"
    body='<p>
      upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
      mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
      exercitation tempor.
    </p>'
    %}
    
    {% include card.html
    title="DARPA CASE"
    body='<p>
      upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
      mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
      exercitation tempor.
    </p>'
    %}
    
    {% include card.html
    title="DARPA HACMS"
    body='<p>
      upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
      mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
      exercitation tempor.
    </p>'
    %}
    
    
    {% include card.html
    title="TII TEE"
    body='<p>
      upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
      mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
      exercitation tempor.
    </p>'
    %}
    
    {% include card.html
    title="Galois Rust for microkit"
    body='<p>
      upidatat minim id magna ipsum sint dolor qui. Sunt sit in quis cupidatat
      mollit aute velit. Et labore commodo nulla aliqua proident mollit ullamco
      exercitation tempor.
    </p>'
    %}

  </div>
</div>
-->
