<p>
  The Cyberagentur has launched its research program <a
  href="https://www.cyberagentur.de/en/programs/evit/">“Ecosystem formally
  verifiable IT – provable Cybersecurity (EvIT)”</a> to take cybersecurity to
  the next level. It encompasses what the creators of seL4 set out to achieve
  but goes even further: in addition to kernel and operating system, the goal is
  to verify the entire IT stack. Five research projects are funded with partners
  from Australia, Germany, the Netherlands, and New Zealand. They take
  complementary approaches over the next four years or so, including: extending
  the seL4 microkernel to allow multikernel operation, to harden it against
  side-channel attacks, to allow verification of device drivers, and to support
  the creation of seL4-based operating systems; verifying a unikernel operating
  system written in Rust and the RISC V-based microprocessor it runs on in a
  single, holistic verification approach; a compositional approach to verifying
  hardware, ISA, and operating system; and extending a functional hardware
  description language for ASICs and FPGAs to allow formal verification of both
  hardware and software designs. In addition, a community building program aims
  to make the benefits of formal verification known more widely, both to attract
  future talent to the field and to broaden its adoption.
</p>
<p>
  The vision driving the program is introducing a new cybersecurity paradigm:
  security by design, not as an afterthought. More research will be necessary
  both taking the topics covered in EvIT even further, and covering more aspects
  outside of EvIT. One intriguing speculation I like to indulge in is to employ
  formal verification as an alternative to certification. I would like to
  kickstart a debate on whether that is feasible and likely to succeed.
</p>
