<p>
  The goal of the INSPECTA project (part of the DARPA PROVERS program which
  started in 2024) is to improve the security of defense and aerospace systems
  by dramatically improving the usability, flexibility, and accessibility of
  formal methods-based development and verification tools. We will demonstrate
  the formal methods tools and workflow created on the program by addressing
  emerging security requirements for a Collins mission computing platform for
  unmanned air vehicles under development for military applications. This
  includes re-architecting the mission software as a collection of virtual
  machines running legacy code and selected high-criticality components,
  producing an architecture model for the system, porting selected software to
  Rust, building software to run on seL4,and verifying critical safety and
  security properties.
</p>
<p>
  The team has completed our initial integration of seL4 with the Collins
  RapidEdge Collaborative Mission Autonomy software. The integrated software was
  able to successfully execute in hardware-in-the-loop simulation one of the
  autonomous multi-UAV missions flown last year at the US Army EDGE24 event. The
  RapidEdge software was run without modification in a secure virtual machine
  hosted on seL4, providing guaranteed isolation and control over all input and
  output interfaces.
</p>
<p>
  This successful integration and demonstration provide the basis for further
  application of formal methods technologies in the coming phases of the PROVERS
  program and will result in verified cyber-resilience for the LE mission
  system. In addition to describing the integration and test effort, we will
  report on lessons learned, gaps identified, and next steps for the project.
</p>