<h3 id="a-panel-dornerworks">
  Robbie VanVossen, <mark>Role</mark>, DornerWorks
</h3>
<p>
  <mark>Bio</mark>
</p>
<h3 id="a-panel-kry10">
  Boyd Multerer, <mark>CEO and Founder</mark>, Kry10
</h3>
<p>
  <mark>Bio</mark>
</p>
<h3 id="a-panel-nio">
  Yanyan Shen, <mark>Role</mark>, NIO
</h3>
<p>
  <mark>Bio</mark>
</p>
<h3 id="a-panel-collins">
  Darren Cofer, Principal Fellow, Collins Aerospace
</h3>
<p>
  <mark>Bio</mark>
</p>
<h3 id="a-panel-mep">
  Peter de Ridder, <mark>Role</mark>, MEP
</h3>
<p>
  <mark>Bio</mark>
</p>
<h3 id="a-panel-mep">
  David Cock, <mark>Role</mark>, Neutrality
</h3>
<p>
  <mark>Bio</mark>
</p>
<h3 id="a-panel-">
  <mark>Name, Role, Affiliation</mark> (moderator)
</h3>
<p>
  <mark>Bio</mark>
</p>
