<h3 id="a-panel-collins">
  Darren Cofer, Principal Fellow, Collins Aerospace
</h3>
<p>
  Darren Cofer is a Principal Fellow at Collins Aerospace. He earned his PhD in
  Electrical and Computer Engineering from The University of Texas at Austin.
  His area of expertise is developing and applying advanced analysis methods and
  tools for verification and certification of high-integrity systems. His
  background includes work with formal methods for system and software analysis,
  the design of real-time embedded systems for safety-critical applications, and
  the development of nuclear propulsion systems in the U.S. Navy. Dr. Cofer has
  served as principal investigator on many government-sponsored research
  programs, developing and using formal methods for verification of safety and
  security properties. He served on RTCA committee SC-205 developing new
  certification guidance for airborne software (DO-178C) and was one of the
  developers of the Formal Methods Supplement (DO-333). He is currently a member
  of SAE committee G-34 developing certification guidance for the use of machine
  learning technologies onboard aircraft.
</p>
<p>
  <a href="https://www.collinsaerospace.com">Collins Aerospace</a>, an RTX
  business, is a leader in integrated and intelligent solutions for the global
  aerospace and defense industry. Our 80,000 employees are dedicated to
  delivering future-focused technologies to advance sustainable and connected
  aviation, passenger safety and comfort, mission success, space exploration and
  more. The Applied Research & Technology team is a global technology and open
  innovation resource within Collins Aerospace working on mission-critical
  projects that push the boundaries of what technology can do. We work on the
  cutting edge, redefining our industry with innovative partners, government,
  and academia to research and advance transformative technologies that can
  create a safer, more connected, and sustainable world.
</p>

<h3 id="a-panel-dornerworks">
  Robbie VanVossen, seL4 Technical Lead, DornerWorks
</h3>
<p>
  Robbie is an employee of DornerWorks, has 12 years of experience in embedded
  hypervisors, and 10 years of experience with the seL4 microkernel. His work
  and leadership led to the development of aarch64 virtualization support across
  the seL4 ecosystem, both in the microkernel and the user-space libraries. He
  has also developed multiple projects using the Rust language, including
  embedded implementations of device drivers and applications. He has strong
  interests in embedded security, virtualization, seL4, and Rust.
</p>
<p>
  <a href="https://www.dornerworks.com/">DornerWorks</a> is a small, engineering
  services business serving companies in the aerospace, defense, medical,
  automotive, and consumer markets. DornerWorks has been utilizing seL4 for
  customers since 2015 with a focus on embedded virtualization. DornerWorks has
  helped with seL4 features such as improved aarch64 support in the microkernel
  and userspace, significantly improved virtualization support on multiple
  architectures, and ports to various platforms.
</p>

<h3 id="a-panel-kry10">
  Boyd Multerer, CEO and Founder, Kry10
</h3>
<p>
  Boyd is the driving force behind Kry10 and leads technical development,
  overall strategy, and business.
</p>
<p>
  Boyd is regarded as the Xbox father of invention. He spent over 18 years
  working for Microsoft and was responsible for Xbox Live, Microsoft’s gaming
  and entertainment service used by more than 46 million people worldwide. In
  2012 he was named as one of Game Developer Magazine's Power 50, a list of
  people in the game industry who have stood out for outstanding contributions
  to the industry.
</p>
<p>
  <a href="https://www.kry10.com/">Kry10</a> offers a full-featured operating
  system on top of the seL4 kernel, along with tooling, services, key management
  and more. The Kry10 Platform is a fast and easy way to build highly secure,
  next-generation cyber-physical devices. It leverages the verification of seL4
  to provide a secure, self-healing, truly dynamic system with minimal downtime,
  even during upgrades.
</p>
<p>
  Kry10 is an Endorsed Service Provider of the seL4 Foundation, offering support
  to enable seL4-based secure projects to be affordable, maintainable, and
  remotely manageable.
</p>


<h3 id="a-panel-mep">
  Peter de Ridder, Head of software development, MEP
</h3>
<p>
  Peter de Ridder is Head of software development at MEP, where he started in
  2007. He is working on the Voice communication products in the critical
  communication sector, where he has the lead in software architecture, design
  and development of the products.
</p>
<p>
  Since it was founded in 1989, <a href="https://www.mep-info.com/">MEP</a> has
  been developing and supplying Voice Communication Systems for critical
  applications in the Maritime and Aviation sectors. Traffic controllers
  worldwide rely on our systems. Thanks to our continuous innovation, we offer
  new solutions that improve safety and traffic flows. Vision: An increase in
  the volume of air, maritime and road traffic drives the constant need for new
  communication and management solutions to guarantee safety and improve
  capacity and efficiency. Mission: MEP is the best choice for innovative
  communication solutions that guarantee the effective communication of audio
  and related data for traffic controllers worldwide. MEP systems are reliable,
  scalable, exceptionally competitive, and offer continuity.
</p>


<h3 id="a-panel-nio">
  Yanyan Shen, OS Designer and Builder, NIO
</h3>
<p>
  Yanyan Shen is a principal systems software architect at NIO, leading the
  design and development of the vehicle operating system based on seL4. He is a
  long term member of the seL4 community and contributes to many aspects of
  seL4. He is interested in building dependable systems software including
  kernel, hypervisor,  and OS framework.  He earned his PhD in computer science
  and engineering from UNSW.
</p>
<p>
  <a href="https://www.nio.com/">NIO</a> is a pioneer and a leading company in
  the premium smart electric vehicle market. Founded in November 2014, NIO’s
  mission is to shape a joyful lifestyle. NIO aims to build a community starting
  with smart electric vehicles to share joy and grow together with users. NIO is
  a strong supporter of seL4 and a premium member of the seL4 Foundation. NIO’s
  full-domain smart EV operating system, SkyOS, trusts seL4 as the kernel for
  SkyOS-M and SkyOS-H.
</p>



<h3 id="a-panel-mit">
  Juliana Furgala, Cybersecurity Researcher, MIT Lincoln Laboratory (moderator)
</h3>
<p>
  Juliana Furgala is a technical staff member in the Secure Resilient Systems
  and Technology Group at MIT Lincoln Laboratory. Currently she is researching
  secure and recoverable satellite systems. Interested in the pursuit of
  security-minded technology, she aims to develop lasting software that can
  stand the test of adversaries, not just the test of time. Her published
  research focuses on the needs of embedded and real-time systems.
</p>
<p>
  To lower the barrier of entry into STEM, she is involved in a variety of
  academic and outreach efforts (e.g., founding LL EduCATE).
</p>
<p>
  Furgala received her MS degree in cybersecurity in 2024 from Georgia Institute
  of Technology and her BS degree in computer science in 2019 from Tufts
  University, where she also minored in global premodern women’s history.
</p>
<p>
  The Secure Resilient Systems and Technology group at <a
  href='https://www.ll.mit.edu/'>MIT Lincoln Laboratory</a>
  develops architectures and technologies for ensuring the security and
  resiliency of mission-critical cyber-physical systems, from drones and
  satellites to high-performance secure cloud computing.
</p>
