<p>
  <mark>TBC</mark>
</p>
<p>
  Embedded systems are everywhere from public u+li+es to personal smart watches.
  These  systems have increasingly been targets for malicious ac+vity by both
  criminal and na+on state  actors. One par+cularly challenging subdomain of
  embedded systems is space systems, due to  the harsh environmental challenges
  (e.g., radia+on and temperature), the inability to get  physical access once
  launched, and the cost and cri+cal func+onality of these systems. Keeping
  satellites running relies heavily on resilient and secure soJware. While
  making this soJware  resilient has historically been important for these
  systems, security has received liMle  considera+on to date. As a result,
  several years ago we started a series of efforts to secure these  systems. One
  of our first projects was an aMempt to port NASA’s core Flight SoJware (cFS),
  a  widely used satellite flight soJware, to seL4, to provide a secure
  founda+on for satellite  systems.
</p>
<p>
  NASA’s core Flight SoJware (cFS) was developed by NASA Goddard over 20 years
  ago. Today it is  widely deployed and used on scores of government and
  academic space missions, including  NASA Artemis and the Roman Space
  Telescope. cFS is open source and is s+ll under ac+ve  development. Its
  primary purpose is to provide a message bus and suite of reusable
  applica+ons. These components form the core of a system’s flight soJware and
  can be easily  extended with a given mission’s func+onality. Given its
  extensive use in space systems, cFS runs  on many plaXorms and opera+ng
  systems including Linux and VxWorks; this is made possible  thanks to an
  extensive Opera+ng System Abstrac+on Layer or OSAL.
</p>
<p>
  Our analysis of the features cFS requires from an opera+ng system as well as
  the kind of  environment it expects on a spacecraJ led us to conclude that a
  real opera+ng system was  desirable. The func+onality expected by cFS includes
  synchroniza+on primi+ves like mutexes  and semaphores, message queues, +mers
  and +me keeping facili+es, as well as some means of  logging and network
  communica+on. Addi+onally, cFS envisions an environment where new  processes
  and threads can be started on command. This analysis led us to realize that
  while the  actual por+ng of cFS would be rela+vely easy thanks to its OSAL
  abstrac+on layer, significant  func+onality needed to be created on top of
  seL4. This ul+mately led us to the crea+on of the  Magne+te Opera+ng System.
</p>
<p>
  This talk will focus on our analysis of the features required for cFS, our
  experience implemen+ng  that func+onality and por+ng cFS to an seL4-based
  system, and how this led us to create the  Magne+te opera+ng system.
</p>