<p>
  There are two, simultaneous revolutions happening in the world software right
  now. The obvious one, which gets most of the attention, money, and talk-time
  is Artificial Intelligence. The other, which is just as momentous a change, is
  Formal Methods at scale.
</p>
<p>
  The collective We in this community may have differences of opinion on the
  details, but collectively We are the cutting edge of the Formal Methods
  revolution. What we are creating together is no less than the field of
  Software Engineering, which thus far has been craftwork.
</p>
<p>
  This talk comes in two parts. First, we define and explore Science,
  Engineering, Craftwork, and Magic, and why the field of software development
  has misapplied the terms.
</p>
<p>
  The second part gets real about why formal proofs are required, implications
  that has on OS design, and more importantly system design.
</p>
<p>
  Safety Critical devices, whether in civilian infrastructure, mobility, or
  defense depends more than ever on complex software. The implications on
  certification are profound and that is the key to understanding how to move
  beyond academic and narrow deployments that community currently supports.
  </p>