<p>
  There are two, simultaneous revolutions happening in the world software right
  now. The  obvious one, which gets most of the attention, money, and talk-time
  is Artificial  Intelligence. The other, which is just as momentous a change,
  is Formal Methods at scale.
</p>
<p>
  The collective We in this community may have diCerences of opinion on the
  details of how  to build systems, but collectively We are the cutting edge of
  the Formal Methods revolution. What we are creating together is no less than
  the field of Software Engineering,  which until now has actually been
  craftwork.
</p>
<p>
  This talk comes in two parts. First, we define and explore the diCerences
  between Science,  Engineering, Craftwork, and Magic, and why the field of
  software development has  misapplied the terms.
</p>
<p>
  The second part gets real about why seL4 is the first Engineered kernel,
  implications that  has on OS, and more importantly system design.
  Understanding these concepts is critical  to Us navigating the worlds of
  critical infrastructure, certification (including safety critical),  device
  warranties (including on the software) and more.
</p>