<p>
  SureVoice Solid is running at the heart of the SureVoice Voice Control System
  (VCS), used by air traffic and maritime controllers to communicate with pilots
  and captains of ships. MEP is a company developing and supplying voice
  communication systems for critical applications in the Maritime and Aviation
  sectors worldwide. MEP has chosen to run SureVoice on seL4 to guarantee 24/7
  availability. The seL4 platform provides the separation of functionalities in
  the SureVoice Solid to ensure safety and secure operation.
</p>
<p>
  This talk will explain why we choosen seL4, how we handle mixed criticality
  and modular software on top of seL4, and the platform it is running on.
</p>