<p>
  This talk will discuss recent and ongoing seL4-related research and
  development at UNSW’s Trustworthy Systems group. It will provide a general
  overview and then focus on the system side of our current work, to be
  complemented by Thomas Sewell’s and Junming Zhao’s talks that will focus on
  verification activities.
</p>
<p>
  Specifically this talk will cover work on kernel enhancements required for
  energy and thermal management, including on- and off-lining of cores and the
  implied migration of threads between cores. This is complemented by extensions
  of the Microkit.
</p>
<p>
  I will further cover or work on maturing the seL4 device driver framework
  (sDDF), including further performance improvements and new device classes, and
  progress on LionsOS and what we have learnt about inherent performance
  limitations (or lack thereof) of modular microkernel-based OSes. I will also
  cover early-stage work on two other projects:
</p>
<ol>
  <li>Carrels: Secure micro-services on seL4, and</li>
  <li>Djawula: Provably secure, general-purpose OS on seL4.</li>
</ol>