---
# Copyright 2022 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: Bids to Host the seL4 Summit 2022
pre: "The seL4 Summit 2022"
pre_link: "./"
sub: '
<p>
  The seL4 Summit is the annual international summit on the seL4 microkernel, the
world&apos;s most highly assured OS kernel, as well as on all seL4-related technology, tools, infrastructure,
products, projects, and people.
</p>'
layout: card
redirect_from: /Foundation/Summit/2022/bids.html
---

<!-- Bids section -->
{% include section-start.html
  id = "bids"
  heading = "Bids"
  intro = '
  <p>
   Bids should be sent to <a title="summit@sel4.systems"   href="mailto:summit@sel4.systems">summit@sel4.systems</a> and should include at least the following information:
 </p>
 <div class="theprose">
  <ul>
    <li>details (name, contact and experience) of the hosting team, with an identified chair</li>
    <li>location, venue, access, transport</li>
    <li>indicative financial plan and expected fee</li>
    <li>details of the venue: # of rooms, # days, and any social events</li>
    <li>details for hybrid and recording capabilities</li>
    <li>back-up plan for a fully virtual event, as may be required by the situation (e.g. pandemic related travel restrictions)</li>
    <li>optionally, a webpage to be hosted on the Foundation&apos;s website with the bid information, e.g. as a pull request on <a href="https://github.com/seL4">https://github.com/seL4</a>.</li>
  </ul>
 </div>
 <p>
  For examples of websites of winning bids for conferences in related areas, see e.g.
</p>
<div class="theprose">
  <ul>
   <li><a href ="http://easyconferences.eu/itp2021/">http://easyconferences.eu/itp2021/</a></li>
   <li><a href="https://web.cecs.pdx.edu/~apt/itp2019bid/">https://web.cecs.pdx.edu/~apt/itp2019bid/</a></li>
  </ul>
</div>
 '
%}
{% include section-end.html %}


<!-- Deadline section -->
{% include section-start.html
  id = "deadline"
  heading = "Deadline"
  intro = '
  <p>
  The deadline for bids is Tuesday, 22 February 2022.
 </p>'
 %}
{% include section-end.html %}
