---
# Copyright 2025 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: seL4 Summit 2025 Abstracts
pre: "seL4 Summit 2025 Program"
pre_link: "../2025/program.html"
sub: '
<p>
  The seL4 Summit 2025 features a combination of technical research and development, real-world seL4 deployment
  insights, in-depth interactive discussions, thought-provoking keynotes, panel discussions, as well as informal social activities.
</p>'
---


{% include abstract-item.html
  id = "model-based"
  time = "9:10 - 10:00"
  type = "Keynote"
  title = "Model-based Development for seL4 Microkit/Rust with Integrated Formal Methods using HAMR"
  presenter = "John Hatcliff"
  affiliation = "Kansas State University"
  text = "abstracts/2025/model-based-text-only.html"
%}

{% include abstract-item.html
  id = "panel"
  time = "9:00 - 9:45"
  type = "Panel"
  title = "Building a business case for using a verified kernel"
  presenter = "Anna Lyons <mark>TBC</mark>, Darren Cofer <mark>TBC</mark>, Robbie VanVossen <mark>TBC</mark>, Boyd Multerer <mark>TBC</mark>, Peter de Ridder <mark>TBC</mark>,  Yanyan Shen <mark>TBC</mark>, , <mark>Name (moderator)</mark>"
    affiliation = "Apple <mark>TBC</mark>, Collins Aerospace <mark>TBC</mark>, DornerWorks <mark>TBC</mark>, Kry10 <mark>TBC</mark>, MEP <mark>TBC</mark>, NIO <mark>TBC</mark>, <mark>TBD</mark>"
  text = "abstracts/2025/panel-text-only.html"
%}


{% include abstract-item.html
  id = "cyberagentur"
  time = "9:00 - 9:50"
  type = "Keynote"
  title = "Formally verified IT – Germany’s next cybersecurity paradigm"
  presenter = "Sebastian Jester"
  affiliation = "Cyberagentur"
  text = "abstracts/2025/cyberagentur-text-only.html"
%}
