---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: seL4 Summit 2025
layout: card
pre: "Other years"
pre_link: "../"
redirect_from: /Foundation/Summit/2025/index.html
---
{% include summit-heading.html
  about = 'The seL4 Summit is the annual international summit on the seL4
  microkernel and associated technology, tools, infrastructure, products,
  projects, and people. The <a href="#pc">program committee</a> assembles
  thought-provoking talks, <a href="#keynotes">keynotes</a> and <a
  href="#panel">panel discussions</a>. The seL4 Summit is made possible thanks
  to our <a href="#sponsors">sponsors</a>.'
  city = "Prague"
  date = "3 - 5 September 2025"
%}




<div class="card-grid-3">

  {% include card.html
  icon="user"
  title="Call for Presentations"
  body="Share your seL4 work, experiences and thoughts at the seL4 Summit 2025."
  link="cfp.html"
  %}

  {% include card.html
  icon="building-library"
  title="Registration, Location & Venue"
  body="Information about location, venue and travel."
  link="https://events.linuxfoundation.org/sel4-summit/"
  %}

  {% include card.html
  center=true
  icon="book-open"
  title="Program"
  body="Program, abstracts and videos of the seL4 Summit 2025."
  link="program.html"
  %}
</div>


<!-- About the summit section -->
{% include summit-about.html %}


<!-- Keynotes section -->
{% include section-start.html
  id = "keynotes"
  heading = "Keynotes"
%}
<div class="mt-6 sm:mt-12">
{% include bio-items-start.html %}
{% include keynote-item.html
  name = "John Hatcliff"
  role = "University Distinguished Professor"
  img = "/images/summit/john-h-square.jpg"
  affiliation = "Kansas State University"
  affiliation_link = "https://www.k-state.edu/"
  abstract-title = "Model-based Development for seL4 Microkit/Rust with Integrated Formal Methods using HAMR"
  abstract-link = "abstracts2025.html#a-model-based"
%}
{% include keynote-item.html
  name = "Christoph Hof"
  role = "Head of Cyberagentur's Dresden Project Office"
  img = "/images/summit/christoph-square.jpg"
  affiliation = "Cyberagentur"
  affiliation_link = "https://www.cyberagentur.de/en/"
  abstract-title = "Formally verified IT – Germany’s next cybersecurity paradigm"
  abstract-link = "abstracts2025.html#a-cyberagentur"
  %}
{% include bio-items-end.html %}
</div>
{% include section-end.html %}


<!-- Panel section -->
{% include section-start.html
  id = "panel"
  heading = "Panel: Building a business case for using a
  verified kernel"
  intro = '
    <p>
      We are very fortunate to welcome five industry leaders to
      participate at the seL4 Summit 2025, in a session <a
      href="abstracts2025.html#a-panel">Building a business case for using a
      verified kernel</a> Collins Aerospace, DornerWorks, Kry10, NIO,  and MEP. The
      panel will be moderated by Juliana Furgala from MIT Lincoln Laboratory.
    </p>
  '
%}

{% include panel-2025.html %}

{% include section-end.html %}

 <!-- PC section -->
 {% include section-start.html
  id = "pc"
  heading = "Program Committee"
  intro = '
      <p>
        The Program Committee is made up of members from various parts of the seL4 ecosystem: users, contributors,
        committers, experts, advocates, researchers, and engineers.
      </p>'
%}

{% include 2025-pc.html %}

{% include section-end.html %}



<!-- Sponsors section -->
{% include section-start.html
  id = "sponsors"
  heading = "Sponsors"
  body-max-w = "max-w-6xl"
%}

<div class="mt-2 sm:mt-4">

{% include sep-header.html text = "Silver" %}
{%- assign sponsors = site.data.sponsors.summit-2025.silver | sort_natural: "name" -%}
{%- include sponsor-info.html -%}

{% include sep-header.html text = "Bronze" %}
{%- assign sponsors = site.data.sponsors.summit-2025.bronze | sort_natural: "name" -%}
{%- include sponsor-info.html -%}

{% include sep-header.html text = "Reception" %}
{%- assign sponsors = site.data.sponsors.summit-2025.reception | sort_natural: "name" -%}
{%- include sponsor-info.html -%}
</div>

{% include section-end.html %}

<!-- Gallery section -->
{% include section-start.html
  id = "gallery"
  heading = "Gallery"
%}

<div class="mx-auto section-max-w grid grid-cols-4 gap-4 place-items-center mt-10">
  <div class="col-span-4"><img src="../../images/summit/summit-2025-8.jpg" alt="seL4 Summit 2025"
    class="rounded bg-gray-900/5 shadow-lg">
  </div>
  <div class="col-span-1"><img src="../../images/summit/summit-2025-9.jpg" alt="seL4 Summit 2025"
    class="rounded bg-gray-900/5 shadow-lg">
  </div>
  <div class="col-span-1"><img src="../../images/summit/summit-2025-6.jpg" alt="seL4 Summit 2025"
    class="rounded bg-gray-900/5 shadow-lg">
  </div>
  <div class="col-span-1"><img src="../../images/summit/summit-2025-7.jpg" alt="seL4 Summit 2025"
    class="rounded bg-gray-900/5 shadow-lg">
  </div>
  <div class="col-span-1"><img src="../../images/summit/summit-2025-4.jpg" alt="seL4 Summit 2025"
    class="rounded bg-gray-900/5 shadow-lg">
  </div>
  <div class="col-span-2 row-span-2"><img src="../../images/summit/summit-2025-1.jpg" alt="seL4 Summit 2025"
    class="rounded bg-gray-900/5 shadow-lg">
  </div>
  <div class="col-span-2 row-span-1"><img src="../../images/summit/summit-2025-5.jpg" alt="seL4 Summit 2025"
    class="rounded bg-gray-900/5 shadow-lg">
  </div>
  <div class="col-span-2 row-span-1"><img src="../../images/summit/summit-2025-3.jpg" alt="seL4 Summit 2025"
    class="rounded bg-gray-900/5 shadow-lg">
  </div>
  <div class="col-span-4 row-span-1"><img src="../../images/summit/summit-2025-2.jpg" alt="seL4 Summit 2025"
    class="rounded bg-gray-900/5 shadow-lg">
  </div>


</div>
{% include section-end.html %}
