---
# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: seL4 Summit 2025 Program
pre: "The seL4 Summit 2025"
pre_link: "./"
sub: '
<p>
  The seL4 Summit 2025 will feature a combination of technical research and development, real-world seL4 deployment
  insights, in-depth interactive discussions, thought-provoking keynotes, panel discussions, as well as informal
  <a href="#social">social activities</a>. Videos will be made available on the <a
    href="https://www.youtube.com/@seL4">seL4 YouTube channel</a> after the event.
</p>'
layout: card
---


<!-- Program-at-a-glance section -->
{% include section-start.html
  id = "program-at-a-glance"
  heading = "Program-at-a-glance"
%}

<div class="w-full md:w-3/4 lg:w-3/4 mt-8 mx-auto aspect-5/2">
  {% svg /images/summit/program-at-a-glance-2025.drawio.svg width="100%" %}
</div>

{% include section-end-without-up-arrow.html %}



<!-- Main Program section -->
{% include section-start.html
  id = "program"
  heading = "Main Program"
  intro = '
    <p>
      All times are local time in Prague, Czech Republic (GMT+2). <!--Session chairs shown on right.-->
    </p>
    <p>
      See the <a href="https://sel4summit2025.sched.com">Schedule</a> on LF Events.
    </p>
    <p>
      Timing of sessions and room locations are subject to change.
    </p>
    '
%}

{% include program-start.html %}

  {% include program-item.html
    day = "1"
    date = "3 September 2025"
  %}

  {% include program-item.html
    chair = "Nick Spinale"
    num-talks = 2
    time = "9:00 - 9:10"
    title = "Welcome"
    presenter = "Nick Spinale"
    affiliation = "Colias Group"
    youtube = "https://youtu.be/Z-UdkAuFYdA?si=DlPHSo1-UUu64ZYY"
    slides = "slides/welcome.pdf"
  %}

  {% include program-item.html
    id = "p-model-based"
    time = "9:10 - 10:00"
    type = "Keynote"
    title = "Model-based Development for seL4 Microkit/Rust with Integrated Formal Methods using HAMR"
    presenter = "John Hatcliff, Jason Belt, Robby, Stefan Hallerstede, Robert VanVossen, Junaid Babar"
    affiliation = "Kansas State University, Aarhus University, Dornerworks, Collins Aerospace"
    abstract = "abstracts2025.html#a-model-based"
    youtube = "https://youtu.be/gP1klZJi04U?si=eHY7uzUBex29t_lC"
    slides = "slides/model-based.pdf"
  %}

  {% include program-item.html
    break = "Break"
  %}

  {% include program-item.html
    chair = "Matt Brecknell"
    num-talks = 3
    id = "p-next-700"
    time = "10:30 - 11:00"
    title = "The next 700 verified seL4 platforms"
    presenter = "Gerwin Klein"
    affiliation = "Proofcraft"
    abstract = "abstracts2025.html#a-next-700"
    youtube = "https://youtu.be/pxeaNUvReos?si=OJwskCjRQr2BN4XW"
    slides = "slides/next-700.pdf"
  %}

  {% include program-item.html
    id = "p-reconfigurable-partitioned"
    time = "11:00 - 11:30"
    title = "Reconfigurable Partitioned Hardware Acceleration for Safety-Critical Applications"
    presenter = "Wanja Zaeske on behalf of Vincent Janson"
    affiliation = "German Aerospace Center (DLR)"
    abstract = "abstracts2025.html#a-reconfigurable-partitioned"
    youtube = "https://youtu.be/PmjLbFHNffE?si=w3XU4lvwDu4__8CI"
    slides = "slides/reconfigurable-partitioned.pdf"
  %}

  {% include program-item.html
    id = "p-big-iron"
    time = "11:30 - 12:00"
    title = "seL4 on Big Iron: Experiences and recommendations from Neutrality's Atoll hypervisor"
    presenter = "David Cock"
    affiliation = "Neutrality"
    abstract = "abstracts2025.html#a-big-iron"
    youtube = "https://youtu.be/VfX1DPvmQeg?si=cVspOxYNWm6ns3Wk"
    slides = "slides/big-iron.pdf"
  %}

  {% include program-item.html
    break = "Lunch"
  %}

  {% include program-item.html
    chair = "Gerwin Klein"
    num-talks = 4
    id = "p-program-logic"
    time = "13:30 - 14:00"
    title = "A program logic for seL4-based system verification"
    presenter = "Matt Brecknell"
    affiliation = "Kry10"
    abstract = "abstracts2025.html#a-program-logic"
    youtube = "https://youtu.be/cTCqxa8NGhg?si=YmDPQIJurM8R6q-y"
    slides = "slides/program-logic.pdf"
  %}

  {% include program-item.html
    id = "p-verified-zynqmp"
    time = "14:00 - 14:30"
    title = "Verified ZynqMP DMA Driver in Concurrent Separation Logic"
    presenter = "Gordon Stewart"
    affiliation = "Riverside Research"
    abstract = "abstracts2025.html#a-verified-zynqmp"
    youtube = "https://youtu.be/uevu6YDpg9E?si=Mf65T54ie17xhkUh"
    slides = "slides/verified-zynqmp.pdf"
  %}

  {% include program-item.html
    id = "p-science-engineering"
    time = "14:30 - 15:15"
    title = "Science, Engineering, Craft, Magic - Revolutions in the field of Software"
    presenter = "Boyd Multerer"
    affiliation = "Kry10"
    abstract = "abstracts2025.html#a-science-engineering"
    youtube = "https://youtu.be/G7_b3MBSw7w?si=F6YyhBABIXFK4fNb"
    slides = "slides/science-engineering.pdf"
  %}

  {% include program-item.html
    break = "Break"
  %}

  {% include program-item.html
    chair = "Gernot Heiser"
    num-talks = 3
    id = "p-towards-dependable"
    time = "15:45 - 16:15"
    title = "Towards Dependable System Services on seL4"
    presenter = "Yanyan Shen, Dhammika Elkaduwe"
    affiliation = "NIO"
    abstract = "abstracts2025.html#a-towards-dependable"
    youtube = "https://youtu.be/88AmFInuTho?si=NIgAd_-OuqwT85je"
    slides = "slides/towards-dependable.pdf"
  %}

  {% include program-item.html
    id = "p-porting-nasa"
    time = "16:15 - 16:45"
    title = "Porting NASA's core Flight System to Magnetite on seL4"
    presenter = "Juliana Furgala, Samuel Jero"
    affiliation = "MIT Lincoln Laboratory"
    abstract = "abstracts2025.html#a-porting-nasa"
    youtube = "https://youtu.be/QiX6If5v010?si=bXthn0m5scVBymWn"
    slides = "slides/porting-nasa.pdf"
  %}

  {% include program-item.html
    id = "p-integration-sel4"
    time = "16:45 - 17:15"
    title = "Integration of seL4 in a Flight Vehicle Mission System"
    presenter = "Darren Cofer"
    affiliation = "Collins Aerospace"
    abstract = "abstracts2025.html#a-integration-sel4"
    youtube = "https://youtu.be/-LPHpvgbj2Q?si=fiaGS-NfyFwa76lS"
    slides = "slides/integration-sel4.pdf"
  %}

  {% include program-item.html
    event = "Reception @ Červený Jelen 18:30"
  %}

  {% include program-item.html
    day = "2"
    date = "4 September 2025"
  %}

  {% include program-item.html
    chair = "Juliana Furgala"
    num-talks = 2
    id = "p-panel"
    time = "9:00 - 9:45"
    type = "Panel"
    title = "Building a business case for using a verified kernel"
    presenter = "Darren Cofer, Robbie VanVossen, Boyd Multerer, Peter de Ridder,
    Yanyan Shen, Juliana Furgala (moderator)"
    affiliation = "Collins Aerospace, DornerWorks, Kry10, MEP,  NIO, MIT Lincoln Laboratory"
    abstract = "abstracts2025.html#a-panel"
    youtube = "https://youtu.be/heDjFCHeSxA?si=bovt1VCUpiXha6GJ"
  %}

  {% include program-item.html
    id = "p-foundation-update"
    time = "9:45 - 10:00"
    title = "seL4 Foundation update"
    presenter = "June Andronick"
    affiliation = "seL4 Foundation"
    abstract = "abstracts2025.html#a-foundation-update"
    youtube = "https://youtu.be/N8JjiyBfHsE?si=j4JKT-BvGm39_jR9"
    slides = "slides/foundation-update.pdf"
  %}

  {% include program-item.html
    break = "Break"
  %}

  {% include program-item.html
    chair = "Lucy Fletcher"
    num-talks = 3
    id = "p-sculpt-os"
    time = "10:30 - 11:00"
    title = "Sculpt OS - a dynamic general-purpose OS powered by Genode on seL4"
    presenter = "Alexander Boettcher, Sebastian Sumpf"
    affiliation = "Genode Labs"
    abstract = "abstracts2025.html#a-sculpt-os"
    youtube = "https://youtu.be/N624i4X1UDw?si=zmnCgHQpWgKzGRYe"
    slides = "slides/sculpt-os.pdf"
  %}

  {% include program-item.html
    id = "p-cellulos"
    time = "11:00 - 11:30"
    title = "CellulOS: An OS for comparing Isolation Mechanisms"
    presenter = "Sid Agrawal, Arya Stevinson, Linh Pham, Ethan Xu, Shaurya Patel, Hugo Lefeuvre, Aastha Mehta, Reto Achermann, Margo Seltzer"
    affiliation = "University of British Columbia, Oracle, Hammerspace"
    abstract = "abstracts2025.html#a-cellulos"
    youtube = "https://youtu.be/KDZpBvh7Y08?si=ajYw9zFiTqGIACPV"
    slides = "slides/cellulos.pdf"
  %}

  {% include program-item.html
    id = "p-rust-based"
    time = "11:30 - 12:00"
    title = "Rust-based drivers and verified rust applications on seL4"
    presenter = "Robbie VanVossen"
    affiliation = "DornerWorks"
    abstract = "abstracts2025.html#a-rust-based"
    youtube = "https://youtu.be/XYbKgS1rwyA?si=YYytPb6P3FGQ5WbI"
    slides = "slides/rust-based.pdf"
  %}

  {% include program-item.html
    break = "Lunch"
  %}

  {% include program-item.html
    chair = "Darren Cofer"
    num-talks = 3
    id = "p-verified-high"
    time = "13:30 - 13:45"
    title = "A Verified, High-Performance, IPv6 Network Stack"
    presenter = "Alain Kägi, Daniel Neshyba-Rowe"
    affiliation = "Lewis & Clark College"
    abstract = "abstracts2025.html#a-verified-high"
    youtube = "https://youtu.be/nF-76BAOPeM?si=laWpgpqRLzPLlZ_1"
    slides = "slides/verified-high.pdf"
  %}

  {% include program-item.html
    id = "p-surevoice"
    time = "13:45 - 14:00"
    title = "SureVoice Solid"
    presenter = "Peter de Ridder"
    affiliation = "MEP"
    abstract = "abstracts2025.html#a-surevoice"
    youtube = "https://youtu.be/uNKScOyfB2g?si=gxgL0Ozb4eb6Cdp3"
    slides = "slides/surevoice.pdf"
  %}

  {% include program-item.html
    id = "p-trustworthy-systems"
    type = "Deep Dive"
    time = "14:00 - 15:00"
    title = "Trustworthy Systems R&D Update"
    presenter = "Gernot Heiser"
    affiliation = "UNSW Sydney"
    abstract = "abstracts2025.html#a-trustworthy-systems"
    youtube = "https://youtu.be/wP48V34lDhk?si=df-gU3xSY3dU8pk_"
    slides = "slides/trustworthy-systems.pdf"
  %}

  {% include program-item.html
    break = "Break"
  %}

  {% include program-item.html
    chair = "David Cock"
    num-talks = 3
    id = "p-splitting-sel4"
    time = "15:30 - 16:15"
    title = "Splitting the seL4 Specification<br>Verifying Kernel–Userland Integration
    for LionsOS"
    presenter = "Thomas Sewell, Rob Sison"
    affiliation = "UNSW Sydney"
    abstract = "abstracts2025.html#a-splitting-sel4"
    youtube = "https://youtu.be/4n0H_ODM16s?si=VisyyEUdbIXuayBS"
    slides = "slides/splitting-sel4.pdf"
  %}

  {% include program-item.html
    id = "p-verifying-device"
    time = "16:15 - 16:45"
    title = "Verifying Device Drivers with Pancake"
    presenter = "Junming Zhao"
    affiliation = "UNSW Sydney"
    abstract = "abstracts2025.html#a-verifying-device"
    youtube = "https://youtu.be/fgtXrSGcuc4?si=JG2DI0ur8e7Oa_3W"
    slides = "slides/verifying-device.pdf"
  %}

  {% include program-item.html
    id = "p-improving-confidential"
    time = "16:45 - 17:00"
    title = "Improving Confidential Computing with seL4: A Promising Guest OS Solution"
    presenter = "Alexander Weidinger"
    affiliation = "Fraunhofer AISEC"
    abstract = "abstracts2025.html#a-improving-confidential"
    youtube = "https://youtu.be/yHBnurJfVU4?si=FP6gsGKy74UOaPS7"
    slides = "slides/improving-confidential.pdf"
  %}

  {% include program-item.html
    time = "17:00 - 17:15"
    title = "Announcements"
    presenter = "June Andronick"
    affiliation = "seL4 Foundation"
    youtube = "https://youtu.be/1a7EUIJGUas?si=dhgUz6ukI9E4RD8T"
    slides = "slides/announcements.pdf"
  %}

  {% include program-item.html
    day = "3"
    date = "5 September 2025"
  %}

  {% include program-item.html
    chair = "Robbie VanVossen"
    num-talks = 2
    id = "p-cyberagentur"
    time = "9:00 - 9:50"
    type = "Keynote"
    title = "Ecosystem formally verifiable IT – provable Cybersecurity (EvIT)"
    presenter = "Christoph Hof"
    affiliation = "Cyberagentur"
    abstract = "abstracts2025.html#a-cyberagentur"
    youtube = "https://youtu.be/uXmRCHWv2KE?si=ZcVLRIHmme-JG2di"
    slides = "slides/cyberagentur.pdf"
  %}

  {% include program-item.html
    id = "p-porting-sel4"
    time = "9:50 - 10:05"
    title = "Porting seL4 to the RISC-V SoC, toward a Secure and High-Performance RISC-V AI Platform"
    presenter = "Yuning Liang"
    affiliation = "Deep Computing"
    abstract = "abstracts2025.html#a-porting-sel4"
    youtube = "https://youtu.be/-OLRBGV1YRs?si=xtOF_i_jp9B6pjw3"
    slides = "slides/porting-sel4.pdf"
  %}

  {% include program-item.html
    break = "Break"
  %}

  {% include program-item.html
    chair = "Thomas Sewell"
    num-talks = 3
    id = "p-binary-verification"
    time = "10:30 - 11:00"
    title = "A Deep Dive into seL4’s Binary Verification Story"
    presenter = "Nick Spinale"
    affiliation = "Colias Group"
    abstract = "abstracts2025.html#a-binary-verification"
    youtube = "https://youtu.be/5mDDJhD_vC4?si=KkCLuv1OmRcXclku"
    slides = "slides/binary-verification.pdf"
  %}

  {% include program-item.html
    time = "11:00 - 11:15"
    title = "Discussion, BoF Teasers"
  %}

  {% include program-item.html
    time = "11:15 - 12:00"
    title = "BoFs"
  %}

  {% include program-item.html
    break = "Lunch"
  %}

  {% include program-item.html
    chair = "Robbie VanVossen"
    num-talks = 3
    time = "13:30 -  14:15"
    title = "BoFs"
  %}

  {% include program-item.html
    time = "14:15 - 14:30"
    title = "BoF Wrap-up"
    youtube = "https://youtu.be/0v-M_QBnkDI?si=k9SxiU4S-TWv-gks"
  %}

  {% include program-item.html
    time = "14:30 - 14:45"
    title = "Concluding Remarks"
    presenter = "Robbie VanVossen"
    affiliation = "DornerWorks"
    youtube = "https://youtu.be/eSM23ixXefg?si=N3o8_6sg0ydvP_wd"
  %}

{% include program-end.html %}
{% include section-end.html %}

<!-- Social Activities section -->
{% include section-start.html
  id = "social"
  heading = "Social Activities"
  intro = "A number of informal social activities are being organised for
  Tuesday Sep 2, prior to the summit. The idea is that at least one person
  (whose name is mentioned below) will do this activity at the set time. You're
  welcome to book yourself directly using the link provided, and do the activity
  at the same time. Please note that some activities are free, and others are
  available for purchase either online or onsite."
  %}

<div>
<ul role="list" class="space-y-12 divide-y divide-gray-200 dark:text-light xl:col-span-3">

  {% include summit-list-item.html
    img = "/images/summit/prague-old-town.jpg"
    alt = "Prague Old Town"
    heading = "Prague Old Town & Josefov Walking Tour"
    text = 'Join <a href="https://proofcraft.systems/#june">June Andronick</a> on a walking tour of the old town.<br><br>
    <strong>Date:</strong> Tuesday Sep 2, 2025<br>
    <strong>Time:</strong> 2pm<br>
    <strong>Cost:</strong> Free, but <a href="https://freewalkingtourprague.eu/tours/free/prague-old-town">bookings</a> are essential. Guides earn their money with tips.<br>
    <strong>Details:</strong> <a
    href="https://freewalkingtourprague.eu/tours/free/prague-old-town">
    Free walking tour website</a><br>
    <strong>Location: </strong><a
    href="https://maps.app.goo.gl/k2sTRK61mMoUYKCV6">Powder Tower
    Tower</a>'
  %}

  {% include summit-list-item.html
    img = "/images/summit/prague-castle.jpg"
    alt = "Prague Castle"
    heading = "Prague Castle"
    text = 'Visit the Prague Castle.
    <br><br>
    We&apos;re looking for a volunteer to be the
    point of contact for this activity. Please email <a
    href="mailto:summit@sel4.systems">summit@sel4.systems</a> if you&apos;re
    interested.
    <br><br>
    <strong>Date:</strong> Tuesday Sep 2, 2025<br>
    <strong>Time:</strong> 2pm<br>
    <strong>Cost:</strong> ~18 Euro, book <a href="https://www.ticketportal.cz/event/PRAZSKY-HRAD-2025-PRAGUE-CASTLE-2025?imedium=search">online</a>.<br>
    <strong>Details:</strong> Visiting the <a
    href="https://www.hrad.cz/en/prague-castle-for-visitors">castle</a><br>
    <strong>Location: </strong><a
    href="https://maps.app.goo.gl/FwhgnYsLwpjdWzpP7">Prague Castle</a>'
  %}

  {% include summit-list-item.html
    img = "/images/summit/prague-clock.jpg"
    alt = "Prague Astronomical Clock Tower"
    heading = "Prague Astronomical Clock Tower"
    text = 'Join <a href="https://nickspinale.com/">Nick Spinale</a> on a guided tour of the Prague Astronomical Clock Tower.
    <br><br>
    <strong>Date:</strong> Tuesday Sep 2, 2025<br>
    <strong>Time:</strong> 1:45pm, for a tour starting at 2pm<br>
    <strong>Cost:</strong> ~14 Euro entry + ~6 Euro for the guided tour.<br>
    <strong>Details:</strong> <a
    href="https://prague.eu/en/objevujte/old-town-hall-with-astronomical-clock-staromestska-radnice-s-orlojem/">
    Official website</a><br>
    <strong>Location: </strong>Ticket Office on the ground floor of the <a
    href="https://maps.app.goo.gl/yEHvAGiYjzyrSCLt8">Astronomical Clock
    Tower</a>'
  %}

  {% include summit-list-item.html
    img = "/images/summit/prague-river.jpg"
    alt = "Prague River"
    heading = "Prague Sightseeing Cruise"
    text = 'Join <a href="https://www.linkedin.com/in/martindecky/">Martin Decky</a> on the Prague River sightseeing cruise.
    <br><br>
    <strong>Date:</strong> Tuesday Sep 2, 2025<br>
    <strong>Time:</strong> 2pm<br>
    <strong>Cost:</strong> Tickets from 18 Euro<br>
    <strong>Details:</strong> Find out more on the <a
    href="https://www.prague-boats.cz/one-hour-river-cruise">
    cruise website</a><br>
    <strong>Location: </strong><a
    href="https://maps.app.goo.gl/EBjaujbvhoYFPCW26">Prague Boats</a>'
  %}

</ul>
</div>
{% include section-end.html %}