---
# Copyright 2023 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
title: The seL4 Summit
redirect_from:
 - /Foundation/Summit/home.pml
 - /Foundation/Summit/index.html
layout: card
sub: '
<p>
  The seL4 Summit is the annual international summit on the seL4 microkernel, the
world&apos;s most highly assured OS kernel, as well as on all seL4-related technology, tools, infrastructure,
products, projects, and people.
</p>'
---


<div class="card-grid-3">

  {% include summit-card.html
  img="/images/summit/sel4_summit_2026-m.svg"
  year="2026"
  %}

  {% include summit-card.html
    img="/images/summit/sel4_summit_2025.svg"
    year="2025"
  %}

  {% include summit-card.html
    img="/images/summit/sel4_summit_2024.svg"
    year="2024"
    %}

  {% include summit-card.html
    img="/images/summit/sel4_summit_2023.svg"
    year="2023"
    %}

  {% include summit-card.html
    class="lg:col-span-1 lg:col-start-2"
    img="/images/summit/sel4_summit_2022.svg"
    year="2022"
    %}
</div>
