---
# Copyright 2024 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
---
{%- comment %}
Use a query string with the time of the last build to cache bust site CSS file.
{% endcomment -%}
{%- assign cache_bust = site.time | date:'?v=%s' -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} | {{ site.title }}</title>
    <meta name="author" content="seL4 Foundation">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url}}">
    <link href="{{ '/css/sel4.css' | relative_url | append: cache_bust }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel=alternate title="Atom Feed" type=application/atom+xml href="{{ '/feed.xml' | relative_url }}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{ '/images/icons/apple-touch-icon-57x57.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ '/images/icons/apple-touch-icon-114x114.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ '/images/icons/apple-touch-icon-72x72.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ '/images/icons/apple-touch-icon-144x144.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ '/images/icons/apple-touch-icon-60x60.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ '/images/icons/apple-touch-icon-120x120.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ '/images/icons/apple-touch-icon-76x76.png' | relative_url }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ '/images/icons/apple-touch-icon-152x152.png' | relative_url }}">
    <link rel="icon" type="image/png" href="{{ '/images/icons/favicon-96x96.png' | relative_url }}" sizes="96x96">
    <link rel="icon" type="image/png" href="{{ '/images/icons/favicon-32x32.png' | relative_url }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ '/images/icons/favicon-16x16.png' | relative_url }}" sizes="16x16">
    <meta name="application-name" content="&nbsp;">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ '/images/icons/mstile-144x144.png' | relative_url }}">
    <meta name="msapplication-square70x70logo" content="{{ '/images/icons/mstile-70x70.png' | relative_url }}">
    <meta name="msapplication-square150x150logo" content="{{ '/images/icons/mstile-150x150.png' | relative_url }}">
    <meta name="msapplication-wide310x150logo" content="{{ '/images/icons/mstile-310x150.png' | relative_url }}">
    <meta name="msapplication-square310x310logo" content="{{ '/images/icons/mstile-310x310.png' | relative_url }}">
    <link rel="shortcut icon" href="{{ '/images/icons/favicon.ico' | relative_url }}">
    <script defer src="{{ '/js/menu.js' | relative_url }}"></script>
{%- if page.extra-script-src -%}
{%   for src in page.extra-script-src %}
    <script defer src="{{ src }}" ></script>
{%-  endfor -%}
{%  endif %}
  </head>
  <body class="flex flex-col h-screen {%unless page.nodark%}dark:bg-[#030020]{%endunless%} bg-white">
{%- assign menu = site.data.menu -%}
{% include header.html %}
    <div class="flex-1 overflow-y-auto">
      <main id="page-top">
{{ content }}
      </main>
{%- assign footer = site.data.footer -%}
{% include footer.html %}
   </div>
  </body>
</html>
