---
# Copyright 2023 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
layout: base
---

<div class="flex flex-wrap justify-center items-center section-borders">
  {% unless page.no_title_heading %}
  <div class="flex-none w-full">
    {% assign h1 = page.h1 | default: page.title %}
    {% include heading.html
       pre = page.pre
       pre_link = page.pre_link
       h1 = h1
       sub = page.sub
    %}
  </div>
  {% endunless %}
  <article class="theprose -mt-10">
    {{ content }}
  </article>
</div>
