---
# Copyright 2023 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
layout: base
---

<div class="max-w-[88rem] mx-auto">
  {% if page.toc %}
  <div class="grid grid-cols-1 lg:grid-cols-[17.25rem_auto] xl:grid-cols-[20rem_auto]">
    <nav class="hidden lg:block lg:sticky left-8 top-4 pt-8 pr-8 h-[calc(100vh-7rem)] mb-10
                overflow-y-auto overflow-x-hidden
                border-r border-gray-200 dark:border-gray-800">
      {{ content | toc_only }}
    </nav>
  {% endif %}
    <div class="max-w-7xl py-12 px-6 sm:px-12 mx-auto">
      {% unless page.no_title_heading %}
      {% assign h1 = page.h1 | default: page.title %}
      {% include heading.html
          pre = page.pre
          pre_link = page.pre_link
          h1 = h1
          sub = page.sub
          img = page.img
          img_class = page.img_class
          alt = page.alt
          svg = page.svg
          svg_class = page.svg_class
      %}
      {% endunless %}
      {% if page.toc %}
      <article class="section-borders pl-0 lg:pl-8 xl:pl-0 mx-auto -mt-8 prose xl:prose-lg lg:max-w-2xl xl:max-w-3xl dark:prose-invert">
      {% else %}
      <article class="section-borders mx-auto theprose -mt-8">
      {% endif %}
        {{ content }}
      </article>
    </div>
  {% if page.toc %}
  </div>
  {% endif %}
</div>
