---
# Copyright 2023 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: CC-BY-SA-4.0
layout: default
---

{%- assign this_year = page.year | append: "" -%}

<div>
{%- assign newest_url = site.pages | where: "layout", "news" | map: "name" | sort | pop | last -%}
{%- assign newest_year = newest_url | split: "." | first -%}
{%- assign url = "/news/" | relative_url %}
    News from {%- if newest_year == this_year %} older {%- else %} other {%- endif %} years:
{%- for i in (2020..newest_year) -%}
{%-   unless i == page.year %}
      <a href="{{ url }}{{ i }}">{{ i }}</a>
{%- else %}
     {{ i }}
{%- endunless -%}
{%- endfor %}
</div>

{%  for news_item in site.news-items reversed -%}
{%-   assign date = news_item.date | date: "%d %b %Y" -%}
{%-   assign year = date | date: "%Y" -%}
{%-   assign default_anchor = news_item.date | date: "%m-%d" -%}
{%-   assign anchor = news_item.anchor | default: default_anchor -%}
{%-   if year == this_year -%}
<div class="news-item tag-link" id="{{ anchor }}">
  <a href="#{{ anchor }}"><span class="tag-span"># </span></a>
  {{ date }}: {{ news_item.title }}
</div>
<div>
{%    if news_item.img -%}
{%-     if news_item.link -%}
  <a href="{{ news_item.link }}">
{%-     endif -%}
    <img src="{{ news_item.img | relative_url }}" style="width:{{ news_item.width | default: '20%' }};" class="news-img" alt="{{ news_item.alt | default: news_item.title }}">
{%-     if news_item.link -%}
  </a>
{%-     endif -%}
{%-   endif %}
{{ news_item.content }}
</div>
<div class="news-finish"></div>

{%   endif -%}
{%- endfor -%}
