/*
 * Copyright 2020 seL4 Project a Series of LF Projects, LLC.
 * SPDX-License-Identifier: GPL-2.0-only
 */
footer {
	padding-top: 32px;
	padding-bottom: 16px;
}

.jumbotron {
	/*color: #000;
	background-image: url('/images/sel4-banner.jpg');
	background-position: 80% 0%;*/
}

@media print {
	#site-navigation { display: none; }
	#site-header a[href]:after {
	    content: none;
	}
}

table.alttable tr:nth-child(even) {
    background-color: #f0f0f0;
}

.nav-pills {
    padding-top: 0px;
    margin-bottom: 20px !important;
}

.breadcrumb {
    margin-bottom: 0px;
}

h1 {
    margin-bottom: 5px;
}

.hp_grid_container {
}

.homepage_grid {
  display: grid;
  display: inline-grid;
  grid-template-columns: auto;
  /*grid-column-gap: 10px;
  grid-row-gap: 10px;*/
  margin: 20px;
  padding: 10px;
}

@media screen and (min-width: 60em) {
  .homepage_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.homepage_item {
  display: grid;
  grid-template-columns: 1fr;
  /*grid-template-rows: 1fr 0.25fr 0.9fr;*/
  grid-template-rows: 100px 10px 60px;
  grid-template-areas: "hp_pic" "hp_title" "hp_text";
  grid-row-gap: 10px;
  align-content: center;
  justify-self: center;
  padding: 20px;
  border-radius: 10px;

  /* For making the whole div clickable */
  cursor: pointer;
  position: relative;
}
.homepage_item:hover {
  background-color: #cfcfcf;
}

/* For making the whole div clickable */
a.divLink {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   text-decoration: none;
   /* Makes sure the link doesn't get underlined */
   z-index: 10;
   /* raises anchor tag above everything else in div */
   background-color: white;
   /*workaround to make clickable in IE */
   opacity: 0;
   /*workaround to make clickable in IE */
   filter: alpha(opacity=0);
   /*workaround to make clickable in IE */
}

.hp_pic { 
  align-self: center;
  justify-self: center;
  grid-area: hp_pic; 
}

.hp_title { 
  grid-area: hp_title;
  justify-self: center;
  align-self: center;
  font-size:1.6em;
  font-weight: bold;
}

.hp_text { 
  grid-area: hp_text;
  justify-self: center;
  margin: 10px;
  text-align: center;
}


.people_grid {
  display: grid;
  display: inline-grid;
  grid-template-columns: auto;
  /*grid-column-gap: 10px;
  grid-row-gap: 10px;*/
}

@media screen and (min-width: 60em) {
  .people_grid {
    grid-template-columns: repeat(4, 200px);
  }
}


.person {
  display: grid;
  grid-template-columns: 1fr;
  /*grid-template-rows: 1fr 0.25fr 0.9fr;*/
  grid-template-rows: 100px 10px;
  grid-template-areas: "person_pic" "person_title";
  grid-row-gap: 20px;
  align-content: center;
  justify-self: center;
  padding: 20px;
  border-radius: 10px;

  /* For making the whole div clickable */
  cursor: pointer;
  position: relative;
}
.person:hover {
  background-color: #cfcfcf;
}


.person_pic { 
  align-self: center;
  justify-self: center;
  grid-area: person_pic; 
}

.person_title { 
  grid-area: person_title;
  justify-self: center;
  align-self: center;
  font-size:1.1em;
}


/* note the plural */
.sponsors {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /*grid-template-columns: repeat(3, 1fr);*/
  /*grid-template-rows: repeat(3, 1fr);*/
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.sponsor {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.251fr;
  grid-column-gap: 15px;
  grid-row-gap: 10px;
  align-content: center;

}

.sponsor-pic {
  align-self: center;
  justify-self: center;
  grid-area: 1 / 1 / 2 / 2;
}

.sponsor-name {
  grid-area: 2 / 1 / 3 / 2;
  justify-self: center;
  font-size:1.2em;
}

.governing-container {
  display: grid;
  grid-template-columns: 30px auto;
  grid-gap: 10px 70px;

}

.governing-item-pic {
  grid-row-start: 1;
  grid-row-end: span 2;
}

.governing-item-heading {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: span 1;
}

.governing-item-text {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: span 2;
}
